{% if content %}
	<div{{attributes}}>
		<div class="cart-block--summary">
			<a class="cart-block--link__expand" href="{{ url }}">
				<span class="cart-block--summary__icon {{ content ? 'has_count' : '' }}"></span>
				{% if content %}
					<span class="cart-block--summary__count">{{ count }}</span>
				{% endif %}
			</a>
		</div>
		{% if content %}
			<div class="cart-block--contents">
				<div class="cart-block--contents__inner">
					<div class="cart-block--contents__items">
						{{ content }}
					</div>
					<div class="cart-block--contents__links">
						{{ links }}
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
</div>
