{#
/**
 * @file
 * Default theme implementation to present a commerce ticket entity.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_ticket()
 */
#}

{{ attach_library('portico_sunset/ticket') }}

{% set variation = elements['#commerce_ticket'].getOrderItem.getPurchasedEntity %}
<img src="/themes/custom/portico_sunset/logo_big.png" width="250px">
<p>Students' Union UCL event ticket</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>
	<hr/>
</p>
<br/>
<br/>
<h2>{{ elements['#commerce_ticket'].getOrderItem.getPurchasedEntity.getProduct.label }}
	{{ variation.field_event_variation_title.value ? ' - ' ~ variation.field_event_variation_title.value : '' }}</h2>

<br>
<p>
	<hr/></p>

<br>
<div class="ticket__overline--medium">
	{{ 'Event date and details:'|t }}
</div>
<div class="ticket__title--medium">
	{% if variation.field_event_variation_title.value is not empty %}
		<b>{{ variation.field_event_variation_title.value }}</b>
		<br><br>
	{% endif %}
	{{ variation.field_date_range.value|format_date("long") }}
	{{ variation.field_date_range.end_value|format_date("long") ? ' to ' ~ variation.field_date_range.end_value|format_date("long") : ''}}
	<br><br>
	For up to date information visit:
	<a href="https://studentsunionucl.org{{variation.toUrl}}">https://studentsunionucl.org{{variation.toUrl}}</a>
</div>

<div class="ticket__overline--medium">
	{{ 'Purchaser:'|t }}
</div>
<div class="ticket__title--medium">
	{{ elements['#commerce_ticket'].getOrder.getCustomer.field_full_name.value }}<br>
	{{ elements['#commerce_ticket'].getOrder.getCustomer.name.value }}
	<br>
	{{ elements['#commerce_ticket'].getOrder.mail.value != elements['#commerce_ticket'].getOrder.getCustomer.name.value ? elements['#commerce_ticket'].getOrder.mail.value : '' }}
</div>

<div class="ticket__overline--medium">
	{{ 'Ticket information'|t }}
</div>
<div class="ticket__title--medium">
	<b>Ticket number:</b>
	{{ elements['#commerce_ticket'].getTicketNumber() }}<br>
	<b>Date of purchase:</b>
	{{ elements['#commerce_ticket'].getOrder.created.value|format_date("long")  }}<br>
	<b>Order number:</b>
	{{ elements['#commerce_ticket'].getOrder.getOrderNumber() }}<br>
	{# Ticket ID:
												{{ content.ticket_uuid_short }} #}
</div>

<div class="ticket__overline--small">
	Terms & conditions:
</div>
<div class="ticket__title--small">
	All tickets are purchased according to our terms and conditions, available at
	<a href="https://studentsunionucl.org/shop/online-shop-terms-and-conditions">https://studentsunionucl.org/shop/online-shop-terms-and-conditions</a>.
</div>
