{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{#
{{dump(product|keys)}}
#}

<article{{ attributes.addClass('product--clothing') }}>
  <div class="product--clothing-left">
    {% if product_entity.field_images|length > 0 %}
      {{ product.field_images }}
    {% endif %}
    {{ product.variation_field_images }}
  </div>
  <div class="product--clothing-right">
    <div class="field--name-title">{{ product_entity.title.0.value }}</div>
    <div class="product--clothing-price">
      {% if product.variation_list_price > 0 %}{{ product.variation_list_price }}{% endif %}{{ product.variation_price }} 
    </div>
    {{ product.body }}
    {{ product.variations }} 
    <div class="product--quick-links">
      <a href="/shop/size-guide"  target="_blank">Size guide</a><br><a href="/shop/terms-and-conditions" target="_blank">Terms and conditions</a>
    </div>
  </div>
</article>
