{#
/**
 * @file
 * Template for the order receipt.
 *
 * Available variables:
 * - ticket: The ticket entity.
 * - order_entity: The order entity.
 * - billing_information: The billing information.
 * - shipping_information: The shipping information.
 * - payment_method: The payment method.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
{% set variation = ticket.getPurchasedEntity %}
{% set product = variation.getProduct %}
{% set label = variation.label %}

<table style="margin: 15px auto 0 auto; font-family: arial,sans-serif; border-width: 0px;">
	<tbody>
		<tr>
			<td>
				<table style=" min-width: 768px; margin: 5px auto 0 auto; border-width: 0px; padding: 20px;">

					<tbody>
						<tr>
							<td>
								<a href="{{ url('<front>') }}" style="color: #f26640; text-decoration: none; font-weight: bold; margin-top: 15px;">{{ order_entity.getStore.label }}</a>
							</td>
						</tr>
						<tr>
							<td style="font-weight: bold; padding-top:15px; padding-bottom: 15px; text-align: left; border-top: 0px solid #FFFF; border-bottom: 0px solid #cccccc">
								{% block ticket_receipt_subtitle %}
									{{ 'Your ticket for @label: @ticket_number for order #@number.'|t({'@label': label, '@ticket_number': ticket.getTicketNumber, '@number': order_entity.getOrderNumber, '@order_id': order_entity.id}) }}
								{% endblock %}
							</td>
						</tr>
						<tr>
							<td>
								{% block ticket_information %}
									{{ 'Your ticket is attached. You can also view all of your tickets at any time by <a href="https://studentsunionucl.org/user">logging in to our website</a>, going to My Account, and going to the Tickets tab.'|t }}
								{% endblock %}
							</td>
						</tr>
						<tr>
							<td>
								<b>{{ label }}</b><br>
								{% if variation.field_event_variation_title.value %}
									<b>{{ variation.field_event_variation_title.value }}</b><br>
								{% endif %}
								<br>
								{{ variation.field_date_range.value|format_date("long") }}
								{{ variation.field_date_range.end_value|format_date("long") ? ' to ' ~ variation.field_date_range.end_value|format_date("long") : ''}}
								<br><br>
								For up to date information visit:
								<a href="https://studentsunionucl.org{{variation.toUrl}}">https://studentsunionucl.org{{variation.toUrl}}</a>
							</td>
						</tr>
						<tr>
							<td>
								{% block info_for_ticketholders %}
									<p>
										<b>Information for ticketholders is provided below if relevant. This is up to date at the time of this e-mail, but you should
											<a href="https://studentsunionucl.org{{variation.toUrl}}">check the event page</a>
											closer to the date.
										</b>
									</p><hr>

									{% if variation.field_event_ticketholder_info.value %}
										<p>{{ variation.field_event_ticketholder_info.value|raw }}</p>
									{% endif %}

									{% if product.field_event_ticketholder_info.value %}
										<p>{{ product.field_event_ticketholder_info.value|raw }}</p>
									{% endif %}

								{% endblock %}
							</td>
						</tr>
					</tbody>
				</td>
			</td>
		</tr>
		<tr>
			<td>
				You can view the details for this order on your profile on
				<a href="https://studentsunionucl.org/user/{{ order_entity.getCustomerId }}/orders/{{ order_entity.id }}">our website</a>, and at any time you can view your order history
				<a href="https://studentsunionucl.org/user/{{ order_entity.getCustomerId }}/orders">here</a>.
			</td>
		</tr>
		<tr>
			<td>
				{% block additional_information %}
					{{ 'Thank you for your order!'|t }}
				{% endblock %}
			</td>
		</tr>
	</tbody>
</table>
