{#
/**
 * @file
 * Two column template for the product add/edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-product-form clearfix">
	{{ form }}
	</div>
