{#
/**
* @file
* News+ Lite's theme implementation for a page title.
*
* Available variables:
* - title_attributes: HTML attributes for the page title element.
* - title_prefix: Additional output populated by modules, intended to be
* displayed in front of the main title tag that appears in the template.
* - title: The page title, for use in the actual content.
* - title_suffix: Additional output populated by modules, intended to be
* displayed after the main title tag that appears in the template.
*/
#}
{% set title_attributes = title_attributes.addClass('title') %}

{{ title_prefix }}
{% if title %}
<h1 id="page-title" {{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
{% if subtitle %}
<h2 id="page-subtitle" {{ title_attributes.addClass('page-subtitle') }}>{{ subtitle }}</h1>
  {% endif %}
  {% endif %}
  {{ title_suffix }}