{% extends "page.html.twig" %}

{% block pagecontainer %}
	<div id="pagecontainer" class="{{page_base_color ? 'page-base-' ~ page_base_color : '' }}">
		<div class="clearfix">
			{% if page.content %}
				<div id="page-content-container-fullwidth">
					{{ page.content }}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block toolbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block header %}{% endblock %}
