{#
/**
* @file
* Display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template normally located in the
* core/modules/system directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
* "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
* administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
* linking to the front page. This includes the language domain or prefix.
* - logo: The url of the logo image, as defined in theme settings.
* - site_name: The name of the site. This is empty when displaying the site
* name has been disabled in the theme settings.
* - site_slogan: The slogan of the site. This is empty when displaying the site
* slogan has been disabled in theme settings.

* Page content (in order of occurrence in the default page.html.twig):
* - node: Fully loaded node, if there is an automatically-loaded node
* associated with the page and the node ID is the second argument in the
* page's path (e.g. node/12345 and node/12345/revisions, but not
* comment/reply/12345).
*
* Regions:
* - page.header: Items for the header region.
* - page.highlighted: Items for the highlighted region.
* - page.primary_menu: Items for the primary menu region.
* - page.secondary_menu: Items for the secondary menu region.
* - page.featured_top: Items for the featured top region.
* - page.content: The main content of the current page.
* - page.sidebar_first: Items for the first sidebar.
* - page.sidebar_second: Items for the second sidebar.
* - page.featured_bottom_first: Items for the first featured bottom region.
* - page.featured_bottom_second: Items for the second featured bottom region.
* - page.featured_bottom_third: Items for the third featured bottom region.
* - page.footer: Items for the footer
* - page.footer_fifth: Items for the fifth footer column.
* - page.breadcrumb: Items for the breadcrumb region.
*
* @see template_preprocess_page()
* @see bartik_preprocess_page()
* @see html.html.twig
*/
#}

{% set full_width = is_front or node.getType == 'page_full' %}

{# {% include '@portico_sunset/parts/to.top.html.twig' %} #}

{% if page.menu %}
	{% block menu %}
		<div id="menu">
			<div id="menu-inside" class="clearfix">
				{{ page.menu }}
			</div>
		</div>

		<div id="submenu-holder"></div>
	{% endblock menu %}
{% endif %}

{% if page.postnav %}
	{% block postnav %}
		<div id="postnav">
			<div id="postnav-inside" class="clearfix">
				{{ page.postnav }}
			</div>
		</div>
	{% endblock postnav %}
{% endif %}

{% if page.preheader %}
	{% block preheader %}
		<div id="page-preheader" class="clearfix">
			{{ page.preheader }}
		</div>
	{% endblock preheader %}
{% endif %}

{% if not is_front %}
	{% block header %}
		<div class="headers-wrapper {{page_base_color ? 'page-base-' ~ page_base_color : '' }}">
			<div id="header" class="{{ header_image_class }}" style="{{ header_style }}">
				{% if mt_site_name %}
					<div class="site-name site-name__header">
						<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ mt_site_name }}</a>
					</div>
				{% endif %}

				{% if banner_image %}
					<div id="header-background" class="{{ banner_duotone }}" style="background-image: url({{ banner_image }});"></div>
				{% endif %}

				{# #header-inside #}
				<div id="header-inside" class="clearfix">
					<div class="header-area container">
						<div class="page-title-container">
							{% if logo_in_header %}
								<div class="header-logo" style="background-image: url({{ logo }});"></div>
							{% endif %}

							<div class="">
								<h1 id="page-title" {{ title_attributes.addClass('page-title').addClass('colour-' ~ header_colour) }}>{{ title }}</h1>
							</div>

							{% if subtitle %}
								<div class="page-subtitle-container">
									<h2 class="page-subtitle">{{ subtitle }}</h2>
								</div>
							{% endif %}
						</div>

						{% if page.header %}
							{{ page.header }}
						{% endif %}
					</div>
				</div>
				{# EOF: #header-inside #}
			</div>
		</div>
	{% endblock header %}
{% endif %}

{% if show_toc %}
	{% block toc %}
		<div class="container-toc">
			<div class="region-toc container"></div>
		</div>
	{% endblock toc %}
{% endif %}

{% if page.page_intro %}
	{% block page_intro %}
		<div id="page-intro" class="clearfix">
			<div class="{{ full_width ? 'container-fluid' : 'container' }}">
				<div class="row">
					<div
						class="col-md-12">
						{# #page-intro-inside #}
						<div id="page-intro-inside" class="clearfix">
							{{ page.page_intro }}
						</div>
						{# EOF: #page-intro-inside #}
					</div>
				</div>
			</div>
		</div>
	{% endblock page_intro %}
{% endif %}

{% block pagecontainer %}
	<div id="pagecontainer" class="{{page_base_color ? 'page-base-' ~ page_base_color : '' }}">
		<div id="pagecontainer-inside" class="clearfix">
			{% if not is_front and page.toolbar and page.toolbar | render %}
				{% block toolbar %}
					<div id="toolbar">
						<div id="toolbar-inside" class="clearfix">
							{{ page.toolbar }}
						</div>
					</div>
				{% endblock toolbar %}
			{% endif %}

			{% block pageblock %}
				<div id="page" class="clearfix {{ unpublished ? 'unpublished' : '' }} {{node ? 'page-node-type-' ~ node.getType : ''}} {{group ? 'page-group-type-' ~ group.getType : ''}}">
					<div
						class="{{ full_width ? 'container-fluid' : 'container' }}">
						{# #page-inside #}
						<div id="page-inside">

							{% if page.top_content %}
								{# #top-content #}
								<div
									id="top-content">
									{# #top-content-inside #}
									<div id="top-content-inside" class="clearfix">
										<div class="row">
											<div class="col-md-12">
												{{ page.top_content }}
											</div>
										</div>
									</div>
									{# EOF:#top-content-inside #}
								</div>
								{# EOF: #top-content #}
							{% endif %}

							{# #main-content #}
							<div id="main-content" class="{{ not is_front and page.toolbar and page.toolbar | render ? 'has-sidebar' : '' }}">
								<div class="row g-0">
									{% if page.sidebar_first %}
										{% block sidebar_first %}
											<aside
												class="{{ sidebar_first_grid_class }}">
												{# #sidebar #}
												<section id="sidebar-first" class="sidebar clearfix">
													{{ page.sidebar_first }}
												</section>
												{# EOF:#sidebar #}
											</aside>
										{% endblock %}
									{% endif %}

									<section id="page-content-container" class="{{ full_width ? 'col-md-12' : main_grid_class }}">

										{% if page.highlighted %}
											<div id="highlighted">
												<div id="highlighted-inside" class="clearfix">
													{{ page.highlighted }}
												</div>
											</div>
										{% endif %}

										{% if page.promoted %}
											{# #promoted #}
											<div
												id="promoted" class="clearfix">
												{# #promoted-inside #}
												<div id="promoted-inside" class="clearfix">
													{{ page.promoted }}
												</div>
												{# EOF: #promoted-inside #}
											</div>
											{# EOF: #promoted #}
										{% endif %}

										{# #main #}
										<div id="main" class="clearfix">

											{% block content %}
												{% if page.content %}
													{{ page.content }}
												{% endif %}
											{% endblock %}

										</div>
										{# EOF:#main #}
									</section>

									{% if page.sidebar_second and page.sidebar_second|render|striptags|trim|length > 0 and not
							full_width %}
										{% block sidebar_second %}
											<aside
												id="sidebar" class="{{ sidebar_second_grid_class }}">
												{##sidebar#}
												<section id="sidebar-second" class="sidebar clearfix">
													{{ page.sidebar_second }}

													{% include '@portico_sunset/parts/related-sidebar.html.twig' %}
												</section>
												{# EOF:#sidebar #}
											</aside>
										{% endblock %}
									{% endif %}

								</div>
							</div>
							{# EOF:#main-content #}

						</div>
						{# EOF: #page-inside #}

					</div>

				</div>
			{% endblock pageblock %}
		</div>
	</div>
{% endblock pagecontainer %}

{% if page.prefooter %}
	{% block prefooter %}
		<div id="prefooter" class="clearfix">
			<div
				class="container">
				{# #prefooter-inside #}
				<div id="prefooter-inside" class="clearfix">
					{{ page.prefooter }}
				</div>
				{# EOF:#prefooter-inside #}
			</div>
		</div>
	{% endblock prefooter %}
{% endif %}

{% if page.footer %}
	{% block footer %}
		<footer id="footer" class="clearfix">
			<div class="container">
				<div class="{{ footer_grid_class }}">
					<div class="footer-area">
						{{ page.footer }}
					</div>
				</div>
			</div>
		</footer>
	{% endblock footer %}
{% endif %}
