{% if page.menu %}
	{% block menu %}
		<div id="menu">
			<div id="menu-inside" class="clearfix">
				{{ page.menu }}
			</div>
		</div>
	{% endblock menu %}
{% endif %}

{% if page.content %}
	{{ page.content }}
{% endif %}

{% if page.footer %}
	{% block footer %}
		<footer id="footer" class="clearfix">
			<div class="container">
				<div class="{{ footer_grid_class }}">
					<div class="footer-area">
						{{ page.footer }}
					</div>
				</div>
			</div>
		</footer>
	{% endblock footer %}
{% endif %}
