{#
    /**
     * @file
     * Default theme fallback for all blocks with a name matching "example/*"
     *
     * Available variables:
     * - block_name: The Gutenberg block name.
     * - block_content: The content of this block.
     * - block_attributes: The attributes of this block.
     * - attributes: array of HTML attributes populated by modules, intended to
     *   be added to the main container tag of this template.
     *
     * @see template_preprocess_gutenberg_block()
     * @see template_preprocess_gutenberg_block__example()
     *
     * @ingroup themeable
     */
    #}
{% from "@su_views_display/card.macro.html" import card %}

{{ card(
        ['col_auto', 'mr-3', 'ml-3', 'mb-5'],
        'card-portrait',  
        block_attributes.card_link, 
        block_attributes.card_title_field, 					 
        block_attributes.card_subheading_1, 
        block_attributes.card_subheading_2, 
        block_attributes.card_body_text_preview, 
        block_attributes.body_box,
        block_attributes.price, 
        block_attributes.card_button_text,
        block_attributes.imageUrl, 
        block_attributes.duotone,
        block_attributes.host_icon,
        block_attributes.host_text,
        block_attributes.image_box
    )
    }}
