{#
/**
* @file
* Default theme fallback for all blocks with a name matching "example/*"
*
* Available variables:
* - block_name: The Gutenberg block name.
* - block_content: The content of this block.
* - block_attributes: The attributes of this block.
* - attributes: array of HTML attributes populated by modules, intended to
* be added to the main container tag of this template.
*
* @see template_preprocess_gutenberg_block()
* @see template_preprocess_gutenberg_block__example()
*
* @ingroup themeable
*/
#}
{{ drupal_entity('webform', block_attributes.webform_id) }}