{#
    /**
     * @file
     * Default theme fallback for all blocks with a name matching "example/*"
     *
     * Available variables:
     * - block_name: The Gutenberg block name.
     * - block_content: The content of this block.
     * - block_attributes: The attributes of this block.
     * - attributes: array of HTML attributes populated by modules, intended to
     *   be added to the main container tag of this template.
     *
     * @see template_preprocess_gutenberg_block()
     * @see template_preprocess_gutenberg_block__example()
     *
     * @ingroup themeable
     */
    #}

{% if block_attributes.entity_type == 'event' or block_attributes.entity_type is empty  %}
	{% set view = 'whats_on' %}
	{% set display = 'block_tagged' %}
{% elseif block_attributes.entity_type == 'news' %}
	{% set view = 'content_cards' %}
	{% set display = 'block_tagged_news' %}
{% else %}
	{% set view = 'content_cards' %}
	{% set display = 'block_tagged' %}
{% endif %}

{% if drupal_view_result(view, display, block_attributes.tag_id) is not empty %}
	<div{{attributes}}>
		{% if block_attributes.title is not empty %}
			<h2>{{block_attributes.title}}</h2>
		{% endif %}
		{{ drupal_view(view, display, block_attributes.tag_id) }}
	</div>
{% endif %}
