<div style="height: 0; width: 0; position: absolute; top: -1000px;">
	<svg class="svg">
		<clipPath id="clip-path-union-u" clippathunits="objectBoundingBox">
			<path d="m1,0 c-0.333,0,-0.667,0,-1,0 l0,0.517 c0,0.141,0.038,0.251,0.114,0.33 c0.097,0.102,0.226,0.152,0.386,0.152 c0.139,0,0.257,-0.043,0.353,-0.129 l0.148,0.129 l0,-1"></path>
		</clipPath>
	</svg>
</div>
