{# // Need to update these in:
// - _duotones.scss
// - duotones.html.twig
// - su_views_display_get_random_duotone
// - su_gutenberg_blocks - shared.js #}

<!--           see https://yoksel.github.io/svg-gradient-map/#/

Also: https://tympanus.net/codrops/2019/02/05/svg-filter-effects-duotone-images-with-fecomponenttransfer/
https://alistapart.com/article/finessing-fecolormatrix/
https://codepen.io/jacobberglund/pen/ORNQAr           -->
<svg style="position: fixed;"
  width="0"
  height="0"
  viewBox="0 0 1024 640"
  id="duotone"
  preserveAspectRatio="xMidYMid slice">
  <defs>
    <filter id="yellow-purple-filter">
      <feColorMatrix type="matrix"
        values="0.5703125 0 0 0 0.421875 0.515625 0 0 0 0.24609375 -0.34765625 0 0 0 0.59765625 0 0 0 1 0"></feColorMatrix>
    </filter>

    <filter id="yellow-blue-filter">
      <feColorMatrix type="matrix"
        values="0.9609375 0 0 0 0.03125 0.62890625 0 0 0 0.1328125 -0.015625 0 0 0 0.265625 0 0 0 1 0"></feColorMatrix>
    </filter>

    <filter id="green-blue-filter">
      {# This is a copy of Yellow-blue - green-blue is no longer used #}
      <feColorMatrix type="matrix"
        values="0.9609375 0 0 0 0.03125 0.62890625 0 0 0 0.1328125 -0.015625 0 0 0 0.265625 0 0 0 1 0"></feColorMatrix>
    </filter>

    <filter id="green-purple-filter">
      <feColorMatrix type="matrix"
        values="
                    -0.2578125  0 0 0 0.421875
                    0.41796875  0 0 0 0.24609375
                    0.01953125  0 0 0 0.59765625
                    0           0 0 1 0
                "></feColorMatrix>
    </filter>

    <!--           2020 SU-653:
            Generated from https://yoksel.github.io/svg-gradient-map/#/
            using grascaleby channel all, opacity 1 and blend-mode normal

            yellow #FEC340
            green #2AAA9E
            orange #F26640
            purple #6C3F99
            navy #082244
            team ucl pale blue #BCE2EF
            team ucl purple #562179
            pale yellow #F8E2B0
                  -->

    <filter id="orange-yellow-filter">
      <feColorMatrix type="matrix"
        values=".33 .33 .33 0 0
                .33 .33 .33 0 0
                .33 .33 .33 0 0
                0 0 0 1 0"
        in="SourceGraphic"
        result="colormatrix" />
      <feComponentTransfer in="colormatrix" result="componentTransfer">
        <feFuncR type="table" tableValues="0.95 1" />
        <feFuncG type="table" tableValues="0.4 0.76" />
        <feFuncB type="table" tableValues="0.25 0.25" />
        <feFuncA type="table" tableValues="0 1" />
      </feComponentTransfer>
      <feBlend mode="normal"
        in="componentTransfer"
        in2="SourceGraphic"
        result="blend" />
    </filter>

    <filter id="team-ucl-filter">
      <feColorMatrix type="matrix"
        values=".33 .33 .33 0 0
                .33 .33 .33 0 0
                .33 .33 .33 0 0
                0 0 0 1 0"
        in="SourceGraphic"
        result="colormatrix" />
      <feComponentTransfer in="colormatrix" result="componentTransfer">
        <feFuncR type="table" tableValues="0.34 0.74" />
        <feFuncG type="table" tableValues="0.13 0.89" />
        <feFuncB type="table" tableValues="0.47 0.94" />
        <feFuncA type="table" tableValues="0 1" />
      </feComponentTransfer>
      <feBlend mode="normal"
        in="componentTransfer"
        in2="SourceGraphic"
        result="blend" />
    </filter>

    <filter id="yellow-green-filter">
      {# This is a copy of orange-yellow - yellow-green is no longer in use #}
      <feColorMatrix type="matrix"
        values=".33 .33 .33 0 0
                .33 .33 .33 0 0
                .33 .33 .33 0 0
                0 0 0 1 0"
        in="SourceGraphic"
        result="colormatrix" />
      <feComponentTransfer in="colormatrix" result="componentTransfer">
        <feFuncR type="table" tableValues="0.95 1" />
        <feFuncG type="table" tableValues="0.4 0.76" />
        <feFuncB type="table" tableValues="0.25 0.25" />
        <feFuncA type="table" tableValues="0 1" />
      </feComponentTransfer>
      <feBlend mode="normal"
        in="componentTransfer"
        in2="SourceGraphic"
        result="blend" />
    </filter>

    <filter id="orange-blue-filter">
      <feColorMatrix type="matrix"
        values=".33 .33 .33 0 0
                .33 .33 .33 0 0
                .33 .33 .33 0 0
                0 0 0 1 0"
        in="SourceGraphic"
        result="colormatrix" />
      <feComponentTransfer in="colormatrix" result="componentTransfer">
        <feFuncR type="table" tableValues="0.03 0.95" />
        <feFuncG type="table" tableValues="0.13 0.4" />
        <feFuncB type="table" tableValues="0.27 0.25" />
        <feFuncA type="table" tableValues="0 1" />
      </feComponentTransfer>
      <feBlend mode="normal"
        in="componentTransfer"
        in2="SourceGraphic"
        result="blend" />
    </filter>

    <!-- SU-814 -->
    <filter id="green-paleyellow-filter">
      {# This is a copy of yellow-purple; green-pale-yellow is no longer in use #}
      <feColorMatrix type="matrix"
        values="0.5703125 0 0 0 0.421875 0.515625 0 0 0 0.24609375 -0.34765625 0 0 0 0.59765625 0 0 0 1 0"></feColorMatrix>
    </filter>
  </defs>
</svg>
