{#
/**
 * @file group_membership_record.html.twig
 * Default theme implementation to present Group membership record data.
 *
 * This template is used when viewing Group membership record pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_group_membership_record()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('group_membership_record') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
