.simpleads {
  cursor: pointer;
}

.simpleads.modal {
  padding: 0;
  background: transparent;
}

.simpleads.modal ul {
  padding: 0;
}

.simpleads .simpleads-html5-blocker {
  position:absolute;
  height:100%;
  width:100%;
  z-index:1;
}
.simpleads iframe {
  z-index: 2;
}
