{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb and breadcrumb|length > 1 %}
	<nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
		<h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
		<ol>
			<li>
				<a aria-label="Students' Union UCL home page" href="/"><img src="/{{ base_path ~ directory }}/images/icons/home.svg"/></a>
			</li>
			{% for item in breadcrumb %}
				<li>
					{% if item.url %}
						<a href="{{ item.url }}">{{ item.text }}</a>
						{% if not loop.last %}
							{# hidden for Portico <span class="breadcrumb-separator">/</span> #}
						{% endif %}
					{% else %}
						{{ item.text }}
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	</nav>
{% endif %}
