.App {
  text-align: center;
  background-color: none;
  display: block;
}

.bigCounter {
  font-size: 5em;
}

.counterLabel {
  text-align: center !important;
}

/* dashboard layouts */
.top1 {
  grid-area: top1;
}
.top2 {
  grid-area: top2;
}
.top3 {
  grid-area: top3;
}
.board1 {
  grid-area: board1;
}
.board2 {
  grid-area: board2;
}
.board3 {
  grid-area: board3;
}
.board4 {
  grid-area: board4;
}
.pie {
  grid-area: pie;
}
.map {
  grid-area: map;
}
.votes_over_time {
  grid-area: votes_over_time;
}

/* leaderboard colours */
.App .blue {
  color: var(--su-light-blue);
}
.App .green {
  color: var(--su-teal);
}
.App .orange {
  color: var(--su-coral);
}
.App .pink {
  color: var(--su-pink);
}

.App .election-name {
  font-size: 3em;
  line-height: 1;
}
.App .place {
  font-size: 3rem;
  font-weight: 700;
  /* vertical-align: middle; */
  line-height: 1;
  padding: 0.5rem;
}

.App .chart-wrapper {
  margin: 0 auto;
}

.App .chart-wrapper canvas {
}

.center-flex-child > div {
  justify-content: center;
  margin-bottom: 1em;
}

.votes_over_time.chart-wrapper {
  min-height: 25vh;
}

.chart-wrapper canvas {
  max-width: 100%;
}

/* https://stackoverflow.com/questions/54491645/media-query-syntax-for-reactjs */

/* LARGE */
.App .dashboard-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem 1rem;
  grid-template-areas:
    'top1 top1 top2 top2 top3 top3'
    'board1 board1 board1 board2 board2 board2'
    'pie pie pie votes_over_time votes_over_time votes_over_time'
    'board3 board3 board3 board4 board4 board4'
    'map map map map map map';
}
.pie .chart-wrapper {
  max-width: 15vw;
}

/* MEDIUM */
@media (max-width: 960px) {
  .App .dashboard-container {
    margin: 0 1rem 2rem;
    grid-template-areas:
    'top1 top1 top1 top1 top1 top1'
    'top2 top2 top2 top3 top3 top3'
    'board1 board1 board1 board1 board1 board1'
    'board2 board2 board2 board2 board2 board2'
    'pie pie pie pie pie pie'
    'board3 board3 board3 board3 board3 board3'
    'board4 board4 board4 board4 board4 board4'
    'map map map map map map'
    'votes_over_time votes_over_time votes_over_time votes_over_time votes_over_time votes_over_time';
  }
  .pie .chart-wrapper {
    max-width: 40vw;
  }
}

/* SMALL */
@media (max-width: 736px) {
  .App .dashboard-container {
    margin: 0 1rem 2rem;
    grid-template-areas:
    'top1 top1 top1 top1 top1 top1'
    'top2 top2 top2 top2 top2 top2 '
    'top3 top3 top3 top3 top3 top3'
    'board1 board1 board1 board1 board1 board1'
    'board2 board2 board2 board2 board2 board2'
    'pie pie pie pie pie pie'
    'board3 board3 board3 board3 board3 board3'
    'board4 board4 board4 board4 board4 board4'
    'map map map map map map'
    'votes_over_time votes_over_time votes_over_time votes_over_time votes_over_time votes_over_time'
  }
  .pie .chart-wrapper {
    max-width: 60vw;
  }
}

.App .leaderboard-row {
  padding: 0.3rem;
  margin: 0 0.2rem;
  background-color: #f7f7f7;
  border: solid white;
  border-width: 0.5rem 0;
  border-radius: 2px;
}

.App .leaderboard-row-cel {
  vertical-align: middle;
  padding: 0.5em;
}

.App .leaderboard-row-cel.title {
  text-align: left;
  font-size: 1rem;
  line-height: 1;
  width: 100%;
}
.App .leaderboard-row-cel.title .subtitle {
  font-size: 0.9rem;
}

.App .leaderboard-row-cel.turnout {
  font-size: 1.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.App .label {
  text-align: center !important;
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}
