<html>
  <head>
    <title>Unexpected error</title>
    <link
      rel="stylesheet"
      media="all"
      href="/themes/custom/portico_sunset/css/main.css"
    />
  </head>
  <body>
    <div id="menu">
      <div id="menu-inside">
        <div class="region region-menu">
          <div
            id="block-portico-sunset-branding"
            class="clearfix site-branding block block-system block-system-branding-block"
          >
            <div class="logo-and-site-name-wrapper clearfix">
              <div class="logo">
                <a href="/" title="Home" rel="home" class="site-branding__logo">
                  <img
                    src="/themes/custom/portico_sunset/logo.svg"
                    alt="Home"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="headers-wrapper page-base-purple">
      <div id="header" class="header-short header-with-pattern" style="">
        <div
          id="header-background"
          class=""
          style="
            background-image: url(https://studentsunionucl.org/sites/default/files/2021-08/pattern-4.svg);
          "
        ></div>
        <div id="header-inside" class="clearfix">
          <div class="header-area container">
            <div class="page-title-container">
              <div class="">
                <h1 id="page-title" class="page-title colour-navy-on-yellow">
                  Unexpected error
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pagecontainer" class="page-base-purple">
      <div id="pagecontainer-inside" class="clearfix">
        <div id="page" class="clearfix">
          <div class="container">
            <div id="page-inside">
              <div id="main-content" class="has-sidebar">
                <div class="row g-0">
                  <section id="page-content-container" class="col-md-12">
                    <div id="main" class="clearfix">
                      <div class="region region-content">
                        <div
                          id="block-portico-sunset-content"
                          class="block block-system block-system-main-block"
                        >
                          <div class="content">
                            <h2>
                              There was an unexpected problem serving your
                              request
                            </h2>
                            <p>
                              This is likely a temporary issue due to website
                              maintenance.
                            </p>
                            <p>
                              Please try again in a short while. If the problem
                              persists, contact us using the button below -
                              please include the error code
                              <b>
                                <em>{{ uuid }}</em>
                              </b>
                              in your message.
                            </p>
                            <p>
                              <a
                                class="btn button"
                                onclick="history.back()"
                                target="_blank"
                              >
                                Go back
                              </a>
                              <a class="btn button" href="/" target="_blank">
                                Home page
                              </a>
                              <a
                                class="btn button"
                                href="https://studentsunionucl.org/forms/contact-us"
                                target="_blank"
                              >
                                Contact us
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
