/* BREAKPOINTS */

// Keep in sync with portico_sunset.breakpoints.yml

$breakpoints: (
    "xsmall": 0,
    "small": 576px, //576px
    "medium": 768px, // 768px
    "large": 992px, // 992px
    "x-large": 1200px, // 1200px
    "xx-large": 1400px,
);

/* Modifying bootstrap */

$grid-breakpoints: (
    xs: 0,
    sm: map-get($breakpoints, "small"),
    md: map-get($breakpoints, "medium"),
    lg: map-get($breakpoints, "large"),
    xl: map-get($breakpoints, "x-large"),
    xxl: map-get($breakpoints, "xx-large"),
);

// Bear in mind there is padding etc
$container-max-widths: (
    sm: 576px, //
    md: 730px, // 720px,
    lg: 970px, //960px,
    xl: 1150px, //1140px,
    xxl: 1350px, //1320px,
);
