/* BRAND COLOURS */

// The sections are:
// - brand colours
// - site colours (using brand colours where relevant)
// - macros etc to populate classes for each colour

// NOTE to make colours available in Gutenberg Editor, make sure to add them to portico_sunset/portico_sunset.gutenberg.yml

:root {
  // New pallette (accent and pastel)

  --su-coral: #f26640;
  --su-coral-dark: #983333;
  --su-coral-accessible: var(--su-coral-dark); // #e23013; // 4.5:1, passes WCAG AA, not AAA
  --su-coral-accent: #ff4e08;
  --su-coral-pastel: #ffaf99;
  --su-coral-faded: #fcefed;
  --su-coral-contrast-text: #ffffff;

  --su-yellow: #fec340;
  --su-yellow-dark: #c68d1c;
  --su-yellow-accent: #ffb000;
  --su-yellow-pastel: #f9d180;
  --su-yellow-faded: #fffefa;
  --su-yellow-contrast-text: #000000;

  --su-teal: #2aaa9e;
  --su-teal-dark: #186c72;
  --su-teal-accent: #1dccc3;
  --su-teal-pastel: #aaebe1;
  --su-teal-faded: #e4efed;
  --su-teal-contrast-text: #ffffff;

  --su-navy: #082244;
  --su-navy-dark: #061c33;
  --su-navy-accent: #072c66;
  --su-navy-pastel: #bee3f0;
  --su-navy-faded: #fafeff;
  --su-navy-contrast-text: #ffffff;

  --su-purple: #6c3f99;
  --su-purple-dark: #462b66;
  --su-purple-accent: #9348ff;
  --su-purple-pastel: #c29cff;
  --su-purple-faded: #e9e6f4;
  --su-purple-contrast-text: #ffffff;

  --su-teamucl-blue: #bce2ef;
  --su-teamucl-purple: #562179;
  --su-teamucl-blue-contrast-text: var(--su-teamucl-purple);
  --su-teamucl-purple-contrast-text: var(--su-teamucl-blue);

  // Older variations of colours (tints)

  --su-teal-60: #7fccc5;
  --su-teal-20: #d4eeec;

  --su-coral-60: #f26641;
  --su-coral-20: #fce0d9;
  --su-coral-10: #fdefeb;

  --su-purple-60: #a78cc2;
  --su-purple-20: #ede8f3;

  --su-yellow-60: #fedb8c;
  --su-yellow-20: #fff8e8;

  --su-navy-60: #6b7a8f;
  --su-navy-20: #e1e4e9;
  --su-navy-alpha-40: #08224466;

  // Colour-coding colours

  --su-green: #81aa00;
  --su-green-60: #b3cc66;
  --su-green-20: #f0f5e0;

  --su-light-blue: #146ac6;
  --su-light-blue-60: #72a6dd;
  --su-light-blue-20: #e3edf8;

  --su-pink: #ef437d;
  --su-pink-60: #f58eb1;
  --su-pink-20: #fbd2e0;

  --su-gold: #d19000;
  --su-gold-60: #e3bc66;
  --su-gold-20: #f9f2e0;

  --su-aqua: #0098a8;
  --su-aqua-60: #66c1cb;
  --su-aqua-20: #e0f3f5;

  // Events colours

  --events-past-color: #999;
  --events-past-background: #fff;
  --events-bars-color: var(--su-teal);
  --events-bars-background: var(--su-teal-20);
  --events-cs-color: var(--su-coral);
  --events-cs-background: var(--su-coral-20);
  --events-cancelled-color: #555;
  --events-cancelled-background: #ccc;
  --events-activities-color: var(--su-purple);
  --events-activities-background: var(--su-purple-20);
  --events-giag-color: var(--su-green);
  --events-giag-background: var(--su-green-20);
  --events-jobs-color: var(--su-gold);
  --events-jobs-background: var(--su-gold-20);
  --events-meetings-color: var(--su-light-blue);
  --events-meetings-background: var(--su-light-blue-20);
  --events-representation-color: var(--su-pink);
  --events-representation-background: var(--su-pink-20);
  --events-sport-color: var(--su-yellow);
  --events-sport-background: var(--su-yellow-20);
  --events-volunteering-color: var(--su-aqua);
  --events-volunteering-background: var(--su-aqua-20);

  // Site colours

  --su-text: #333;
  --su-background: #ffffff;
  --su-error-text: var(--su-text);
  --su-error-background: var(--su-coral-pastel);
  --su-grey-light: #e6e9ec;
  --su-grey-light-a40: #e6e9ec66;
  --su-grey-dark: #b1b5b9;

  --su-page-divider-line: 2px solid var(--su-grey-dark);
  --su-placeholder: var(--su-navy-20);
  --su-grey-background: #f2f2f2; //var(--su-yellow-faded);
  --su-card-background: var(--su-grey-background);

  --header-text-colour: var(--su-yellow-contrast-text);
  --header-background-colour: var(--su-yellow);
}

// Tempoary-ish convenience variables

$coral: var(--su-coral);
$coral-accessible: var(--su-coral-accessible);
$teal: var(--su-teal);
$navy: var(--su-navy);
$yellow: var(--su-yellow);
$yellow-pale: var(--su-yellow-20);
$purple: var(--su-purple);
$team-ucl-blue: var(--su-teamucl-blue);
$team-ucl-purple: var(--su-teamucl-purple);

/* OTHER SHARED COLOURS */

/* Create a map for functions */

// Note orange is an alias for coral
$color-map: (
  "black": "#000000",
  "white": "#FFFFFF",
  "coral": var(--su-coral),
  "coral-pastel": var(--su-coral-pastel),
  "coral-faded": var(--su-coral-faded),
  "teal": var(--su-teal),
  "teal-pastel": var(--su-teal-pastel),
  "teal-faded": var(--su-teal-faded),
  "navy": var(--su-navy),
  "navy-pastel": var(--su-navy-pastel),
  "navy-faded": var(--su-navy-faded),
  "yellow": var(--su-yellow),
  "yellow-pastel": var(--su-yellow-pastel),
  "yellow-faded": var(--su-yellow-faded),
  "purple": var(--su-purple),
  "purple-pastel": var(--su-purple-pastel),
  "purple-faded": var(--su-purple-faded),
  "team-ucl-blue": var(--su-teamucl-blue),
  "team-ucl-purple": var(--su-teamucl-purple),
  "grey-light": var(--su-grey-light),
  "grey-dark": var(--su-grey-dark),
  "grey-background": var(--su-grey-background),
);
$contrasts: (
  "black": "#FFFFFF",
  "white": "#000000",
  "coral": var(--su-coral-contrast-text),
  "orange": var(--su-coral-contrast-text),
  "teal": var(--su-teal-contrast-text),
  "navy": var(--su-navy-contrast-text),
  "yellow": var(--su-yellow-contrast-text),
  "purple": var(--su-purple-contrast-text),
  "team-ucl-blue": var(--su-teamucl-blue-contrast-text),
  "team-ucl-purple": var(--su-teamucl-purple-contrast-text),
  "grey-light": var(--su-text),
  "grey-dark": var(--su-text),
  "grey-background": var(--su-text),
);

/* GUTENBERG EDITOR CALCULATED CLASSES */

@each $name, $color in $color-map {
  .has-#{$name}-color {
    color: #{$color};
  }

  .has-#{$name}-background-color {
    background-color: #{$color};
  }

  #pagecontainer.page-base-#{$name} {
    --tabs-color: #{$color};
    --tabs-text-color: #{map-get($contrasts, $name)};
  }

  .brand-color-#{$name} {
    --brand-background-color: #{$color};
    --brand-text-color: #{map-get($contrasts, $name)};
  }
}
