/* Mixin to use breakpoints */

@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);
  // If the key exists in the map
  @if $value !=null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "+"Please make sure it is defined in `$breakpoints` map.";
  }
}
@mixin respond-to-max($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);
  // If the key exists in the map
  @if $value !=null {
    // Prints a media query based on the value
    @media (max-width: $value) {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "+"Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin hover-animation {
  transform: scale(1.02); //1.05
  transition: all 0.2s ease-in-out;
}

@mixin container-simulate {
  @include respond-to(large) {
    // Recreate bootstrap container for full width elements that can't be set up the same way
    // TODO replace with more elegant solution
    padding-left: calc((100vw - 1250px) / 2) !important;
    padding-right: calc((100vw - 1250px) / 2) !important;
  }
}

@mixin two-thirds-fill($top-color, $bottom-color) {
  background: linear-gradient(0deg, $bottom-color 66%, $top-color 50%);
}

/* COLOUR FILTERS */

svg {
  color-interpolation-filters: sRGB;
}

@mixin limit-to-lines($number) {
  // Limit to lines - we need all of these
  -webkit-line-clamp: $number;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

//to pass a custom string use @include truncate(4, '"YOUR STRING HERE"');
@mixin truncate($width, $overflow) {
  max-width: #{$width + "rem"}; // Suggested versus "width" which enforces a width on elements we may not want it to
  white-space: nowrap;
  overflow: hidden;
  text-overflow: #{$overflow};
}

@mixin stick-to-top($direction) {
  position: absolute;
  top: 0;
  bottom: auto;
  #{$direction}: 0;
  margin-top: 1rem;
  #{'margin-' + $direction}: 1rem;
}

@mixin stick-to-bottom($direction) {
  position: absolute;
  bottom: 0;
  top: auto;
  #{$direction}: 0;
  margin-bottom: 1rem;
  #{'margin-' + $direction}: 1rem;
}

@mixin blockquote {
  border-left: 3px solid $yellow;
  text-align: left;
  background-color: transparent;
  font-family: "freight-macro-pro";
  font-style: italic;
  font-weight: var(--bold-weight);

  padding: 1.5rem;
  margin: 0.5rem;
  font-size: 0.6rem;

  > p:first-child {
    padding-top: 0px;
  }

  cite {
    font-size: 1em;
  }

  @include respond-to(medium) {
    padding: 1.5rem;
    margin: 3rem;
    font-size: 1.2rem;
  }
}

@mixin page-title() {
  font-weight: var(--bold-weight);
  line-height: 1.5;

  padding: 0.1rem 10px;

  display: inline;

  color: $navy;
  background: $yellow;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@mixin page-title-font-size() {
  font-size: calc(1.6em + 1.4vw);

  @include respond-to(small) {
    line-height: 1.7;
    font-size: calc(1rem + 2vw);
    max-width: 100vw;
  }

  @include respond-to(medium) {
    line-height: 1.5;
    font-size: 3rem;
  }

  @include respond-to(large) {
    line-height: 1.5;
    font-size: 3.5rem;
  }
}

@mixin admin-box($color: var(--su-yellow)) {
  margin-top: 1em;
  margin-bottom: 2em;

  color: var(--su-navy);
  background-color: var(--su-grey-background);
  border: 0px;
  border-top: 2px solid $color;
  border-bottom: 2px solid $color;
  padding-left: 1rem;
  padding-right: 1rem;

  .field__label {
    margin-top: 1em;
  }

  .form-item-current {
    font-weight: var(--bold-weight);
    label {
      font-weight: normal;
    }
  }
  a {
    @include link;
  }
}
