.card-grid {
  overflow: inherit;
  .row {
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
  }
  @include respond-to(medium) {
    .row > [class^="col"] {
      width: auto;
    }
  }
}
