/**
 * @file
 * Styles for portico_sunset's layout.
 */

// Container sizes override
// $breakpoints: ( 'xsmall': 0, 'small': 767px, 'medium': 992px, 'large': 1200px);

@include respond-to(medium) {
  .container {
    // width: 600px;
  }

  .has-sidebar {
    #page-inside {
      margin-left: 5vw;
      margin-right: 5vw;
    }
  }
}

@include respond-to(large) {
  .container {
    // width: 850px;
  }
}

#header {
  width: 100%;
  overflow: hidden;
}

#header-top {
  /* border-bottom: 1px solid #ffffff;*/
}

#pagecontainer {
  --button-color: #{$navy};
  --button-text-color: #{var(--su-navy-contrast-text)};
  --button-background-color: #ffffff;
  --tabs-color: #{$teal};
  --tabs-text-color: #{var(--su-teal-contrast-text)};
}

#pagecontainer-inside {
  display: flex;
  flex-direction: column;

  #page {
    width: 100%;
  }

  #sidebar {
    min-width: 250px;
  }
}

.region-header-top-left,
.region-header-top-right {
  padding-top: 45px;
  padding-bottom: 5px;
}

.region-page-intro {
  padding: 2em;
  padding-bottom: 0.5em;
}

.region-page-intro .block:last-child {
  padding-bottom: 0px;
}

.region-content {
  width: 100%;
}

@media (max-width: 767px) {
  .region-header-top-left,
  .region-header-top-right {
    padding-top: 5px;
  }
}

.header-area {
  display: flex;
  align-items: flex-end;
  padding-top: 4%;
  padding-bottom: 4%;
}

@include respond-to(xsmall) {
  #header,
  .heading-banner {
    min-height: 20vh;
    &.header-tall .header-area {
      min-height: 30vh;
    }
  }

  :root {
    --front-page-slider-height: 55vh;
  }

  .tb-megamenu {
    display: none; // !important;
    .tb-megamenu-button {
      display: none !important;
    }
  }
}

@include respond-to(small) {
  #header,
  .heading-banner {
    min-height: 20vh;
    &.header-tall .header-area {
      min-height: 30vh;
    }
  }

  :root {
    --front-page-slider-height: 55vh;
  }

  .tb-megamenu {
    display: none; // !important;
    .tb-megamenu-button {
      display: none !important;
    }
  }
}

@include respond-to(medium) {
  #header,
  .heading-banner {
    min-height: 20vh;
    &.header-tall .header-area {
      min-height: 40vh;
    }
  }

  :root {
    --front-page-slider-height: 52vh;
  }

  .tb-megamenu {
    display: none; // !important;
    .tb-megamenu-button {
      display: none !important;
    }
  }
}

@include respond-to(large) {
  #header,
  .heading-banner {
    min-height: 30vh;
    &.header-tall .header-area {
      min-height: 50vh;
    }
  }

  :root {
    --front-page-slider-height: 60vh;
  }

  .tb-megamenu {
    display: flex; // !important;
  }
}

.path-frontpage {
  #header {
    height: var(--front-page-slider-height);
  }
}

#header {
  z-index: 489;
  position: relative;
}

#header-background,
.card-image-background {
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
}

#header-inside-right {
  padding-top: 13px;
}

@media (max-width: 767px) {
  #header-inside-right {
    margin-right: 40px;
  }
}

#page-intro > .container {
  z-index: 440;
}

#page-intro-inside {
  position: relative;
  margin: 0 -15px;
}

$containerPadding: 4rem; //'5vw';

#page > .container {
  z-index: 440;
  // min-width: 100%; Not valid with Bootstrap 4 for some reason
  // padding: 0; // $containerPadding;
  // > *{
  //   max-width: 1250px;
  // }
}
#page-content-container {
  padding: 0;
}

#page.page-node-type-page_full {
  .node-content {
    font-size: 1.2em;
  }
  .container-fluid {
    padding: 0;
    padding-left: 0px;
    padding-right: 0px;
  }

  .field--name-body {
    div.alignfull {
      margin: 0;
      width: 100vw;
    }
  }
}

@include respond-to(medium) {
  #pagecontainer-inside #page {
    // padding-top: 1.5rem;
  }
  .container #page-inside {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .container-fluid #page-inside {
    padding-bottom: 4rem;
  }
}

#top-content {
  // padding: 1em 0 0 0;
}

#top-content #slideshow {
  margin-right: -15px;
  margin-left: -15px;
}

#top-content + #main-content {
  // padding-top: 2rem;
}

.front #banner #slideshow {
  margin-top: 10px;
}

#main-content {
}

// #page-content-container-fullwidth {
//   width: 100%;
//   .views-exposed-form .form--inline {
//     display: flex;
//     justify-content: center;
//     .form-item {
//       min-width: 20vw;
//     }
//   }
// }

#highlighted {
  background-color: #f8f8f8;
  padding-bottom: 0;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

@include respond-to(medium) {
  .no-sidebars #highlighted {
    margin-left: -28.6%;
    margin-right: -28.6%;
    padding-left: 28.6%;
    padding-right: 28.6%;
  }
  .layout-sidebar-second #highlighted,
  .layout-sidebar-second #banner {
    margin-left: -15px;
  }
  .layout-sidebar-first #highlighted,
  .layout-sidebar-first #banner {
    margin-right: -15px;
  }
  .not-front.layout-sidebar-second #highlighted {
    margin-left: -17.8%;
    padding-left: 17.8%;
  }
  .not-front.layout-sidebar-first #highlighted {
    margin-right: -17.8%;
    padding-right: 17.8%;
  }
  .not-front.layout-sidebar-second #banner {
    margin-left: -17.8%;
  }
  .not-front.layout-sidebar-first #banner {
    margin-right: -17.8%;
  }
}

@media (max-width: 991px) {
  #highlighted,
  #banner {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (max-width: 767px) {
  #header-top {
    padding-top: 10px;
  }
  /* Header Mobile Layout */
  #header-inside.mean-container {
    padding-right: 40px;
  }
  #header-inside.mean-container #header-top-left,
  #header-top-inside.mean-container #header-top-right {
    z-index: 13;
    position: relative;
  }
  #header-inside.mean-container .mean-bar {
    position: absolute;
    top: 5px;
  }
  #header-inside.mean-container .dropdown.search-bar .dropdown-menu {
    margin-right: -40px;
  }
  /* Fixed header position */
  #header {
    top: auto;
  }
  #page,
  #page-intro {
    margin-top: 0 !important;
  }
}

.container-inline {
  margin-bottom: 1rem;
}

/* Regions */

.colored-area {
  color: #fff;
}

.colored-area a {
  color: #fff;
  text-decoration: underline;
}

.colored-area a:hover,
.colored-area a:active,
.colored-area a:focus {
  color: #fff;
  text-decoration: none;
}

.footer-area {
  font-size: 14px;
  line-height: 1.57;
  color: #464646;
}

.full-width-map {
  width: 100vw;
  .region-content .views-exposed-form {
    margin-bottom: 0;
  }
}
