{#
/**
 * @file
 * SimpleAds responsive image advertisement template.
 */
#}
{% if options.desktop.src is not empty %}
  <picture>
  <source srcset="{{ options.desktop.src }}" media="{{ options.desktop.query }}"{% if options.desktop.prop.alt %} alt="{{ options.desktop.prop.alt }}"{% endif %} />
  {% if options.tablet.src is not empty %}
    <source srcset="{{ options.tablet.src }}" media="{{ options.tablet.query }}"{% if options.tablet.prop.alt %} alt="{{ options.tablet.prop.alt }}"{% endif %} />
  {% endif %}
  {% if options.mobile.src is not empty %}
    <source srcset="{{ options.mobile.src }}" media="{{ options.mobile.query }}"{% if options.mobile.prop.alt %} alt="{{ options.mobile.prop.alt }}"{% endif %} />
  {% endif %}
  <img srcset="{{ options.desktop.src }}" border="0"{% if options.desktop.prop.alt %} alt="{{ options.desktop.prop.alt }}"{% endif %} />
  </picture>
{% endif %}
