<div class="box">
	<div class="loader"></div>
</div>
{% if success == true %}
	<div id="commerce-worldnet-route-success" value="{{ route }}"></div>
	<script>
		var route = document.getElementById('commerce-worldnet-route-success').getAttribute('value');
window.top.location.href = route;
	</script>
{% endif %}
<style>
	body {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.loader {
		border: 16px solid #f3f3f3;
		border-top: 16px solid #fec340;
		border-radius: 50%;
		width: 120px;
		height: 120px;
		animation: spinloader 2s linear infinite;
	}

	@keyframes spinloader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.box div {
		width: 5rem;
		height: 5rem;
	}
</style>
