.ckeditor-accordion-container > dl {
    border-style: none;
}
.ckeditor-accordion-container > dl dt > a {
    padding: 0.4em;
    background-color: $teal;
    color: var(--su-teal-contrast-text);
    border-style: none;

    text-decoration: none;

    // Title width
    // display: inline-flex;

    // Full width
    display: flex;
    justify-content: space-between;

    align-content: center;
    align-items: center;

    margin-top: 1em;
}
.ckeditor-accordion-container > dl dt:first-of-type > a {
    margin-top: 0em;
}
.ckeditor-accordion-container > dl dt > a:hover {
    background-color: $teal;
}
.ckeditor-accordion-container > dl dt.active > a {
    // Currently open
    background-color: $teal;
}
.ckeditor-accordion-container > dl dd {
    padding: 1em;
    background-color: var(--su-grey-light);
}

.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle {
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    width: 30px;
    height: 30px;
    z-index: 1;
    left: 11px;
    box-sizing: border-box;
}

.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle,
.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle {
    display: block;
    position: relative;
    order: 2;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0; // needed

    box-sizing: border-box;

    z-index: 1;

    width: 0;
    height: 0;

    // Default is down arrow
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.4em solid var(--su-teal-contrast-text);

    transition: 400ms ease-out;

    &:before,
    &:after {
        display: none;
    }
}

// Up arrow
.ckeditor-accordion-container > dl dt.active > a > .ckeditor-accordion-toggle {
    transition: 400ms ease-in;
    border-top: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.4em solid var(--su-teal-contrast-text);
    margin-top: -0.4em;
}

@media print {
    .ckeditor-accordion-container dd {
        display: block !important;
    }
}
