/**
 * @file
 * Visual styles for portico_sunset's blocks.
 */

/*Blocks*/

.block:not(.block-system-main-block) {
  // padding: 0 0 25px 0;
}

.header-area .block,
.pre-header-area .block {
  padding: 0 0 10px;
}

#highlighted .block {
  padding: 15px 0 10px;
}

.footer-area .block {
  padding: 0 0 35px 0;
}

.block-views {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

#pre-header .block-superfish.block,
#menunav .block-superfish.block,
#menunav .block-menu.block,
.block.block-page-title-block {
  padding: 0;
}

#menunav .block-menu.block,
#menunav .search-block-form {
  display: inline-block;
}

#pre-header .block-superfish.block {
  min-height: 48px;
}

// Sidebar
#sidebar {
  .field--label-inline .field__label,
  .field--label-inline > .field__item,
  .field--label-inline .field__items {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
  }
  .file a,
  .field--type-link a {
    word-break: break-all;
  }
  .field--label-above {
    margin-bottom: 1rem;
  }
}

// Sidebar info hide titles
.group--sidebar-key-info,
.node--view-mode-sidebar-extra-information {
  h2,
  .node__title {
    display: none;
  }
}

// Commerce add to cart block
.block-entity-viewcommerce-product article {
  display: flex;
  flex-direction: column;
  .field--name-variations {
    order: 2;
  }
  .field--type-commerce-price {
    order: 1;
  }
  .field--entity-reference-target-type-commerce-product-variation
    .field__label {
    display: none;
  }
}

// Sidebar
.sidebar {
  padding-left: 0rem;
  padding-right: 0rem;
  .terms {
    font-size: 0.8rem;
  }
}

// Padding on container and element to allow for border to be evenly spaced between margin and padding
#sidebar,
.sidebar {
  padding-top: 1rem;
}
.sidebar {
  padding-bottom: 1rem;
}

@include respond-to(medium) {
  #sidebar,
  .sidebar {
    padding-left: 1.5rem;
    padding-top: auto;
  }
  .sidebar {
    padding-bottom: auto;
  }
}
@include respond-to(large) {
  #sidebar,
  .sidebar {
    padding-left: 2.5rem;
  }
}

.sidebar {
  border-top: 2px solid var(--su-yellow);
  border-left-width: 0px;

  @include respond-to(medium) {
    border-top-width: 0px;
    border-left: var(--su-page-divider-line);
  }

  --su-sidebar-block-padding: 0.5em;

  .block {
    padding: 0 0 1em 0;

    // D8
    margin-bottom: 2rem;
  }

  .block > h2 {
    // D7
    // background: $yellow;
    // &.title {
    //   border-bottom-color: $yellow;
    // }

    // D8
    text-transform: uppercase;

    display: inline-block;
    padding: var(--su-sidebar-block-padding);
    margin-bottom: 0px;
    font-size: 1em;
    font-weight: var(--bold-weight);
  }

  .block > .content,
  .block > nav {
    // D7
    // background-color: var(--su-grey-light);
    // border-top: 2px solid $yellow;
    // border-bottom: 2px solid var(--su-grey-dark);
    // padding: 1.5rem 1rem;
    // color: $navy;

    // D8
    padding: var(--su-sidebar-block-padding);
  }

  // no padding for ads
  .block-simpleads {
    > .content,
    > nav {
      padding: 0px;
    }
    .slick-slider {
      margin: 0px;
      padding: 0px;
      display: grid;
    }
  }

  .block > nav ul {
    margin-bottom: 0px;
  }

  .block .action-links {
    margin: 0;
  }
}
