// blockquote,
// .blockquote {
//   font-family: "freight-macro-pro";

//   position: relative;
//   display: inline-block;
//   background: var(--su-yellow-background);
//   box-shadow: 10px 0 0 var(--su-yellow-background), -10px 0 0 var(--su-yellow-background);
//   font-size: 2.8rem;
//   color: $navy;
//   line-height: 1.8;
//   box-decoration-break: clone;
// box-decoration-break: clone;

//   margin-top: 67px;
//   margin-left: 48px;
//   margin-right: 48px;
//   margin-bottom: 4rem;

//   padding: 0.5em 1em;
// }

// blockquote:before,
// .blockquote:before {
//   position: absolute;
//   top: -53px;
//   left: -48px;
//   z-index: -1;
//   content: url('../images/quote-top.svg');
// }

// blockquote:after,
// .blockquote:after {
//   position: absolute;
//   bottom: -78px;
//   right: -1em;
//   z-index: -1;
//   line-height: 1;
//   content: url('../images/quote-bottom.svg');
// }

// .footer-area blockquote:after,
// .sidebar blockquote:after {
//   left: 0;
//   font-size: 190px;
// }

// /* RESPONSIVENESS */

// @include respond-to(large) {
//   .two-sidebars blockquote {
//     // padding: 0 0 0 80px;
//   }

//   .two-sidebars blockquote:after {
//     // left: 0;
//     // font-size: 190px;
//   }
// }

// @include respond-to(medium) {

//   .footer-area blockquote,
//   .sidebar blockquote {
//     // padding-left: 40px;
//     // font-size: 18px;
//   }

//   .footer-area blockquote:after,
//   .sidebar blockquote:after {
//     // left: 0;
//     // font-size: 90px;
//   }
// }

// @include respond-to(small) {
//   blockquote {
//     // padding: 0 0 0 80px;
//   }

//   blockquote:after {
//     // left: 0;
//     // font-size: 190px;
//   }
// }
