/**
 * @file
 * Styles for portico_sunset's breadcrumbs.
 */

.breadcrumb {
  text-transform: uppercase;
  font-size: 0.82em;
  margin-bottom: 1.2em;

  a {
    @include link;
  }

  li:last-child {
    // margin-left: 1rem;
    color: var(--su-navy-60);
  }
  li:before {
    content: " / ";
    color: var(--su-text);
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  img {
    height: 1.15em;
    width: 1.15em;
    margin-bottom: 2px;
  }
}

.breadcrumb li:first-child,
.checkout-progress--step__current {
  // margin-left: 1rem;
  font-weight: var(--bold-weight);
}

.checkout-progress {
  text-transform: uppercase;
}

.region-header #block-portico-sunset-breadcrumbs {
  top: 0;
  position: absolute;
  left: 0;
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: rgba(9, 52, 65, 0.5); //var(--su-navy-alpha-40);
  min-width: 100%;
  a {
    color: white;
    text-decoration: none;
    border: none;
    &:hover,
    &:focus {
      font-weight: var(--bold-weight); // was 600
      text-decoration: none;
      border: none;
    }
  }
}

//  .breadcrumb li:before {
//     content: "\25B6";
//     font-size: 0.8rem;
//     vertical-align: 10%;
//  }

//  .block-system-breadcrumb-block a {
//     @include link-heading;
//   }

// /*Breadcrumb*/

// .header-area .block.block-system-breadcrumb-block {
//     position: absolute;
//     top: calc(1rem - 1px);
//     left: 5vw;
//     padding: inherit;
// }

// .block-system-breadcrumb-block a {
//     margin: 0;
//     padding: 0;
//     -webkit-clip-path: polygon( 0rem 0, calc(100% - 1rem) 0, 100% 1rem, 100% calc(100% - 0rem), calc(100% - 0rem) 100%, 1rem 100%, 0 calc(100% - 1rem), 0 0rem);
//     clip-path: polygon( 0rem 0, calc(100% - 1rem) 0, 100% 1rem, 100% calc(100% - 0rem), calc(100% - 0rem) 100%, 1rem 100%, 0 calc(100% - 1rem), 0 0rem);
//     padding: 1rem 1.5rem 1.5rem 2rem;
//     background-color: rgba(9, 52, 65, 0.5);
//     font-weight: 500;
//     color: #FFFFFF;
//     text-decoration: none;
// }

// .block-system-breadcrumb-block a:hover {
//     background-color: #fff;
//     color: #082244;
// }

// .block-system-breadcrumb-block a:before {
//     position: absolute;
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
//     border-top: 7px solid transparent;
//     border-bottom: 7px solid transparent;
//     border-right: 7px solid #FFFFFF;
//     top: 52%;
//     left: 8px;
//     display: block;
//     content: " ";
// }

// .block-system-breadcrumb-block a:hover:before,
// .block-system-breadcrumb-block a:focus:before {
//     border-right: 7px solid #082244;
// }

// .breadcrumb li::before {
//     content: "";
// }

// .breadcrumb-separator {
//     padding: 0 4px 0 3px;
// }

/* Reset bootstrab styling */

// .breadcrumb {
//     padding: 0;
//     margin-bottom: 0;
//     list-style: outside none none;
//     background-color: transparent;
//     border-radius: 0px;
// }
