/**
 * @file
 * Styles for portico_sunset's buttons.
 */

.csv-feed .feed-icon,
.feed-icon {
  @include button;
  width: fit-content;
  width: -moz-fit-content;
  height: auto;
  background-image: none;
  text-indent: initial;
  display: inline-block;
}

span.button-operator {
  margin: 0 10px 0 5px;
}
.comment_forbidden a:last-child {
  margin-right: 5px;
}
.fc .fc-button-group > * {
  margin: 0 0 0 -2px;
}
