@mixin list-price-on-sale {
  color: var(--su-coral);
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.cart-block--contents {
  z-index: 500;
  // left: -20vw;
  top: 53px;
  border: 2px solid var(--su-navy);
  min-width: 40vw;
  @include respond-to-max(small) {
    &.is-outside-horizontal {
      position: fixed;
      top: 103px;
      left: 0;
      width: 100vw;
    }
  }
}

.cart-block--contents__inner {
  padding: 0px;
  .views-table {
    margin: 0;
  }
}

.cart-block--contents__items {
  font-size: 0.8rem;
  padding: 8px;
}
.cart-block--contents__links {
  padding: 1rem;
  a {
    font-size: 1.3rem;
  }
}

.checkout-order-summary {
  table {
    // table-layout: auto !important;
  }
}

.path-product #block-portico-sunset-content {
  .field--name-field-date-range {
    margin-bottom: 1rem;
  }
  .field--name-body {
    margin-bottom: 1rem;
  }
  .add-to-cal {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .field--entity-reference-target-type-taxonomy-term.field--name-field-event-venue {
    margin-bottom: 0em;
    ul.links > li {
      white-space: normal;
      > a {
        border: none !important;
        background: 0 0;
        margin: 10px 0 20px;
        display: block;
        padding: 0;
        font-size: calc(1rem + 1vw);
        line-height: 2rem;
        color: var(--su-text);
        text-decoration: none;
      }
    }
  }
}

.big-price {
  font-size: 1.5rem;
  font-weight: var(--bold-weight); // was 600
  margin-bottom: 1rem;
  * {
    display: inline-block;
  }
}

.button--add-to-cart.is-disabled,
.field--widget-commerce-quantity .form-type-number.form-disabled {
  // display: none;
}

[data-drupal-selector="edit-commerce-stock-notifications-notification-notify-submit"] {
  width: fit-content;
  max-width: fit-content;
}

#edit-purchased-entity-0-attributes-attribute-club-society-membershi--wrapper {
  border-bottom: none;
  padding-bottom: 0;
}

.product--clothing {
  display: flex;
  flex-direction: column;
  .product--clothing-left {
  }
  .product--clothing-right {
  }

  .field--name-title {
    font-size: 2rem;
    text-decoration: none;
    font-weight: var(--bold-weight); // was 600
    line-height: 0.9;
    margin-bottom: 1rem;
  }
  .product--clothing-price {
    font-size: 1.5rem;
    font-weight: var(--bold-weight); // was 600
    margin-bottom: 1rem;
    * {
      display: inline-block;
    }
    .field--name-list-price {
      @include list-price-on-sale();
    }
  }
  .field--name-variations {
    .field__label {
      display: none;
    }
  }
}

@include respond-to(medium) {
  .product--clothing {
    flex-direction: row;
    .product--clothing-left {
      .field--name-field-images {
        width: 40vw;
        margin-right: 2rem;
        margin-top: 0 !important;
      }
    }
  }
}

@include respond-to(large) {
  .product--clothing {
    .product--clothing-left {
      .field--name-field-images {
        max-width: 30vw;
      }
    }
  }
}

.card-list-price {
  @include list-price-on-sale();
}

.group--sidebar-add-to-cart {
  h2 {
    display: none;
  }
}

.checkout-progress {
  padding-left: 0;
  a {
    @include link;
  }
}

#edit-commerce-stock-notifications {
  legend {
    font-size: 1rem;
  }
}

a.link--previous {
  margin-left: 0.5rem;
}

.form-wrapper__login-option input[type="checkbox"] {
  width: auto !important;
}

.form-wrapper__login-option input.button {
  margin-bottom: 0.5em !important;
}

// SHOP
#views-exposed-form-shop-directory-page-1 {
  .form--inline {
    display: flex;
    justify-content: space-between;
  }
  > .form--inline {
    > * {
      &:first-child {
        display: flex;
        width: 100%;
      }
      &:not(:first-child) {
      }
    }
  }

  @include respond-to-max(small) {
    #block-views-block-shop-sliders-block-1 {
      display: none;
    }
  }

  select {
    margin: 0;
  }
  [id^="edit-category"] {
    // width: 100%;
    padding: 0.375rem;

    // Standard ones
    .form-select {
      border: none;
      background: none;
    }
    .chosen-container.chosen-container-active.chosen-with-drop .chosen-single,
    .chosen-container .chosen-single {
      line-height: 36px;
      min-height: 36px;
    }
    .chosen-container-single .chosen-single div b {
      background-position-y: 0.5rem;
    }

    #block-views-block-shop-sliders-block-1 {
      padding: 0px;
    }

    // Categories
    input.form-radio,
    legend {
      @extend .visually-hidden;
    }
    label {
      cursor: pointer;
    }
    .form-radios {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      @include respond-to(medium) {
        display: flex;
        justify-content: space-evenly;
      }

      > .form-item {
        // display: block;
        label {
          @include respond-to(small) {
            display: flex;
            padding: 1em;

            width: 50px;
            height: 100px;
            padding-top: 55px;

            margin: 1em;
            background-color: white;
            font-weight: var(--bold-weight); // was 600
            background-size: contain;
            background-repeat: no-repeat;

            /* Non-card filter */
            justify-content: center;
            padding-bottom: 0;
            border-bottom: 0;
            font-size: 0.9em;
          }

          @include respond-to-max(small) {
            text-align: center;
            // Hide category background image on mobile:
            background-image: unset !important;
          }

          @include respond-to(medium) {
            width: 100px;
            height: 150px;
            padding-top: 105px;
          }

          @include respond-to(large) {
            width: 150px;
            height: 200px;
            padding-top: 155px;
          }
        }
      }
    }
  }
}

.product--quick-links {
  // font-size: 0.8rem;
}
