.page-content-container {
  h3 {
    font-size: 1.1em;
    font-weight: var(--bold-weight);
    padding: 0.5rem;
  }

  ul,
  ol {
    margin-bottom: 1em;
    li {
      margin-bottom: 0.5em;
    }
  }

  ul li {
    list-style: circle;
  }

  ol li {
    list-style: decimal;
  }
}

.bottom-fade-to-white::before {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, white);
  pointer-events: none;
}

// Feature text (not headings)
.bold-large {
  font-size: 2.5rem;
  font-weight: var(--bold-weight); // was 600
}

.normal-large {
  font-size: 2rem;
  font-weight: normal;
}

.bold-medium {
  font-size: 1.5rem;
  font-weight: var(--bold-weight); // was 600
}

.bold {
  font-weight: var(--bold-weight); // was 600
}

.normal-medium {
  font-size: 1.3rem;
  font-weight: normal;
}

td.error {
  background-color: var(--su-error-background) !important;
}

.field--name-field-access-requirements {
  background-color: var(--su-grey-background);
  padding: 1em;
  border-bottom: 2px solid var(--su-yellow);
}

.node--type-kb-article .field--name-body {
  margin-bottom: 3rem;
}

.featured-sticky {
  padding: 1em;
  background-color: var(--su-grey-background);
  // border: 2px solid var(--su-grey-dark);
}

.c3 line {
  stroke-width: 3px;
}
