.views-display-link {
  @include button;
  float: center;
}
.views-element-container header {
  // display: flex;
  // justify-content: space-around;
  // margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

ul.item-list__checkbox {
  list-style: none;
  padding-inline-start: 1em;
}

ul.item-list__checkbox label {
  display: inline-block;
  margin-left: 0.5rem;
}

/* FACETS */

.facets-widget-links ul {
  padding-inline-start: 0.6em;
  color: #fff;
  font-weight: var(--bold-weight);
  line-height: 1.8;
}

li.facet-item {
  margin-top: 0.5rem;

  background-size: 1.7rem;
}

.facet-item a .facet-item__status {
  display: none;
}

li.facet-item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;

  padding: 0.2rem 3.5rem 0.5rem 1rem;

  background-color: $coral;
  background-image: url(../images/tick.png);
  background-repeat: no-repeat;
  background-position: right -124px;
  background-size: 3rem;

  -webkit-clip-path: polygon(
    1rem 0,
    calc(100% - 0rem) 0,
    100% 0rem,
    100% calc(100% - 0rem),
    calc(100% - 0rem) 100%,
    0rem 100%,
    0 calc(100% - 0rem),
    0 1rem
  );
  clip-path: polygon(
    1rem 0,
    calc(100% - 0rem) 0,
    100% 0rem,
    100% calc(100% - 0rem),
    calc(100% - 0rem) 100%,
    0rem 100%,
    0 calc(100% - 0rem),
    0 1rem
  );
}

li.facet-item a.is-active {
  background-color: $coral;
  background-position: right 3px;
}

.facets-widget-links > ul:not(:has(.is-active)) > li.facet-item > a {
  background-color: $coral;
}

li.facets-reset a {
  background-image: none;
  padding-right: 1rem;

  background-color: $navy;
}

li.facet-item a span.facet-item__count {
  font-weight: normal;
}
