.slick--optionset--featured-boxes {
  position: relative;

  .slick__arrow {
    .slick-next {
      right: 0;
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      background: transparent;
      height: 80px;
      color: transparent;
      border: none;
    }

    .slick-prev:before,
    .slick-next:before {
      font-family: FontAwesome;
      padding: 0 10px;
      color: rgba(0, 0, 0, 0.5);
      position: absolute;
      font-size: 50px;
      top: 0%;
    }
    .slick-prev:before {
      content: '\f104';
      left: 20%;
    }

    .slick-next:before {
      content: '\f105';
      right: 20%;
    }
  }
}

.featured_box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;

  .row {
    padding: 5vw;
  }

  .col-sm {
    padding: 5vw;
    font-size: 1.3rem;
  }

  .featured_box_col_image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // Make it square
  .col-sm:after {
    content: '';
    display: block;
    padding-bottom: 75%;
  }

  // This is an invisible link that covers the full card
  a.card-link {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; // needed to prevent elements taking the click event
    cursor: pointer;
  }

  transform: scale(1);
  &:hover {
    @include hover-animation;
  }

  &.featured_box-coral .col-sm {
    background-color: var(--su-coral);
    color: var(--su-coral-contrast-text);

    h2 {
      background-color: var(--su-navy);
      color: var(--su-navy-contrast-text);
    }
  }
  &.featured_box-teal .col-sm {
    background-color: var(--su-teal);
    color: var(--su-teal-contrast-text);

    h2 {
      background-color: var(--su-navy);
      color: var(--su-navy-contrast-text);
    }
  }
  &.featured_box-purple .col-sm {
    background-color: var(--su-purple);
    color: var(--su-purple-contrast-text);

    h2 {
      background-color: var(--su-yellow);
      color: var(--su-yellow-contrast-text);
    }
  }
  &.featured_box-yellow .col-sm {
    background-color: var(--su-yellow);
    color: var(--su-yellow-contrast-text);

    h2 {
      background-color: var(--su-navy);
      color: var(--su-navy-contrast-text);
    }
  }
  &.featured_box-navy .col-sm {
    background-color: var(--su-navy);
    color: var(--su-navy-contrast-text);

    h2 {
      background-color: var(--su-yellow);
      color: var(--su-yellow-contrast-text);
    }
  }
  &.featured_box-team-ucl .col-sm {
    background-color: var(--su-teamucl-purple);
    color: var(--su-teamucl-purple-contrast-text);

    h2 {
      background-color: var(--su-teamucl-blue);
      color: var(--su-teamucl-blue-contrast-text);
    }
  }
}
