/**
 * @file
 * Visual styles for portico_sunset's field components.
 */

#page-content-container .field:not(.field--name-body) {
  margin-top: 1rem;
  margin-bottom: 1rem;

  // margin-bottom: 0.5em;
}

.field--label-inline .field__items {
  // margin-top: 20px;
}

.field--type-entity-reference ul.links {
  list-style: none;
  // padding-inline-start: 0.5em;
}

.field--entity-reference-target-type-taxonomy-term .field__items {
  padding: 0;
  margin: 0;
}

.field--entity-reference-target-type-taxonomy-term .field-label {
  font-weight: normal;
  padding-right: 5px;
  /* LTR */
}

/* Taxonomy term reference */

#page-content-container {
  .field--entity-reference-target-type-taxonomy-term {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 1em 0 1em 0;
    ul.links li {
      float: left;
      white-space: nowrap;
      margin-right: 3px;
      padding: 0;

      & > a {
        text-decoration: none;
        padding: 5px 6px;
        line-height: 1;

        color: var(--su-purple-contrast-text);
        background-color: var(--su-purple);

        display: inline-block;
        margin: 1px 0 2px 0;
        font-size: 0.9em;
        min-width: auto;

        &:hover {
          text-decoration: none;
          background-color: var(--su-purple-contrast-text);
          color: var(--su-purple);
        }
      }
    }
  }
}
