#footer {
  background-color: var(--su-grey-background);
  border-top: 2px solid var(--su-grey-dark);

  h2 {
    font-size: 1.5rem;
    font-weight: var(--bold-weight); // was 600
    color: $navy;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include respond-to-max(small) {
    margin-top: 2em;
  }

  .content > ul.menu {
    // margin-left: 5vw;
    // margin-right: 5vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  ul ul {
    list-style: circle;
    li {
      padding: 0px;
      // margin-bottom: 1rem;
    }
  }
  .content > ul.menu > li {
    // flex-grow: 1;
    min-width: 13rem;
    margin-left: 2em;
    margin-right: 2em;
  }
  .menu-item--expanded span {
    font-size: 1.5em;
    font-weight: var(--bold-weight);
    margin-bottom: 1em;
  }
  a {
    font-size: 1.5em;
    color: $navy;
    text-decoration: none;
    margin-left: -0.5rem;
    &:hover {
      color: $coral;
      text-decoration: none;
    }
  }
  ul.menu-item--expanded ul.menu {
    padding-inline-start: 1.5em;
  }
  // For the social media 'Follow us' menu
  .menu-footer-icons {
    ul {
      margin-left: 0px;
      li {
        // display: inline-block;
        margin-bottom: 1rem;
      }
    }
    a:before {
      width: 0;
      height: 0;
    }
    a i {
      clip-path: polygon(
        0% 0%,
        0% 0%,
        70% 0%,
        100% 30%,
        100% 100%,
        100% 100%,
        30% 100%,
        0 70%
      );
      min-width: 3rem;
      // min-height: 3rem;
      margin-right: 1rem;
      padding: 0.5rem;
      text-align: center;
      color: white;
      background-color: $coral;
      &:hover {
        background-color: $navy;
      }
      &::before {
      }
    }
    .fab {
      font-style: normal;
      font-family: 'FontAwesome';
    }
  }
}

@media screen and (min-width: 960px) {
  #footer {
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
}
