/**
 * @file
 * Visual styles for portico_sunset's forms.
 */
.content > form > div > .form-wrapper > legend {
  @extend h2;
}

.form-wrapper {
  legend {
    // @extend h2;
  }

  .file {
    margin-bottom: 1em;
  }
}

.form-item {
  margin: 0.5em 0;
  margin-bottom: 1.5em;

  .description {
    color: #444444;
    font-size: 0.9rem;
    // margin-top: 1rem;
    margin-bottom: 1rem;
  }

  label {
    font-weight: var(--bold-weight);
  }
}

input.form-text,
input[type="date"],
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-file,
input.form-number,
input.form-color,
input.form-time,
textarea.form-textarea,
textarea {
  background: #fff;
  color: #000000;
  font-size: 1rem;
  padding: 0.59rem; // To make height match dropdowns
  outline: none;
  border: 2px solid #c5c5c5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 100%;
  line-height: 1.1;
  -webkit-appearance: none;
  margin-top: 0px;
}

input[type="date"],
input.form-time,
.commerce-order-item-add-to-cart-form input {
  width: auto;
  max-width: 100%;
}

.form-type-commerce-price {
  input {
    width: auto;
  }
}

// SELECTS
select.form-select,
select,
.chosen-container,
.select2-selection {
  background-color: #fff;
  border: 2px solid #c5c5c5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  min-height: 2.5em;
  padding: 5px;
  min-width: fit-content;
}

// Chosen JS
.webform-submission-form .chosen-container {
  width: 100%;
  max-width: 100%;
  // padding: 10px 15px;
}

.views-exposed-form .chosen-container {
  padding: 0;
  width: auto !important;
}

.chosen-container {
  background-image: none;

  &.chosen-container-active.chosen-with-drop .chosen-single,
  .chosen-single,
  .chosen-choices {
    color: var(--su-text);
    box-shadow: none;
    background: none;
    border: 0px;
    line-height: 36px;
    min-height: 36px;
  }

  &.chosen-container-active.chosen-with-drop .chosen-single,
  .chosen-single {
    border-radius: 0;
    border: none;
  }

  .chosen-choices {
    border: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    li.search-choice {
      color: var(--su-teal);
      border: 0px;
      background: none;
      font-weight: var(--bold-weight);
      margin-top: 0px;
      border-radius: 0px;
      box-shadow: none;
      background-clip: border-box;
      padding: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
      padding-right: 1rem;

      .search-choice-close {
        border: none;
        padding: 0px;
        top: 2px;

        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}

.form-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// Views exposed form
.region-content .views-exposed-form {
  border-bottom: var(--su-page-divider-line);
  margin-bottom: 2rem;
  padding: 0.5em;
  display: flex;
  justify-content: center;

  .form--inline {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
    gap: 1em;

    .form-item {
      display: flex;
      flex-direction: column;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    }

    #edit-actions {
      margin-bottom: 0;

      .button {
        line-height: 1.7;
      }
    }
  }

  .chosen-container {
    .chosen-single,
    .chosen-choices {
      // font-size: 1.4em;
    }

    .chosen-single {
      // height: 2.5rem;
    }

    .chosen-choices {
      // min-height: 3rem;
    }
  }

  .field-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .js-form-item-created-min {
    margin-right: 0.5rem;
  }

  #edit-created,
  #edit-changed {
    display: flex;
  }
}

.form-type-password-confirm input.form-text {
  width: 50%;
}

.colored-area input.form-text,
.colored-area textarea,
.colored-area input.form-text:focus,
.colored-area textarea:focus {
  border-color: #fff;
}

textarea.form-textarea,
textarea {
  resize: none;
  line-height: 1.57;
  height: auto;
}

label,
.label {
  display: block;
  color: inherit;
  text-align: left;
  margin-bottom: 5px;
}

.field__label,
h3.field__label,
.block-system-main-block .content h3.field__label {
  font-size: 1rem;
  font-weight: var(--bold-weight);
  color: var(--su-text);

  margin: 0;
  margin-bottom: 0.2rem;

  &.inline {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}

.text-format-wrapper .filter-wrapper {
  display: none;
}

// Non-editable fieldsets (e.g. ones that show on a page)
.content .group,
.content .node:not(.node--type-webform) {
  fieldset.form-item {
    // border: 2px solid var(--su-grey-light);
    border-bottom: 2px solid var(--su-yellow);
    // padding: 0.5em;
    // margin: 20px 0 35px;
    padding-bottom: 1rem;
    margin: 20px 0 2rem;

    legend {
      @extend .heading-b;
      display: inline-block;
      width: auto;
    }
  }
}

.content .node--type-webform {
  legend {
    // @extend .heading-b;
    // display: inline-block;
    // width: auto;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0px 0 3px;
}

select {
  width: 100%;
  // margin: 10px 0;
  color: #3f3f3f;
}

.form-actions {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Disabled form elements */
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}

.form-disabled label {
  color: #717171;
}

/* Form error styles. */
.form-item textarea.error + .cke {
  border: 2px solid red;
}

/* Form error message styles. */
.form-item--error-message {
  color: #e32700;
}

a.tabledrag-handle .handle {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 1em;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 0.2rem;
  margin-bottom: 0.2rem;

  .description {
    order: 1;
  }

  :not(.description) {
    order: 2;
  }
}

.entity-moderation-form {
  @include admin-box;
}

// Event forms

.field--name-is-ticket {
  display: none;
}

.dropbutton-wrapper.dropbutton-multiple {
  // position: absolute;
}

.field-multiple-table td {
  overflow: visible;
}

// For body fields we jsut default to the user's
#edit-body-0-format {
  display: none;
}

.smartdate--widget {
  .fieldset-wrapper {
    display: block;
  }

  .fieldset-wrapper h4.label,
  .fieldset__wrapper h4.form-item__label {
    margin: 0;
    text-align: left;
  }

  input.allday {
    margin: 0.65em 0.5em 0 0.5em;
  }

  .duration-wrapper {
    display: none;
  }
}

th.field-label {
  h4.label {
    margin-top: 0;
  }
}

.field--widget-inline-entity-form-simple {
  legend {
    font-size: 1rem;
    font-weight: var(--bold-weight);
  }
}

.entity-meta__last-saved,
.entity-meta__title {
  display: none;
}

.author {
  display: none;
}

[data-drupal-selector="edit-stores-remove-button"] {
  display: none;
}

.product-visibility-settings {
  display: none;
}

.vertical-tabs {
  border: 2px solid var(--su-grey-dark);
}

.vertical-tabs__menu {
  margin: -2px 0 -2px -15em;
  border-top: 2px solid var(--su-grey-dark);
}

.vertical-tabs__menu-item {
  border: 2px solid var(--su-grey-dark);
  border-top: 0;
  background: var(--su-grey-background);
  line-height: 1.5;
}

details {
  border: 2px solid var(--su-grey-dark);

  summary {
    background-color: var(--su-grey-background);
    color: var(--su-text);
    font-weight: var(--bold-weight);
    font-size: 1rem;
  }
}

.cke_dialog_contents_body {
  tr,
  td {
    border: 0px solid transparent;
  }
}

div[class*="stock-transaction-note"] {
  display: none;
}

[data-drupal-selector="edit-variations"] {
  .field-multiple-drag {
    display: none;
  }
}

.stock-level-field-stock-level {
  font-weight: var(--bold-weight);
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-managed-file {
  word-break: break-all;
}

[id^="edit-workflow-workflow-fieldset"] {
  border-color: var(--su-yellow);
  padding: 1em;

  summary {
    background-color: var(--su-yellow);
  }
}

.poll .vote-form fieldset legend {
  display: none !important;
}

.webform-options-display-buttons {
  input:checked + label.webform-options-display-buttons-label {
    border-color: var(--su-teal);
    border-radius: 0px;
  }
}

#vbo-action-form-wrapper {
  border-top: 2px solid var(--su-teal);
  border-bottom: 2px solid var(--su-teal);
  background-color: var(--su-grey-background);
  padding: 0.8em;

  #edit-multipage {
    border: none;
  }
}

// Smart date

.smartdate--widget {
  legend {
    font-size: 1em;
    font-weight: var(--bold-weight);
    margin-top: 1em;
  }

  .allday-label {
    margin: unset;
  }
}

.smartdate--time-inline {
  .container-inline {
    margin-bottom: 0px;
  }

  input.time-start.form-date {
    margin-right: 0.5em;
  }

  select.field-duration {
    width: fit-content;
    padding-right: 2em;
  }
}
