body.path-frontpage {
  .node-content .views-element-container .content > div > div {
    display: flex;
    flex-direction: column;

    .more-link {
      order: 2;
      margin-bottom: 2rem;
      text-align: center;
    }

    .card-grid {
      order: 1;
    }
  }

  .views-element-container {
    &.block-views-blockfront-page-officers-block-1,
    &.block-views-blockcontent-news-block-1,
    &.block-views-blockevents-card-blocks-block-1,
    &.block-views-blockfront-page-events-block-1,
    &.block-views-blockboxes-block-1,
    &.block-views-blockshop-directory-block-1 {
      @extend .container;
    }
  }

  .block-views-blockfront-page-slider-block-1 {
    padding: 0px;

    & > h2.title {
      display: none;
    }
  }

  .flexslider {
    border: 0px;
    margin-bottom: 4vh;
  }

  .optionset-front-page,
  .front_page_slider {
    width: 100vw;
    height: var(--front-page-slider-height);
  }

  .optionset-front-page {
    background-color: var(--su-placeholder);
  }

  .front_page_slider {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10%;
    padding-bottom: 10%;
    @include respond-to(medium) {
      padding-top: 4%;
      padding-bottom: 4%;
    }

    display: flex;
    align-items: flex-end;

    .slider-elements {
      @extend .page-title-container;
    }

    .page-title {
      margin: 0;
    }

    .slider_buttons {
      position: absolute;
      margin-top: 5vh;
      width: 100%;
      display: flex;

      a {
        margin-right: 1rem;
        min-width: 20%;
        font-size: 1.1rem;
      }
    }
  }

  .slick--view--front-page-slider {
    max-height: 80vh;
  }

  .container-fluid {
    padding: 0px;
  }

  #pagecontainer-inside #page {
    padding-top: 0px;
  }

  video#bgvideo {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100%;

    object-fit: cover;

    z-index: -100;
  }
}

.announcement_block {
  padding: 1.5vw;
  text-align: center;
  font-size: 0.8rem;
  @include respond-to(medium) {
    font-size: calc(0.3rem + 1.5vw);
  }

  .announcement_block__inside {
    p {
      padding: 0;
    }

    a {
      @include button;
      margin-left: 0.2em;
      margin-right: 0.2em;
      padding: 0.2em 0.5em;
      margin-bottom: 0px;

      &:hover {
        --button-text-color: var(--button-background-color);
      }
    }
  }
}
