a.MuiButton-root:focus,
a.MuiButton-root:hover {
  color: inherit;
}

.MuiTabs-root a,
.MuiTabs-root:hover {
  text-decoration: none;
}

.MuiTypography-root {
  li {
    list-style: circle;
  }
}

.MuiPaper-root {
  h2.page-title {
    font-weight: var(--bold-weight);
    margin-bottom: 0px;
    margin-top: 0px;
  }
  h3.tagline {
    background-color: white;
    color: $navy;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    font-size: 0.8rem;
    padding: 8px;
  }
}

.MuiBadge-online .MuiBadge-badge {
  transform: scale(1) translate(25%, 50%);
}
.MuiCardMedia-root,
.MuiCardContent-root {
  .MuiTypography-h5 {
    font-size: 1.3em;
    font-weight: var(--bold-weight);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }
  .MuiTypography-root.tagline {
    padding-bottom: 0;
  }
}

.MuiCardMedia-root {
  .MuiTypography-h5 {
    color: white;
  }
  .MuiTypography-root.tagline {
    color: white;
  }
}

.rce-mbox-title {
  color: $coral;
  &:hover {
    text-decoration: none;
  }
}

.MuiButton-root {
  font-family: var(
    --font-family,
    'freight-sans-pro',
    'Roboto',
    Helvetica Neue,
    Arial,
    Sans-serif
  ) !important;
  border-width: 2px;
  box-shadow: none;
  &:active,
  &:hover {
    box-shadow: none;
  }
}
.MuiButton-contained {
  box-shadow: none;
  &:active,
  &:hover {
    box-shadow: none;
  }
}

.MuiCardHeader-root {
  .MuiCardHeader-title {
    // font-size: 1.5em;
    font-weight: var(--bold-weight); // was 600
    color: $coral-accessible;
  }
}

.MuiBox-root h2.category-header,
.MuiGrid-root h2.countdown-header {
  font-size: 2em;
  font-weight: var(--bold-weight);
  background: none;
  border: none;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 16px;
}

.MuiCardContent-root:last-child {
  margin-bottom: 0px;
}

.MuiBox-root h3.category-subheader,
.MuiGrid-root h3.countdown-subheader {
  font-size: 1.5em;
  font-weight: normal;
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 16px;
  margin-top: 0px;
  // margin-left: -1rem;
}

.MuiCardHeader-title {
  font-weight: var(--bold-weight);
}

.MuiCard-root .image-slider > div > div > div {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
}

.MuiTable-root {
  border: 0px;
  margin: unset;
  td {
    border: 0px solid transparent;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animate-pulse-slow {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }

  50% {
    transform: scale(1);
    // box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.MuiOutlinedInput-root {
  fieldset {
    border-width: 2px;
    border-radius: 0% !important;
  }
}

.MuiBottomNavigationAction-root {
  height: unset;
  .MuiSvgIcon-root {
    font-size: 1.2rem;
  }
}
