/**
 * @file
 * Styles for menus.

 */

/* This is needed to override ul.menu styles in menu.theme.css */

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menu li {
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
  &.featured {
    color: white;
    background-color: $coral;
  }
  padding-left: 0.3rem;
}

ul.menu li a {
  padding: 0.5rem;
  line-height: 150%;
  display: inline-block;
  color: #3f3f3f;
  text-decoration: none;
}

ul.menu li a:hover {
  text-decoration: none;
  color: #ffffff;
}

ul.menu li.menu-item a {
  cursor: pointer;
}

/**
 * @file
 * Visual styles for portico_sunset's primary menu.
 */

/* Primary Menu */

.region-navigation {
  clear: both;
}

.region-navigation .menu a {
  display: block;
  text-decoration: none;
}

/**
 * Primary Menu Toggle
 * Hide the toggle by default
 */

.menu-toggle,
.menu-toggle-target {
  display: none;
}

/* Unhide it for the primary menu. */

.region-navigation .menu-toggle-target {
  display: inherit;
  position: fixed;
  top: 0;
}

.region-navigation .menu-toggle {
  display: none;
}

body:not(:target) .region-navigation .menu-toggle {
  color: #fff;
  float: none;
  display: block;
  text-decoration: none;
  padding: 0.9em 10px 0.9em 10px;
  z-index: 1000;
}

body:not(:target) .region-navigation .menu-toggle:after {
  content: "\f0c9";
  font-family: Fontawesome;
  font-size: 22px;
  line-height: 22px;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: absolute;
  right: 10px;
  /* LTR */
}

[dir="rtl"] body:not(:target) .region-navigation .menu-toggle:after {
  right: initial;
  left: 10px;
}

body:not(:target) .region-navigation .menu-toggle-target-show:target ~ .menu-toggle,
body:not(:target) .region-navigation .menu-toggle--hide {
  display: none;
}

body:not(:target) .region-navigation .menu-toggle-target-show:target ~ .menu-toggle--hide {
  display: block;
}

body:not(:target) .region-navigation .menu-item {
  height: 0;
  overflow: hidden;
}

body:not(:target) .region-navigation .menu-toggle-target-show:target ~ .menu .menu-item {
  height: auto;
  overflow: visible;
}

/**
 * Media queries for primary menu.
 */

@media all and (min-width: 768px) and (max-width: 991px) {
  .region-navigation .menu {
    margin: 0 5px;
    padding: 0;
    text-align: center;
  }
  .region-navigation .menu-item,
  body:not(:target) .region-navigation .menu-item {
    float: left;
    margin-right: 1.5%;
    padding: 0;
    display: inline-block;
    width: 31%;
    height: auto;
    overflow: visible;
  }
  .region-navigation .menu-item:nth-child(3n) {
    margin-right: -5px;
  }
  .region-navigation .menu a {
    float: none;
    display: block;
    margin-bottom: 5px;
    padding: 0.9em 5px;
  }
  body:not(:target) .region-navigation .menu-toggle {
    display: none;
  }
}

@media all and (min-width: 992px) {
  .region-navigation .menu-item,
  body:not(:target) .region-navigation .menu-item {
    width: auto;
    height: auto;
    overflow: visible;
  }
  .featured .region-navigation .menu-item a:active,
  .featured .region-navigation .menu-item a.is-active {
  }
  body:not(:target) .region-navigation .menu-toggle {
    display: none;
  }
}

#menu {
  --menu-overall-padding: 0.3rem;
  --menu-button-background-size: 1rem;
  --menu-button-width: 1.5rem;
  --menu-logo-padding: 0.4rem;
  --menu-logo-height: 32px;

  padding: var(--menu-overall-padding);

  .responsive-menu-toggle-icon {
    height: 30px;
    width: 29px;
    margin-right: 1rem;
  }

  @include respond-to(medium) {
    --menu-overall-padding: 0.7rem;
    --menu-button-width: 2rem;
    --menu-button-background-size: 1.1rem;
    --menu-logo-padding: 0.5rem;

    .responsive-menu-toggle-icon {
      height: 44px;
      width: 43px;
    }
  }
}

.region-menu {
  display: flex;
  align-items: center;
}

#menu .block {
  padding: 0px;
}

.menu--main ul.menu,
.menu--account ul.menu {
  li a {
    line-height: 23px;
    font-weight: var(--bold-weight); // was 600
    text-transform: uppercase;
    color: $navy;
    font-size: 0.9em;
    &:hover {
      color: $coral-accessible;
    }
  }
  li.menu-item--expanded a {
    color: $coral-accessible;
  }
}

.menu--account ul.menu {
  display: flex;
}

.search-api-autocomplete-search {
  z-index: 600;
}

#menu {
  @mixin menu_button {
    color: $coral-accessible;
    border: solid 2px white !important;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
    padding: 13px 18px 12px;
    background-size: var(--menu-button-background-size);
    // margin-top: 0.5em;
    // margin-bottom: 0.5em;
    // height: 4em;
    &:hover {
      border: solid 2px $coral !important;
      background-color: white !important;
    }
  }
  .cart-block--link__expand {
    text-decoration: none;
    &.has_count {
      margin-right: -1rem;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .cart-block--summary {
    max-width: calc(var(--menu-button-background-size) * 2);
  }
  .cart-block--summary__count {
    border-radius: 1rem;
    color: white;
    background-color: $navy;
    position: relative;
    top: -1em;
    left: -1em;
    font-weight: var(--bold-weight);
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 0.9em;
    font-family: Trebuchet MS, Arial, sans-serif;
  }
  .cart-block--summary__icon {
    @include menu_button;
    background-image: url(/themes/custom/portico_sunset/images/icons/cart.svg);

    padding: 12px calc(var(--menu-button-background-size) - 0.2rem);
    background-size: var(--menu-button-background-size) calc(var(--menu-button-background-size) + 0.2rem);

    &.has_count {
      padding-bottom: calc(var(--menu-button-background-size) - 0.3rem);
    }
  }
  #block-full-site-search,
  #block-exposedformsearch-publicpage-1 {
    label {
      display: none;
    }
    .content,
    form,
    .form--inline {
      display: flex;
      flex-grow: 1;
    }
    input.form-text {
      // margin-right: 0.2rem;
    }
    .button {
      @include menu_button;
      text-indent: -11111px; // To hide the text
      background-image: url(/themes/custom/portico_sunset/images/icons/search.svg);
      margin-bottom: 0px;
      background-color: transparent !important;
      width: var(--menu-button-width);
      background-position: 45%;
    }
    [data-drupal-selector="edit-actions"] {
      float: none;
      display: inline-block;
    }
    .form-item {
      float: none;
      margin-right: 0.3rem;

      display: none;
    }
    .form-item,
    .form-actions {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  ul.menu li a[data-drupal-link-system-path="user"],
  ul.menu li a[data-drupal-link-system-path="unmasquerade"],
  ul.menu li a[data-drupal-link-system-path="user/login"] {
    background: url(/themes/custom/portico_sunset/images/icons/user.svg) no-repeat;
    @include menu_button;
    text-indent: -11111px; // To hide the text
    background-position-x: center;
    padding-left: 1.7rem;
    @include respond-to(medium) {
      background-position-x: 0.5rem;
      padding-left: calc(var(--menu-button-background-size) * 2);
      padding-right: 0.5rem;
      text-indent: 0;

      white-space: nowrap;
    }
  }
  ul.menu li a[data-drupal-link-system-path="unmasquerade"] {
    background-image: url(/themes/custom/portico_sunset/images/icons/user-unmasquerade.svg) !important;

    @include respond-to(medium) {
      background-position-x: center;
      text-indent: -11111px; // to hide the text
      padding-left: 1.7rem;
    }
  }
  ul.menu li a[data-drupal-link-system-path="user/logout"] {
    background: url(/themes/custom/portico_sunset/images/icons/logout.svg);
    text-indent: -11111px; // To hide the text
    @include menu_button;
    width: var(--menu-button-width);
    background-size: var(--menu-button-background-size) calc(var(--menu-button-background-size) + 0.2rem);
    background-position-x: 55%;

    white-space: nowrap;
  }
}

/* Mobile friendly menu by default */

.region-menu {
  // flex-wrap: wrap;
}

.site-branding {
  order: 1;
  flex-grow: 1;
}

.block-tb-megamenu-menu-blockmain {
  order: 2;
}
.menu--main {
  order: 4;
  display: block;
  width: 100%;
  ul.menu {
    li {
      display: block;
      a {
        display: block;
      }
    }
  }
}

#block-full-site-search,
#block-exposedformsearch-publicpage-1,
.block-search {
  order: 2;
}

.block-commerce-cart {
  order: 3;
}

.menu--account {
  order: 4;
}

@include respond-to(medium) {
  .menu--account ul.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  .region-menu {
    flex-wrap: none;
  }
  .site-branding {
    order: 1;
    flex-grow: 0;
  }
  .menu--main {
    order: 2;
    flex-grow: 1;
    width: auto;
    ul.menu li a {
      display: inline-block;
    }
  }
  #block-full-site-search,
  #block-exposedformsearch-publicpage-1,
  .block-search {
    order: 3;
  }
  .block-commerce-cart {
    order: 4;
  }
  .menu--account {
    order: 5;
  }
}

// Mobile menu
.mm-panels {
  // Override default
  --mm-color-border: rgba(0, 0, 0, 0.1);
  --mm-color-button: rgba(0, 0, 0, 0.3);
  --mm-color-text: rgba(0, 0, 0, 0.75);
  --mm-color-text-dimmed: rgba(0, 0, 0, 0.3);
  --mm-color-background: #ffffff;
  --mm-color-background-highlight: rgba(0, 0, 0, 0.05);
  --mm-color-background-emphasis: var(--su-grey-dark);
  --mm-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .mm-listitem__btn:not(.mm-listitem__text) {
    border-left-style: none;
  }
  .mm-btn_prev:before,
  .mm-btn_next:after {
    width: 0px;
    height: 0px;
    transform: none;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
  }
  .mm-btn_next:after {
    border-left: 8px solid $coral;
    border-right: none;
  }
  .mm-btn_prev:before {
    border-right: 8px solid $coral;
    border-left: none;
  }
}
.mm-panels > .mm-panel {
  border-right: 2px solid var(--su-grey-dark);
}

// Autocomplete

.search-api-autocomplete-search {
  &.ui-widget.ui-widget-content {
    border: none; //2px solid var(--su-navy);
    .ui-menu-item > a {
      &.ui-state-active .search-api-autocomplete-suggestion {
        background: var(--su-navy);
        font-weight: var(--bold-weight);
      }
    }
  }
}

.sidebar {
  .submenu--title {
    display: none;
  }
  > div > nav > h2 {
    margin-top: 0px !important;

    a {
      font-weight: bold !important;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }
  > div > nav > .content > ul.menu {
    > li:not(.menu-item--active-trail) + .submenu {
      display: none;
    }

    > li {
      a {
        padding-left: 0px;
      }
      &.menu-item--active-trail {
        a {
          font-weight: bold !important;
          text-decoration: none !important;
        }
      }
    }
  }
}
