.block-tb-megamenu-menu-blockmain,
.block-tb-megamenu-menu-blockmain > .content,
.block-tb-megamenu-menu-blockmain > .content > .tb-megamenu,
.block-tb-megamenu-menu-blockmain > .content > .tb-megamenu > div,
.block-tb-megamenu-menu-blockmain
  > .content
  > .tb-megamenu
  > div
  > ul.tb-megamenu-nav {
  display: none;

  @include respond-to(medium) {
    display: flex;
    flex-grow: 1;
  }
}

.tb-megamenu {
  ul.tb-megamenu-nav {
    align-items: stretch;
  }

  background-color: #ffffff;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
  color: var(--su-navy);

  font-size: 0.9rem;

  .nav {
    flex-wrap: nowrap;
    & > li {
      flex-grow: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      & > a,
      & > span.tb-megamenu-no-link {
        display: flex;
        justify-content: center;

        margin-right: 0.5rem;
        margin-left: 0.5rem;

        background: none;
        border-style: none;
        text-align: center;
        color: var(--su-navy);
        font-weight: var(--bold-weight); // was 600
        text-transform: uppercase;
        text-decoration: none;
        padding: 0px;

        line-height: 1;
        white-space: normal;
      }

      & > a:focus,
      & > a:hover,
      & > span.tb-megamenu-no-link:focus,
      & > span.tb-megamenu-no-link:hover {
        background-color: #ffffff;
        color: var(--su-coral);
      }
    }

    & > .active {
      & > a,
      & > a:hover,
      & > a:focus,
      & > span.tb-megamenu-no-link,
      & > span.tb-megamenu-no-link:hover,
      & > span.tb-megamenu-no-link:focus {
        background-color: inherit;
        color: var(--su-navy);
        font-weight: var(--bold-weight);
      }
    }

    li[data-id='standard.front_page'] {
      flex-grow: 0;
      display: contents;
      a,
      a:hover,
      a:focus,
      a:active {
        background-image: url(/themes/custom/portico_sunset/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        color: transparent !important;
        width: 7em;
      }
    }
  }

  .nav-collapse .nav {
    & > li.active {
      & > a:hover,
      & > a:focus,
      & > span.tb-megamenu-no-link:hover,
      & > span.tb-megamenu-no-link:focus {
        background-color: inherit;
        color: var(--su-navy);
      }
    }
  }

  .row-fluid + .row-fluid {
    border-style: none;
  }

  .dropdown-menu {
    // -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    // -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    // box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    li > a,
    li > span.tb-megamenu-no-link {
      border: 0px;
      padding: 5px 20px;
      text-shadow: none;
    }
    li:first-child > a,
    li:first-child > span.tb-megamenu-no-link {
      border-top: 0;
    }
  }

  //.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret
  .nav li.dropdown {
    & > .dropdown-toggle .caret,
    &.dropdown-toggle .caret,
    &.open .dropdown-toggle .caret,
    &.open > .dropdown-toggle .caret,
    &.active > .dropdown-toggle .caret,
    &.active .dropdown-toggle .caret {
      position: absolute;
      bottom: -0.9em;
      display: block;

      margin: 0;
      margin-top: 6px;
      border-top-color: var(--su-coral);
      border-bottom-color: var(--su-coral);
      border-width: 6px;
    }
    &.active {
      & > .dropdown-toggle {
        background-color: inherit;
        color: var(--su-coral);
      }
    }
    &.open {
      & > .active {
      }
    }
  }
}

// ACtive link dropdown arrow
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: var(--su-coral);
  border-bottom-color: var(--su-coral);
}

// Active link
.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover,
.tb-megamenu .dropdown-menu .active > span.tb-megamenu-no-link,
.tb-megamenu .dropdown-menu .active > span.tb-megamenu-no-link:hover {
  background-color: transparent;
  background-image: none;
}

.tb-megamenu .mega-nav .mega-group > .mega-group-title,
.tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title,
.tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  color: var(--su-coral);
  margin-bottom: 1em;
  text-transform: none;
  font-size: 1.2em;

  .caret,
  &:hover .caret,
  &:focus .caret,
  &:active .caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    transform: none;
    border-right: none;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid var(--su-coral);
    margin-top: 4px;
    position: absolute;
    margin-left: 7px;
  }
  &:hover .caret,
  &:focus .caret,
  &:active .caret {
    border-left: 8px solid var(--su-text);
  }

  &:active,
  &:focus {
    color: var(--su-coral);
  }
}

.tb-megamenu .tb-megamenu-block {
  h2 {
    font-size: 1.5rem;
  }

  p > a {
    color: var(--su-coral);
    margin-bottom: 1em;
    text-transform: none;
    font-size: 1.2em;
    padding: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &:active,
    &:focus {
      color: var(--su-navy);
    }
  }
}

// Hide below Level 3

.tb-megamenu li.level-3 {
  .dropdown-menu,
  .caret,
  a::after {
    display: none !important;
  }
}

// Carets

.tb-megamenu .nav.level-0 {
  & > li.dropdown.open > .dropdown-toggle .caret,
  & > li.dropdown.open > a:hover .caret,
  & > li.dropdown.open > a:focus .caret {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--su-grey-background);
    border-top: none;
    top: 1.6rem;
    transition-duration: 200ms;
    pointer-events: none;
  }
}

body.toolbar-horizontal {
  --admin-menu-height: 78px;
}

// Navy dropdown
.tb-megamenu .level-1 {
  &.mega.open > .tb-megamenu-submenu {
    min-width: 100vw;
    font-size: 0.9rem;
    // margin-left: -186px; */
    position: fixed;
    left: 0;
    top: calc(
      var(--menu-overall-padding) + var(--menu-overall-padding) +
        var(--menu-logo-padding) + var(--menu-logo-padding) +
        var(--menu-logo-height) + var(--admin-menu-height, 0px)
    );
  }
  & > .tb-megamenu-submenu {
    background-color: var(--su-grey-background);
    border: none;

    top: calc(100% + 1.4em);
    margin-left: -0.9rem; // Match overall padding of #menu

    & > .mega-dropdown-inner {
      padding: 2vw 6vw;

      ul.tb-megamenu-subnav.mega-nav.level-1.items-1 {
        margin-top: 1.5em;
        // padding-left: 1vw;
        // padding-right: 1vw;
      }
    }

    li.animating,
    li.animating a {
      background: none;
    }

    // Blocks within the menu
    .tb-megamenu-block {
      color: var(--su-text);
    }

    // Group headers
    li {
      color: var(--su-text);
    }

    // Sublinks
    li > a,
    li > span.tb-megamenu-no-link {
      margin-top: 0.5em;
      color: var(--su-text);
      font-weight: var(--bold-weight);
      border-style: none;
      text-decoration: none;
      cursor: pointer;
    }
    li > a:hover,
    li > a:focus,
    .dropdown-submenu:hover > a,
    li > span.tb-megamenu-no-link:hover,
    li > span.tb-megamenu-no-link:focus,
    .dropdown-submenu:hover > span.tb-megamenu-no-link {
      cursor: pointer;
      background: none;
      color: var(--su-coral);
    }
  }

  .tb-megamenu-block {
    a {
      text-decoration: none;
      font-weight: var(--bold-weight);
      :hover,
      :focus {
        color: var(--su-coral);
      }
    }
  }
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > span.tb-megamenu-no-link:hover {
  background-color: #fff;
  color: var(--su-navy);
  &:hover {
  }
}

.tb-megamenu .dropdown .caret {
  margin-left: 5px;
}
.tb-megamenu .navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.tb-megamenu .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.tb-megamenu .dropdown-menu .disabled > a,
.tb-megamenu .dropdown-menu .disabled > a:hover,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link:hover {
  color: #999;
}
.tb-megamenu .dropdown-menu .disabled > a:hover,
.tb-megamenu .dropdown-menu .disabled > span.tb-megamenu-no-link:hover {
  background-color: transparent;
}
.tb-megamenu .nav > li.dropdown.open.active > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > a:focus,
.tb-megamenu .nav > li.dropdown.open.active > span.tb-megamenu-no-link:hover,
.tb-megamenu .nav > li.dropdown.open.active > span.tb-megamenu-no-link:focus {
  color: var(--su-coral);
}
.tb-megamenu .tb-block {
  background: transparent;
  color: inherit;
}
.tb-megamenu .tb-block .block-inner {
  padding: 0;
}
.tb-megamenu .tb-block .block-title {
  background: inherit;
  color: #ddd;
}
.tb-megamenu .block-ct {
  background: inherit;
  color: inherit;
  padding: 0;
  *zoom: 1;
}
.tb-megamenu .block-ct:before,
.tb-megamenu .block-ct:after {
  display: table;
  content: '';
  line-height: 0;
}
.tb-megamenu .block-ct:after {
  clear: both;
}
.tb-megamenu .tb-block ul.unstyled,
.tb-megamenu .tb-block ol.unstyled,
.tb-megamenu .tb-block ul.nav,
.tb-megamenu .tb-block ol.nav {
  margin-left: 0;
}
.tb-megamenu .block_menu .nav {
  margin-bottom: 20px;
}
.tb-megamenu .block_menu .nav > li {
  border-style: none;
}
.tb-megamenu .block_menu .nav > li > a,
.tb-megamenu .block_menu .nav > li > span.tb-megamenu-no-link {
  padding: 5px;
}
.tb-megamenu .block_menu .nav > li:first-child {
  border-style: none;
}
.tb-megamenu .block_menu .nav > li:first-child > a,
.tb-megamenu .block_menu .nav > li:first-child > span.tb-megamenu-no-link {
  padding-top: 0;
  border-style: none;
}

@media (max-width: 979px) {
  .tb-megamenu {
    background-image: none;
    background-color: inherit;
  }

  .tb-megamenu .nav-collapse,
  .tb-megamenu .nav-collapse .dropdown-menu {
    background-color: #333;
  }
  .tb-megamenu .nav-collapse .nav > li > a,
  .tb-megamenu .nav-collapse .dropdown-menu a,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link {
    border-style: none;
    color: #eee;
  }
  .tb-megamenu .nav > li > a,
  .tb-megamenu .nav > li > span.tb-megamenu-no-link {
    color: #eee;
    border-style: none;
  }
}

@media (max-width: 738px) {
  .tb-megamenu .nav-collapse .nav li a,
  .tb-megamenu .nav-collapse .nav li span.tb-megamenu-no-link {
    border-style: none;
  }
  .tb-megamenu .nav-collapse .nav > li > a,
  .tb-megamenu .nav-collapse .dropdown-menu a,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link {
    border-style: none;
    color: #eee;
  }
  .tb-megamenu .row-fluid + .row-fluid {
    border-style: none;
  }
}

.block-view-demo {
  .views-field-field-image img {
    border-style: none;
  }
  .item-list ul li {
    border-style: none;
  }

  .views-field-title a:hover,
  .views-field-title a:focus {
    color: var(--su-coral);
  }
}

.dropdown-toggle::after {
  display: none;
}

.tb-megamenu-submenu li.dropdown.open .caret,
.tb-megamenu-submenu li.dropdown.open.active .caret,
.tb-megamenu-submenu li.dropdown.open a:hover .caret,
.tb-megamenu-submenu li.dropdown.open a:focus .caret {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
