/**
 * @file
 * Visual styles for portico_sunset's status messages.
 */

.messages {
  margin: 1rem 0;
  padding: 0.8em 0.8em 0.8em 3rem;
  position: relative;
  font-weight: 700;

  // Annoyingly not sure how else to overwrite other modules (like webforms) without doing importants
  color: #ffffff !important;
  border: none !important;
  background-image: none !important;
  box-shadow: none !important;

  a {
    text-decoration: underline;
  }

  p {
    padding-top: 0em;
    &:last-child {
      padding-bottom: 0em;
    }
  }
}

/*Status messages symbols*/
.messages:before {
  font-family: "FontAwesome";
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
  text-align: center;
  height: 100%;
  padding-top: 10px;
}

/* Different statues */
.messages--status {
  background-color: $teal !important;
  &:before {
    content: "\f0f3"; // tick is "\f00c"; but status isn't always a positive action completed
    background-color: $teal;
  }
  a,
  a:hover,
  a:focus {
    color: #ffffff !important;
  }
}
.messages--warning {
  background-color: $coral !important;
  &:before {
    content: "\f12a";
    background-color: $coral;
  }
  a,
  a:hover,
  a:focus {
    color: #ffffff !important;
  }
}
.messages--info,
.messages--product-restriction {
  background-color: $navy !important;
  &:before {
    content: "\f05a";
    background-color: $navy;
  }
  a,
  a:hover,
  a:focus {
    color: #ffffff !important;
  }
}
.messages--error {
  color: var(--su-error-text) !important;
  background-color: var(--su-error-background) !important;
  &:before {
    content: "\f071";
    color: var(--su-error-text) !important;
    background-color: var(--su-error-background);
  }
  a,
  a:hover,
  a:focus {
    color: var(--su-error-text) !important;
  }
}
