.block-responsive-menu-horizontal-menu,
.block-responsive-menu-horizontal-menu .content,
.block-responsive-menu-horizontal-menu .content .responsive-menu-block-wrapper {
  display: flex;
  flex-grow: 1;
}

.horizontal-menu li.menu-item:not(:first-child) {
  display: none;
}

@include respond-to(medium) {
  .horizontal-menu li.menu-item:not(:first-child) {
    display: inline-block;
  }
}

.block-responsive-menu-horizontal-menu #horizontal-menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;

  li {
    a {
      font-weight: var(--bold-weight); // was 600
      text-transform: uppercase;
      color: $navy;
      text-decoration: none;

      &:hover {
        color: $coral-accessible;
        text-decoration: none;
      }
    }
  }
}

.block-responsive-menu-horizontal-menu
  #horizontal-menu
  li
  a[data-drupal-link-system-path='<front>'],
.mm-navbar__title {
  background-image: url(/themes/custom/portico_sunset/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  height: 3em;
  width: 9em;
}

.mm-navbar__title {
  margin-top: 1em;
  margin-bottom: 1em;

  span {
    display: none;
  }
}

.responsive-menu-toggle-icon {
  margin-right: 1em;

  &:before,
  &:after,
  span.icon {
    background-color: $navy;

    @include respond-to(medium) {
      margin-top: 0.4rem;
    }
  }

  span.label {
    display: none;
  }
}
