.orgchart {
    li,
    .item-list li {
        margin: 0px;
    }

    .nodecontent {
        border: 0px solid transparent;
        background-color: var(--su-grey-background);

        $spacing: 0.8em;

        margin: $spacing;
        padding: 0.45em;
        width: 100px;

        font-size: 0.8em;
        overflow-wrap: anywhere;

        &::before {
            top: -#{$spacing};
            height: $spacing;
        }
        &::after {
            bottom: -#{$spacing};
            height: $spacing;
        }

        &.organigram-box-trustee {
            background-color: var(--su-purple-20);
            width: 200px;
        }
        &.organigram-box-smt {
            background-color: var(--su-navy-20);
            width: 150px;
        }
        &.organigram-box-ops {
            background-color: var(--su-teal-20);
        }
        &.organigram-box-career {
            background-color: var(--su-coral-20);
        }
        &.organigram-box-student {
            background-color: var(--su-yellow-20);
        }
    }

    *::after,
    *::before {
        border-width: 2px;
    }
}
