/**
 * @file
 * Visual styles for portico_sunset's page-title elements.
 */

.block-page-title-block {
  padding: 0;
  margin: 0;
}

.page-title-container {
  display: block;
}

.page-title {
  @include page-title();
  @include page-title-font-size();

  &.colour-navy-on-yellow {
    color: var(--su-navy);
    background-color: var(--su-yellow);
  }

  &.colour-yellow-on-navy {
    color: var(--su-yellow);
    background-color: var(--su-navy);
  }

  &.colour-white-on-teal,
  &.colour-white-on-green {
    color: var(--su-teal);
  }

  &.colour-white-on-purple {
    color: #ffffff;
    background-color: var(--su-purple);
  }

  &.colour-white-on-coral {
    color: #ffffff;
    background-color: var(--su-coral);
  }

  &.colour-purple-on-white {
    color: var(--su-purple);
    background-color: #ffffff;
  }

  &.colour-coral-on-white {
    color: var(--su-coral);
    background-color: #ffffff;
  }

  &.colour-teal-on-white,
  &.colour-green-on-white {
    color: var(--su-teal);
    background-color: #ffffff;
  }

  &.colour-team-ucl {
    color: var(--su-teamucl-blue);
    background-color: var(--su-teamucl-purple);
  }

  &.colour-team-ucl-inverse {
    color: var(--su-teamucl-purple);
    background-color: var(--su-teamucl-blue);
  }
}

.page-subtitle-container {
  margin-top: 1em;
  max-width: 60vw;
  font-size: 0.7rem;
  @include respond-to(medium) {
    font-size: 1rem;
  }

  .page-subtitle {
    @include page-title();
    background-color: white;
    color: var(--su-navy);
    font-size: calc(1em + 0.2vw);
    line-height: 1.8;
    font-weight: var(--bold-weight); // was 600
  }
}
