/**
 * @file
 * Visual styles for portico_sunset's pager.
 */

/* Using .pager selector on the first one to override .region-content ul. */

.pager .pager__items {
    margin: 2em 0 1em;
    padding: 0;
}

li.pager__item {
    padding: 0;
    margin: 0 0.5em 0 0;
    border-bottom: none;
    font-size: 12px;
}

/* components: pager */
li.pager__item > a {
    padding: 9px 17px;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    line-height: 1.5;
    background-color: transparent;
    display: inline-block;
    font-size: 1rem;
}

li.pager__item > a:hover {
    background-color: transparent;
}

li.pager__item > a:focus {
}

li.pager__item.is-active > a {
    line-height: 1;
    text-decoration: none !important;
}

div.pagerer-container li.pager__item > a {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border: none;
    background-color: transparent;
    color: $purple;
    font-size: 6rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover {
        color: var(--su-grey-dark);
    }
}

@include respond-to(large) {
    div.pagerer-container li.pager__item > a {
        top: -28rem;
        position: relative;
        &[rel="next"] {
            left: 8rem;
        }
        &[rel="prev"] {
            left: -8rem;
        }
    }
}
