.sitemap-item {
  > div > ul.menu > li.menu-item > ul.menu {
    margin-left: 1em;
    font-weight: var(--bold-weight);
    > li.menu-item > ul.menu {
      margin-left: 2em;
      font-weight: normal;
      > li.menu-item > ul.menu {
        margin-left: 3em;
        > li.menu-item > ul.menu {
          margin-left: 4em;
          > li.menu-item > ul.menu {
            margin-left: 5em;
            > li.menu-item > ul.menu {
              margin-left: 6em;
              > li.menu-item > ul.menu {
                margin-left: 7em;
              }
            }
          }
        }
      }
    }
  }
}
