/**
 * @file
 * Visual styles for portico_sunset's system tabs and toolbar.
 */

/* TO MAKE THEM BUTTONS:
 #toolbar {
  padding: 1em;
  padding-bottom: 0.5em;

  background-color: var(--su-grey-light);
  border-top: 2px solid $yellow;
  border-bottom: 2px solid var(--su-grey-dark);
}

 .tabs a {
  @include button;
 }
 */

nav.tabs {
  display: flex;
  flex-direction: column;
  @include respond-to(medium) {
    flex-direction: row;
  }
}

// #toolbar {
.tabs.primary {
  padding: 0.4em;
  background-color: var(--su-grey-background);
  border-top: 2px solid var(--su-grey-dark);
  border-bottom: 2px solid var(--su-grey-dark);
}

.tabs > li {
  margin-right: 0;
  text-align: right;

  display: inline-block;

  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

// #toolbar::after {

.tabs ul.secondary {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 1em;
  @include respond-to(medium) {
    max-width: 30vw;
  }
  font-size: 0.9em;
  li {
    text-align: left;

    a {
      @include link;
      padding: 0.25em 0.5em;
      border: none;
      &.is-active {
        font-weight: var(--bold-weight);
      }
      &:hover,
      &:first,
      &.is-active {
        background-color: none;
        border: none;
        text-decoration: none;
      }
    }
  }
}

.tabs a {
  @include link;
  font-size: 1em;
  padding: 0.2em 0.4em;
  color: var(--su-text);

  &:hover,
  &:focus,
  &.is-active {
    font-weight: var(--bold-weight);
    background-color: transparent;
  }
  &.is-active {
    text-decoration: none;
  }
}

@include respond-to(medium) {
  #pagecontainer-inside {
    flex-direction: row;
  }

  .tabs.primary a {
    @include tabs;
    &:hover {
      border-right: 2px solid var(--tabs-color);
    }
  }

  #toolbar,
  #toolbar-inside,
  #toolbar-inside .region-toolbar,
  #toolbar-inside .block-local-tasks-block {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    // margin-right: 0.5em;
  }

  .tabs.primary a {
    @include tabs_vertical;
  }

  .tabs ul.primary {
    margin: 0;
    border-collapse: collapse;
    // height: auto;
    line-height: normal;
    overflow: hidden;
    border: none;
    border-top: 2px solid var(--su-grey-dark);
    white-space: nowrap;
    position: relative;

    z-index: 50;

    li {
      display: block;
      vertical-align: bottom;
    }
  }
  .tabs.primary {
    max-width: 15vw;
    min-width: 10vw;
    padding-right: 0;
    padding-left: 1vw; //3vw
    height: 100%;
    font-size: 1.1rem;

    a {
      border-right: none;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -2px;
        display: block;
        height: 100%;
        width: 2px;
        background-color: white;
      }
    }

    &::after {
      content: "";
      position: absolute;
      border-right: 2px solid var(--tabs-color);
      height: 100%;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .tabs-container.secondary {
    max-width: 15vw;
    font-size: 0.9em;
  }
}

.tabs.primary a {
  text-align: center;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.block.block-local-tasks-block,
.block-local-actions-block {
  padding-bottom: 0;
}

div.tabs {
  margin-bottom: 20px;
}

// @media screen and (max-width: 37.5em) {
//     /* 600px */
//     .tabs ul.primary {}
//     .tabs ul.primary li,
//     .tabs ul.secondary li {

//         &.is-active,
//         &:hover,
//         &.is-active:hover {
//             border-right: 2px solid var(--tabs-color);
//         }
//         margin: 0;
//     }
//     .tabs ul.primary li a {}
//     .tabs ul.primary li.is-active a {}
// }
