/**
 * @file
 * Visual styles for portico_sunset's tables.
 */

table,
.wp-block-table table {
  font-size: 0.95em;
  border-collapse: collapse;
  width: 100%;
  color: var(--su-text);
  margin: 25px 0 40px;
  table-layout: auto; // fixed

  thead {
    border: none;
  }

  th,
  td {
    vertical-align: top;
    padding: 0.5rem;
    @include respond-to(medium) {
      padding: 1rem;
    }
    text-align: left;
    border: none;
    color: var(--su-text);

    overflow-wrap: break-word;
    overflow: hidden;

    .label {
      margin-bottom: 0;
    }
  }

  th {
    // font-size: 1.1em;
    text-transform: uppercase;
    border-bottom: 2px solid $yellow;
    // background-color: $yellow;
    font-weight: var(--bold-weight); // was 600
    &.views-field-views-send-bulk-form {
      width: 1rem;
    }
  }

  th a,
  th a:hover {
    color: var(--su-text);
    text-decoration: underline;
  }

  td {
    // border: 1px solid $navy;
    border: none;
    border-bottom: 2px solid var(--su-grey-light);
  }

  tr:last-child td,
  tr:last-child th {
    border-bottom: 2px solid $yellow;
  }

  tr.even,
  tr.odd {
    font-size: 0.9em;
  }

  td.is-active,
  tr.selected td,
  tr.selected th {
    background-color: var(--su-grey-light-a40);
  }

  caption {
    caption-side: top;
    @extend h3;
    display: table-caption !important;
  }
}

.view-grouping-header {
  @extend h2;
}

td.views-field-operations,
td.views-field-dropbutton {
  overflow: visible;
}
