// D7 report-style TOC

/* Post-header table of contents */

.container-toc {
  display: none;
  position: sticky;
  top: 0;
  min-height: 3.5rem;
  background: #082244;
  width: 100%;
  z-index: 503;
}

.region-toc {
  padding-top: 1rem;
  padding-bottom: 1rem;

  a {
    color: white;
    margin-right: 1em;
    line-height: 1.3rem;
    font-weight: var(--bold-weight);
    transition: 0.3s ease;
    text-decoration: none;
    white-space: nowrap;

    font-size: 1em;
  }

  a:hover,
  a:focus {
    color: #f26640;
  }

  a::after,
  a::before {
    width: 0;
    height: 0;
    display: inline-block;
    content: ' ';
    transition: 0.3s ease;
  }

  a.toc-after::after {
    border-left: 0.35rem solid #f26640;
    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;

    margin-left: 0.3rem;
  }

  a.toc-after::before {
    border: none;
  }

  a.toc-before {
    // margin-left: 0.5rem;
  }

  a.toc-before::before {
    border-right: 0.35rem solid #f26640;
    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
    margin-right: 0.3rem;
  }

  a.toc-before::after {
    border: none;
  }

  a.current {
    color: #f26640;
  }

  a.current::after,
  a.current::before {
    width: 0;
    height: 0;
    border: none;
    content: ' ';
  }
}
