/**
 * @file
 * Visual styles for portico_sunset's theme settins page.
 */

.theme-settings-title {
  font-weight: var(--bold-weight);
  margin-bottom: 5px;
}
.theme-settings-image-wrapper img {
  max-width: 100%;
  height: auto;
}
