/* For tabs see tabs */

.region-toolbar nav:not(.tabs) {
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    // background-color: var(--su-grey-light);
    // border-top: 2px solid var(--su-grey-dark);
    // border-bottom: 2px solid $yellow;
    h2 {
        display: inline-block;
    }
    .content {
        display: inline-block;
    }
    ul {
        display: inline-block;
        li {
            @include button;
            padding: 0.25em 0.5em;
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}