.card {
  // Shared across all variations
  padding: 0;
  overflow: hidden;
  display: grid;
  cursor: pointer;
  border: none;
  line-height: 1.4;
  border-radius: 0;

  .card-field {
    margin-top: 0;
    margin-bottom: 0;
  }

  background-color: var(--su-card-background);
  color: $navy;

  transform: scale(1);
  &:hover {
    @include hover-animation;
    .card-duotone-field {
      // filter: none;
    }
  }

  // STRUCTURAL

  // Default is portrait of two squares
  grid-template-rows: 1fr 1fr;

  // Default size for small screen sizes
  height: 28rem;
  width: 14rem;
  font-size: 0.9rem;

  // Cards are made of two areas: image-fieldset and content-fieldset

  .content-fieldset {
    margin-bottom: 2rem;

    .content-fields {
      display: flex;
      flex-direction: column;

      word-break: break-word;
    }
  }

  .image-fieldset {
    display: flex;
    flex-direction: column;
    position: relative;

    .image-fields {
      position: relative;
      background: transparent;
      z-index: 2;

      .host-fields {
        display: flex;
      }
    }
  }

  .image-fields,
  .content-fields {
    padding: 1em;
  }

  // This is an invisible link that covers the full card
  a.card-link {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; // needed to prevent elements taking the click event
  }

  &.card-square {
    height: 18rem;
    width: 18rem;
    max-width: 90vw;
    max-height: 90vw;
  }

  // NO IMAGE
  &.card-no-image {
    grid-template-rows: 1fr 0.5fr;

    &.card-horizontal {
      grid-template-columns: unset;
    }

    .card-field.host_text {
      color: var(--su-navy);
      width: auto;
    }
  }

  // PORTRAIT CARDS - LARGE IMAGES
  &.card-large-image {
    @include respond-to(medium) {
      // Avoid breaking horizontal-sm
      grid-template-rows: 66% 33%;
    }

    .content-fieldset {
      display: flex;
      flex-direction: column;
    }

    .card-field.image_box {
      @include stick-to-top(right);
    }

    .card-field {
      &.card_title_field,
      &.card-field.card_title_field > * {
        @include limit-to-lines(2);
      }

      &.card_subheading_1 {
        @include limit-to-lines(2);
      }

      &.card_body_text_preview {
        @include limit-to-lines(2);
      }
    }
  }

  .card-field {
    margin-top: none;
    margin-bottom: none;
  }

  // HORIZONTAL VARIATION
  &.card-horizontal {
    grid-template-rows: 1fr;

    height: 35vw;
    &:not(.card-no-image) {
      grid-template-columns: 35vw auto;
    }
    width: unset;

    // Default for small screen sizes
    font-size: 0.7rem;

    .clip-path-union-u {
      clip-path: none !important;
    }

    .image-fields {
      padding: 0;
      padding-left: 1em;
    }
    .content-fields {
      padding: 1em;
    }

    .card-field.card_body_text_preview,
    .card-field.card-field.card_button_text,
    .card-field.body_box {
      display: none;
    }
    .image_box {
      font-size: x-small;
    }
    .card-field.body_box {
      bottom: auto;
      left: auto;
      top: 0;
      right: 0;
      margin: 1rem;
    }
  }

  // Makes cards horizontal on smaller screen sizes
  &.card-horizontal-sm {
    @include respond-to-max(small) {
      // grid-template-rows: 1fr; // Doesn't seem to do anything
      width: 100%;

      height: 35vw;
      grid-template-columns: 35vw auto;
      grid-template-rows: 1fr;
      .image-fieldset {
        max-height: 35vw;
      }

      // Default for small screen sizes
      font-size: 0.7rem;

      .card-field {
        &.card_title_field,
        &.card-field.card_title_field > * {
          @include limit-to-lines(2);
        }

        &.card_button_text,
        &.card_body_text_preview,
        &.host_text,
        &.image_box,
        &.body_box {
          display: none;
        }

        .clip-path-union-u {
          // clip-path: none !important;
        }
      }
    }

    @include respond-to(medium) {
    }
  }

  * {
    user-select: none;
  }

  .card-duotone-field {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
  }

  &.card-background-contain {
    .card-duotone-field {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .image-fields {
    display: flex;
    // flex-wrap: wrap;
    height: 100%;
  }

  // Specific fields
  .card-field {
    margin-bottom: 0.5rem;
    &.host_icon {
      img {
        background-size: cover;
        object-fit: cover;
      }
      width: 2.5rem;
      height: 2.5rem;
      background-size: cover;
      border: 1px solid transparent;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &.host_text {
      width: calc(100% - 2.51rem);
      order: 2;
      margin-left: 0.5rem;
      color: #ffffff;
      font-weight: var(--bold-weight); // was 600
      margin-top: 0.4rem;
      word-wrap: break-word;
    }

    &.image_box {
      @include stick-to-bottom(right);
      max-width: 80%;
      overflow: hidden;
      text-align: right;
      font-weight: var(--bold-weight); // was 600
      background: white;
      padding: 0.2rem;
    }

    &.card_title_field,
    &.card-field.card_title_field > * {
      font-size: 1.2em;
      font-weight: var(--bold-weight);
      text-decoration: none;
      color: $navy;

      margin-top: 0;
      margin-bottom: 0.5rem;
      @include limit-to-lines(3);
    }

    &.card_subheading_1 {
      font-weight: var(--bold-weight); // was 600
      @include limit-to-lines(3);
    }

    &.card_body_text_preview {
      text-overflow: ellipsis;
      @include limit-to-lines(3);
    }

    &.card_button_text {
      @include button;
      @include stick-to-bottom(right);
      @include truncate(8, '""');
      max-width: 40%;
      z-index: 101; // Allow hover effect on button specifically
      margin-right: 1em;
      &:first-child,
      &:last-child {
        margin-right: 1em;
      }

      & > * {
        color: inherit;
        text-decoration: none;
      }
    }

    &.body_box {
      @include stick-to-bottom(left);
      font-weight: var(--bold-weight); // was 600
      padding: 0.3rem 0.5rem;
      padding-left: 0;
      color: $teal;
    }
  }

  .views-field-title,
  .views-field-label {
    font-size: 1.3em;
    font-weight: var(--bold-weight);
  }
}

/* CARD LISTS */
// [class*="content-card-lists"] {
//   display: grid;
//   h2 {
//     max-width: max-content;
//   }
//   .pager .pager__items {
//     margin: 0px;
//   }
//   .more-link {
//     display: block;
//     text-align: right;
//     position: relative;
//     top: -6rem;
//   }
// }
@include respond-to(small) {
  .card {
    &.card-horizontal,
    &.card-horizontal .image_box {
      font-size: 0.8rem;
    }
  }
}
@include respond-to(medium) {
  .card {
    &.card-portrait-small {
      height: 20rem;
      width: 10rem;
      .content-fieldset {
        margin-bottom: 0px;
      }

      font-size: 0.85em;
    }

    &.card-horizontal,
    &.card-horizontal .image_box {
      font-size: 0.9rem;
      .card-field.card_body_text_preview,
      .card-field.card-field.card_button_text,
      .card-field.body_box {
        display: unset;
      }
      .image-fields {
        padding: 1rem;
      }

      .content-fields {
        padding: 2em;
      }
    }
  }
}

@include respond-to(large) {
  .card-grid .card.card-horizontal {
    --card-horizontal-height: 14rem;
    .card_body_text_preview {
      @include limit-to-lines(4);
    }

    grid-template-rows: 1fr;
    grid-template-columns: var(--card-horizontal-height) 1fr;
    height: var(--card-horizontal-height);
    width: unset;
    .image-fieldset {
      min-height: 100%;
      max-height: var(--card-horizontal-height);
    }
  }
}

// Not sure what these do:

.card.card-no-image.card-horizontal {
  // display: block;
  grid-template-columns: 1fr;
  .host-fields {
    display: flex;
  }
}

.item-list .card {
  min-height: auto;
  padding: 1.3em;
  margin: 0 0 0.25em 0;
}
