.quiz_score_possible,
.quiz_score_percent {
  @include admin-box;
}

.quiz-question-multichoice {
  table td {
    vertical-align: middle;
  }
}

#course-nav {
  list-style: none;
  display: flex;

  li {
    margin: 0 0.5em 0 0;
  }

  a {
    @include button;
  }
}
