/* base: elements */

pre {
  border-left-color: var(--su-coral-dark);
}

.container,
.container-fluid {
  h2,
  h3,
  h4 {
    width: -moz-fit-content;
    width: max-content;
    max-width: 100%;
  }
}

// Style toolbar for local and test environments
body.env-local #menu {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 2rem,
    var(--su-grey-background) 2rem,
    var(--su-grey-background) 4rem
  );
}
body.env-test #menu {
  background: repeating-linear-gradient(45deg, white, white 2rem, var(--su-teal-faded) 2rem, var(--su-teal-faded) 4rem);
}

#page.unpublished {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 1rem,
    var(--su-coral-faded) 1rem,
    var(--su-coral-faded) 2rem
  );
  > .container {
    background-color: #ffffffbb;
  }
}
.node--unpublished,
.group--unpublished {
  background: transparent;
}

.admin-box {
  @include admin-box;
}
.region-content,
.gutenberg__editor .block-editor__typewriter {
  h1,
  .h1,
  .heading-a {
    font-size: 2em;
    font-weight: var(--bold-weight);
    margin-bottom: 1em;
  }

  h2,
  h2.title,
  .heading-b {
    font-size: 1.5em;
    font-weight: var(--bold-weight);

    color: $navy;
    background: $yellow;

    max-width: 80%;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    padding: 0.2rem 0.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    display: block;
    line-height: 1.3;

    // display: inline;
    // line-height: 1.8;
    strong,
    b {
      font-weight: unset;
    }
  }

  > h2:first-child {
    margin-top: 0px;
  }

  h3,
  .heading-c {
    color: $navy;
    font-size: 1.3em;
    font-weight: var(--bold-weight); // was 600
    margin-top: 0.8em;
    margin-bottom: 0.8em;

    strong,
    b {
      font-weight: unset;
    }
  }

  h4,
  h5,
  h6,
  .heading-d {
    font-size: 1.1em;
    font-weight: var(--bold-weight); // was 600
    margin-top: 2rem;
    margin-bottom: 1rem;

    strong,
    b {
      font-weight: unset;
    }
  }

  p strong,
  p b {
    font-weight: var(--bold-weight); // was 600
  }

  .field--label-above {
    margin-bottom: 0.8rem;
  }

  // .field {
  //   margin-top: 0.5rem;
  //   margin-bottom: 0.5rem;
  // }

  form {
    // overflow-x: scroll;
  }
}

hr,
.wp-block-separator {
  margin: 2rem 0;
  border-bottom: 2px solid var(--su-yellow);
  background: none;
  opacity: 1;
  width: 100%;
}

/* base: layout */

#header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#header.header-with-pattern {
  background-size: cover;
}

#pre-header,
#header-top {
  background-color: $teal;
}

/* components: accordion */

.panel-title a,
.panel-heading a:hover {
  background-color: $teal;
}

/* components: block */

.sidebar .block > h2,
#page .block-views > h2 {
  text-transform: none;
  padding: 0.2rem 0.5rem;
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.sidebar .block > h2 {
  background-color: var(--su-teal);
  color: var(--su-teal-contrast-text);

  a {
    text-transform: none;
    background-color: var(--su-teal);
    color: var(--su-teal-contrast-text) !important;
  }
}

.sidebar .block p:first-child,
#page .block-views p:first-child {
  margin-top: 0;
}

.more a,
ul.links li.statistics_counter span {
  @include link-tag;
}

a.button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.fc-button,
.dropbutton-wrapper a,
.dropbutton-toggle,
.flag a,
.more-link a,
#edit-actions .action-link,
.field--button a {
  --button-color: var(--su-navy);

  @include button;
  &.button--secondary {
    --button-color: var(--su-teal);
  }
  &.button--danger {
    --button-color: var(--su-coral-accessible);
  }
}

.dropbutton-toggle {
  padding-left: 10px;
  .dropbutton-arrow {
    margin-left: 10px;
    right: 30%;
  }
}

.dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0px;
}

.dropbutton-wrapper .dropbutton-widget {
  border: 0;
}

/* components: buttons */

.pre-header-area input[type="submit"],
.header-top-area input[type="submit"] {
  background-color: $yellow !important;
}

.pre-header-area input[type="submit"]:hover,
.header-top-area input[type="submit"]:hover {
  background-color: $coral !important;
}

/* components: dropdown-blocks */

.dropdown .trigger {
  color: $teal;
}

.colored-area .dropdown .trigger {
  color: #ffffff;
}

.colored-area .dropdown-menu > li {
  color: #3f3f3f;
}

.colored-area .dropdown-menu > li a {
  color: $yellow;
  text-decoration: none;
}

.colored-area .dropdown-menu > li a:hover,
.colored-area .dropdown-menu > li a:active,
.colored-area .dropdown-menu > li a:focus {
  color: $teal;
  text-decoration: none;
}

/* components: fields */

.text-formatted {
  overflow-wrap: break-word;
}

/* components: flexslider-internal-banner */

#internal-slider-carousel ul.slides > li.flex-active-slide,
#internal-slider-carousel ul.slides > li:hover {
  border-color: $teal;
}

.flex-direction-nav a {
  height: 80px;
}

/* components: forms */

input.form-text:focus,
textarea:focus {
  border-color: $coral;
}

/* components: image-overlay */

.overlay {
  background-color: $teal;
  background-color: rgba(234, 45, 73, 0.3);
}

.overlay i {
  background-color: $teal;
}

/* components: node-links */

ul.links li.statistics-counter {
  color: $yellow;
}

.more a:hover {
  background-color: $teal;
}

/* components: node */

.post-progressbar {
  background-color: $teal;
}

.node-info-item-term .field--name-field-mt-post-categories a {
  color: $yellow;
}

.node-info-item-term .field--name-field-mt-post-categories a:hover {
  color: $teal;
}

/* components: primary-menu */

body:not(:target) .region-navigation .menu-toggle:hover,
body:not(:target) .region-navigation .menu-toggle--hide {
  background-color: $teal;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .region-navigation .menu-item,
  body:not(:target) .region-navigation .menu-item,
  .region-navigation .menu .menu-item a:hover {
    background-color: $teal;
  }
  .region-navigation .menu-item a,
  body:not(:target) .region-navigation .menu-item a {
    background-color: $yellow;
  }
}

/* components: social-links */

.header-area .header-logo {
  width: 140px;
  height: 140px;
  border: solid 2px white;
  background-color: white;

  margin-bottom: 1rem;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url(https://welcome.studentsunionucl.org/sites/default/files/bloomsbury_logo_pic_1.jpg);
  background-position: center;
}

.header-area ul.social-bookmarks li a:hover,
.header-area ul.brands li a:hover,
ul.user-social-bookmarks li a:hover {
  background-color: $teal;
}

ul.user-social-bookmarks li a:hover {
  color: $teal;
}

/* components: tables */

table,
thead,
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: var(--su-text);
}

/* components: tabs */

.nav-tabs {
  border-bottom-color: $teal;
}

.nav-tabs > li > a:hover {
  border-color: $teal;
  background-color: $teal;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: $teal;
  border-color: $teal;
}

@media (min-width: 481px) {
  .nav-tabs > li.active > a:after {
    color: $teal;
  }
}

/* components: teaser-listings */

.view-feed .promoted-posts .view-header span {
  background-color: $teal;
}

/* components: to-top */

#toTop {
  color: $teal;
}

@media (max-width: 600px) {
  #toTop {
    right: 10px;
    bottom: 60px;
  }
}

/* components: view-breaking-slider */

.view-titles .more-link a {
  background-color: $teal;
  border-bottom: 6px solid rgba(192, 39, 60, 0.65);
}

/* components: view-most-popular */

.view-popular-objects .views-row:hover {
  border-color: $teal;
}

.view-popular-objects .views-row:hover .views-field-field-mt-post-categories a {
  background-color: $teal;
}

/* components: views */

.views-field-title a:hover {
  color: $teal;
}

.views-field-field-mt-post-categories a:hover {
  background-color: $teal;
}

/* Components: view-tags-cloud */

.view-mt-tags-cloud .views-row a:hover {
  background-color: $teal;
}

.geofield-google-map {
  height: 100vh;
}

.datetime {
  .date {
    font-weight: var(--bold-weight); // was 600
    font-size: calc(1rem + 0.5vw);
  }
  .time {
    font-size: calc(1rem + 0.5vw);
  }
}

.union-loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #fec340;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spinloader 1s linear infinite;
}

@keyframes spinloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-box div {
  width: 5rem;
  height: 5rem;
}

#block-possibleoutages21stand22ndofaugust {
  padding: 1em;
  font-size: 1em;
  text-align: center;
  background-color: var(--su-coral-20);
  border-top: 2px solid var(--su-coral);
  border-bottom: 2px solid var(--su-coral);
  h2 {
    font-size: 2em;
    @extend .container;
  }
}

.orgchart {
  padding: 1em;
  overflow-x: scroll;
}

@media print {
  #footer,
  #block-mainnavigation,
  #block-portico-sunset-account-menu,
  #views-exposed-form-search-public-page-1 {
    display: none;
  }
}
