.user_input_required_su_students_self_definition {
  padding: 1em;
  padding-left: 2rem;
  background-color: var(--su-purple-20);
  padding-right: 2rem;

  .js-form-type-checkbox {
    margin-top: 2rem;
  }
}

.complex_condition_eligibility__description {
  font-size: 0.9em;
  font-style: italic;
}

.election__posts .views-infinite-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
}

.field--name-count-results-html {
  table.election__info,
  table.election__single_round_table {
    max-width: fit-content;
    font-size: 0.8rem;

    th,
    td {
      text-transform: none;
    }
  }
}

.candidates_list .election_candidate {
  background-color: var(--su-card-background);
  display: flex;
  margin-bottom: 2rem;

  flex-direction: column;
  img {
    min-width: 100%;
  }
  @include respond-to(medium) {
    flex-direction: row;
    img {
      min-width: 300px;
    }
  }

  p {
    padding: 0 0 1rem 0;
  }

  .text_section {
    transition-duration: 400ms;

    .field__label {
      font-size: 1em;
    }
  }
  .text_section__rolled_up {
    @include limit-to-lines(5);
    max-height: 10rem;
  }
  .read_more_link {
    @include button;
    display: none;
    margin-top: 1rem;
    &.read_more_link__visible {
      display: inline-block;
    }
  }

  &.not_published {
    background: repeating-linear-gradient(
      45deg,
      white,
      white 1rem,
      var(--su-coral-faded) 1rem,
      var(--su-coral-faded) 2rem
    );
  }

  .left {
    .field--name-field-candidate-photo {
      margin: 0 !important;
    }
  }
  .right {
    min-height: 300px;
    padding: 1rem;
    .field {
      margin-top: 0 !important;
    }
    .field--name-name {
      font-size: 1.4em;
      font-weight: var(--bold-weight);
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
    .field--type-text-long {
      min-height: 12em;
    }
  }
}

#edit-rankings {
  .form-type-select {
    line-height: 1;
  }
}

.election__round_header {
  margin-top: 1rem;
  font-weight: var(--bold-weight);
}

.election_stats__big_counter {
  font-weight: var(--bold-weight);
  font-size: 5em;
}
.election_stats__big_counter_label {
  font-weight: var(--bold-weight);
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
  // text-align: center !important;
}

// .field--name-count-candidates-elected {
//   @include admin-box(var(--su-coral));
//   padding-top: 1rem;
//   padding-bottom: 1rem;
//   ul {
//     margin-block-start: 0;
//     margin-block-end: 0;
//   }
// }
