// MATERIAL UI COMPONENTS SHOULD BE STYLED IN _material-ui.scss
// In order to keep all styling across any React apps global

.MuiGrid-root {
  * {
    font-family: var(--font-family, "freight-sans-pro", "Roboto", Helvetica Neue, Arial, Sans-serif);
  }
  .fair-page-title,
  .stall-page-title {
    font-size: 12vmin;
    font-weight: var(--bold-weight);
    color: white;
    margin-bottom: 0.5em;
    background-color: transparent;
    border: none;
    line-height: 1;
  }
  .fair-page-title {
    margin: 0;
    padding: 0;
  }
  .stall-page-title {
    font-size: 8vmin;
  }
  .fair-page-tagline,
  .stall-page-tagline,
  .stall-page-category {
    color: white;
    font-size: 4vmin;
    background-color: transparent;
    border: none;
  }
  .stall-page-tagline {
    font-weight: var(--bold-weight);
  }
  .fair-page-tagline {
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .stall-page-category {
    font-size: 3vmin;
  }
}

.fair-loader {
  background-color: white;

  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  position: fixed;
  z-index: 20;
  justify-content: center;
  align-items: center;
  display: flex;
  .lds-ring {
    margin-top: -15vh;
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 30vh;
  height: 30vh;

  background-image: url(/themes/custom/portico_sunset/logo_u.svg);
  background-size: 7vh;
  background-repeat: no-repeat;
  background-position: 55% 55%;
  background-origin: content-box;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24vh;
  height: 24vh;
  margin: 4vh;
  border: 4vh solid $coral;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $coral transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
