.wp-block-file__button,
.wp-block-button__link {
  @include button;
}
.wp-block-button {
  &.fullwidth {
    display: block;
    .wp-block-button__link {
      display: block;
    }
  }
}
.wp-block-buttons {
  margin-top: 1em;
  margin-bottom: 1em;
}

.wp-block-pullquote {
  border: none;
  padding: 0;
}

.wp-block-quote,
blockquote {
  @include blockquote;
}

.wp-block-image {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
  font-size: 1rem;
}

.node-preview-container {
  background-color: white;
}

.blocks-gallery-grid,
.wp-block-gallery {
  padding: 2px;
}

.wp-block-cloudblocks-hero-section main {
  font-family: var(--font-family) !important;
  .wp-block-button__link {
    @include button;
  }
}

// Styling edit sidebar elements to hide functionality we don't want people to use
// Page content type
.page-node-type-page .edit-post-sidebar {
  .components-font-size-picker,
  .block-editor-panel-color-gradient-settings,
  .block-editor-line-height-control,
  .components-font-size-picker__controls {
    display: none;
  }
}

// Styling editor to keep it tidy
.gutenberg__editor {
  // Hide "more settings" - we just use the sidebar
  .edit-post-layout__metaboxes {
    display: none;
  }

  // Hide some unecessary formatting controls
  .block-editor-line-height-control {
    display: none;
  }

  .link-tiles .link-tile {
    background-color: var(--su-grey-background);
  }

  // This styles the WYSIWG area
  .editor-styles-wrapper {
    font-family: var(--font-family) !important;

    // Widen non-full-width block width
    .wp-block:not([data-align="full"]) {
      max-width: 55vw;
    }

    // Make custom blocks that are full width show as full width
    .wp-block[data-type="su-gutenberg-blocks/heading-banner"] {
      max-width: none;
    }

    h2.wp-block {
      max-width: max-content;
      margin-left: 7vw;
    }

    h2 {
      max-width: 100%;
    }

    .block-editor-inserter__panel-title {
      background: none;
      max-width: 100%;
    }

    .block-editor-block-list__block {
      margin-top: 1em;
      margin-bottom: 1em;
      // display: block;

      // Showing border on each block to be clear
      // Not sure about this yet
      border: 1px solid #efefef;
      padding: 8px;
    }
    ul.block-editor-block-list__block,
    ol.block-editor-block-list__block {
      padding-left: 2em;
    }

    .block-editor-inserter__panel-header {
      width: 100%;
      font-size: 0.7em;
    }

    video {
      max-width: 100%;
    }
  }

  .edit-post-fullscreen-mode-close {
    color: white;
  }

  // Styles the sidebar
  .edit-post-sidebar {
    min-width: 30vw;
    // .field--type-boolean {
    //     margin-left: 2em;
    // }
    h2 {
      display: block;
      background-color: transparent;
      max-width: 100%;
    }
    .components-select-control__input {
      height: min-content !important;
    }
  }
  .components-panel {
    font-size: 0.9rem;
    .entity-meta__title {
      font-size: 0.9rem;
    }
    .form-element,
    .form-item__label {
      font-size: 0.8rem;
      min-height: auto;
    }
    .form-type--boolean .form-boolean {
      margin-right: 0.5rem;
      margin-left: 0;
    }
    .redirect-table {
      table-layout: unset;
    }
    .button:visited {
      color: $purple;
    }
    .chosen-container {
      // padding:0;
      a.chosen-single {
        all: unset;
      }
    }
    .chosen-container-single .chosen-drop {
      margin-left: calc(-1rem + 1px);
    }
  }
}

.has-large-font-size {
  font-size: 1.35rem;
}

// https://www.drupal.org/project/gutenberg/issues/3165259
.ui-autocomplete {
  z-index: 1000 !important;
}

//overwriting gt hr stylesommit
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: unset;
  max-width: unset;
}
//accordion block styles
.su-accordion-icon path {
  transform: scale(0.04, 0.04);
}

dt.rich-text {
  background-color: var(--su-teal);
  color: white;
  padding: 0.5rem;
}

.wp-block-custom-ckeditor-accordion {
  .styled {
    margin: 0.5rem 0;
  }
  dt a {
    text-decoration: none;
  }
}
.heading-banner {
  display: flex;
  min-height: 60vh;
  position: relative;

  .headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    @include respond-to(medium) {
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      background: none;
      padding: 0;
      // font-size: 3rem;
      max-width: 80vw;
      @include page-title-font-size();
    }
    h3 {
      max-width: 60vw;
      .page-subtitle {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

#page.page-node-type-page_full .field--name-body .alignfull-container {
  @extend .container;
}

.duotone-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -2;
}
&.has-parallax {
  .duotone-image {
    @include respond-to(medium) {
      // Safari on iOS doesn't like this (pixelates the images)
      // So we condescend to disable it for small screens
      background-attachment: fixed;
    }
  }
}

.heading-box-break,
.link-tile-titles .title > span,
.link-tile-titles .subtitle > span {
  padding: 0.2rem 0.5rem;
  line-height: 1.6;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  display: inline;
}

.heading-box-break {
  color: var(--header-text-colour, --su-navy);
  background-color: var(--header-background-colour, --su-yellow);
  // &:hover,
  // &:focus {
  //   background-color: var(--header-text-colour, --su-navy);
  //   color: var(--header-background-colour, --su-yellow);
  // }
}

.wp-block-column {
  padding: 1em;
}

.link-tile-titles .subtitle > span {
  color: var(--su-text);
  background: #ffffff;
}
// TILES
.link-tiles {
  @include respond-to(medium) {
    display: flex;
  }
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > .row {
    width: 100%;
  }

  .link-tile {
    flex-grow: 1;
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none !important;
    overflow: hidden;

    transform: scale(1);
    &:hover,
    &:focus {
      @include hover-animation;
    }

    height: 16rem;
    min-width: 25vw;
    padding: 2vw;

    --tile-header-text-colour: var(--header-text-colour, --su-navy);
    --tile-header-background-colour: var(--header-background-colour, --su-yellow);

    &:hover,
    &:focus {
      text-decoration: none;
      --tile-header-text-colour: var(--header-background-colour, --su-yellow);
      --tile-header-background-colour: var(--header-text-colour, --su-navy);
    }

    .link-tile-titles {
      position: relative;
      z-index: 2;
      max-width: 80%;

      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0; //calc(1rem + 10px);

      .title > span {
        color: var(--tile-header-text-colour, --su-navy);
        background-color: var(--tile-header-background-colour, --su-yellow);
      }

      .title {
        font-size: 1.5rem;
        @include respond-to(medium) {
          font-size: 1.8rem;
        }
        @include respond-to(x-large) {
          font-size: 2rem;
        }

        line-height: 1.6;
        font-weight: var(--bold-weight);
        > span:after {
          margin-left: 0.5rem;
          width: 0;
          border-top: 0.7rem solid transparent;
          border-bottom: 0.7rem solid transparent;
          border-left: 0.8rem solid var(--tile-header-text-colour, --su-navy);
          display: inline-block;
          content: "";
        }
      }

      .subtitle {
        margin-top: 1em;
        font-size: calc(1em + 0.2vw);
        max-width: 50vw;
        line-height: 1.8;
        font-weight: var(--bold-weight); // was 600
      }

      .subtitle:not(.rich-text) > span:empty {
        display: none;
      }
    }
  }
}

.wp-block-su-gutenberg-blocks-cards-by-tags {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.wp-block-columns {
  @include respond-to-max(medium) {
    .wp-block-column {
      padding: 0.5em;
    }
    &.has-background {
      padding: 1rem;
    }
  }
}
