// Officer projects as teasers
.node--type-officer-project.node--view-mode-teaser {
  &:not(:last-child) {
    border-bottom: 2px solid var(--su-grey-light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .officer_project-status {
    padding: 1rem;
    color: var(--brand-text-color);
    background-color: var(--brand-background-color);
    font-weight: var(--bold-weight);
    margin: 0;
  }
}
