// MUI form
.whats-on-calendar {
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, 0px) scale(0.75);
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--su-grey-dark);
    border-width: 2px;
  }
}

.whats-on-container,
.rbc-overlay {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: auto;
  // grid-gap: 1rem;
  gap: 0.5rem;
  @include respond-to(medium) {
    gap: 1rem;
  }

  display: flex;
  flex-direction: column;

  table {
    table-layout: unset;
  }

  .text-search {
    // grid-column-start: 1;
    // grid-column-end: 3;
    // grid-row-start: 1;
    // grid-row-end: 1;
  }

  .reset-btn {
    @include button;
    height: 60%;
    border-radius: 1px;
    align-self: end;
    width: max-content;
    justify-self: end;
    box-shadow: none;
    margin: 0;
  }

  .category-btn > *,
  .category-btn > *:hover,
  .reset-btn:hover {
    box-shadow: none;
  }

  .whats-on-calendar {
    // grid-column-start: 1;
    // grid-column-end: 4;
    // grid-row-start: 3;
    // grid-row-end: 3;
  }

  .free-text-and-reset {
    display: flex;
    gap: 1rem;
    align-items: center;

    .text-search {
      flex-grow: 1;
    }
  }

  .category-btn > *,
  .rbc-event > * {
    text-align: left;
    border-radius: 1px;
  }

  .category-btn {
    color: var(--su-text);
    padding: 0;

    font-size: 0.65rem;
    padding: 0.2rem 0.3rem;

    @include respond-to(medium) {
      flex-basis: 20%;
      font-size: 0.875rem;
      padding: 0.3rem 0.5rem;
    }
    width: fit-content;
  }

  .rbc-event {
    color: var(--su-navy);
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;

    .rbc-event-content--group {
      margin-top: 0.2em;
      text-transform: uppercase;
      font-size: 80%;
      font-weight: bold;
      @include limit-to-lines(2);
    }
  }

  .MuiButton-outlined,
  .MuiButton-contained {
    border-width: 2px;
  }

  .category-btn {
    // width: 100%;
  }

  table td,
  &:hover {
    color: unset;
  }

  table td {
    padding-left: 0;
    padding-right: 0;
  }

  .rbc-event.event-category-5032,
  .MuiButton-root.event-category-5032 {
    background-color: var(--events-bars-background);
    border-color: var(--events-bars-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-bars-color);
      color: white !important;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.event-category-4877,
  .MuiButton-root.event-category-4877 {
    background-color: var(--events-cs-background);
    border-color: var(--events-cs-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-cs-color);
      color: white;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.event-category-4860,
  .MuiButton-root.event-category-4860 {
    background-color: var(--events-activities-background);
    border-color: var(--events-activities-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-activities-color);
      color: white;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.event-category-5078,
  .MuiButton-root.event-category-5078 {
    background-color: var(--events-jobs-background);
    border-color: var(--events-jobs-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-jobs-color);
      color: white;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.event-category-4858,
  .MuiButton-root.event-category-4858 {
    background-color: var(--events-volunteering-background);
    border-color: var(--events-volunteering-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-volunteering-color);
      color: white !important;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.event-category-4861,
  .MuiButton-root.event-category-4861 {
    background-color: var(--events-sport-background);
    border-color: var(--events-sport-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-sport-color);
      color: var(--su-navy);
    }
  }

  .rbc-event.event-category-16571,
  .MuiButton-root.event-category-16571 {
    background-color: var(--events-giag-background);
    border-color: var(--events-giag-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-giag-color);
      color: white;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.event-category-5024,
  .MuiButton-root.event-category-5024 {
    background-color: var(--events-cancelled-background);
    border-color: var(--events-cancelled-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-cancelled-color);
      color: white;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.event-category-5014,
  .MuiButton-root.event-category-5014 {
    background-color: var(--events-meetings-background);
    border-color: var(--events-meetings-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-meetings-color);
      color: white;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.event-category-4866,
  .MuiButton-root.event-category-4866 {
    background-color: var(--events-representation-background);
    border-color: var(--events-representation-color);
    color: var(--su-text);

    &:hover {
      background-color: var(--events-representation-color);
      color: white;

      a {
        color: white !important;
      }
    }
  }

  .rbc-event.past,
  .MuiButton-root.past {
    border-color: var(--events-past-color);
    background-color: var(--events-past-background);
    color: var(--events-past-color);

    &:hover {
      background-color: var(--events-past-color);
      color: white;

      a {
        color: white !important;
      }
    }
  }

  .online > .rbc-event-label::before {
    background-image: url(/themes/custom/portico_sunset/images/icons/online.svg);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2px;
  }

  .rbc-event-label {
    font-weight: var(--bold-weight);
    position: relative;
    width: 100%;
  }

  .rbc-toolbar button,
  button.rbc-active {
    @include button;
    margin-left: 2px;
  }

  .rbc-agenda-table {
    margin: 0px;
  }

  .rbc-agenda-view table.rbc-agenda-table thead > tr > th,
  .rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
    padding: 0.8rem;
  }

  .rbc-list-table {
    td {
      border-bottom: none;
    }
  }

  .rbc-toolbar .rbc-toolbar-label {
    font-size: 1rem;
    font-weight: var(--bold-weight);
  }
}

//react big calendar week-view remove
.rbc-label.rbc-time-header-gutter {
  display: none;
}

.rbc-time-gutter.rbc-time-column {
  display: none;
}

.rbc-day-slot .rbc-events-container {
  display: flex;
  flex-direction: column;

  .rbc-event {
    position: static;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 0.2rem;
    border-radius: 1px;

    max-width: 10rem;
  }
}

.rbc-day-slot .rbc-events-container .rbc-event-allday {
  margin: 0.2rem;
}

.rbc-time-view .rbc-row,
.rbc-header,
.rbc-day-bg,
.rbc-row-bg,
.rbc-time-header,
.rbc-time-header-content,
.rbc-time-view .rbc-allday-cell,
.rbc-time-content,
.rbc-timeslot-group,
.rbc-day-slot .rbc-time-slot,
.rbc-time-content > * + * > *,
.rbc-row,
.rbc-header + .rbc-header,
.rbc-day-bg + .rbc-day-bg,
.rbc-time-view {
  border: none;
}

.category-filter {
  gap: 0.5rem;
  @include respond-to(medium) {
    gap: 1rem;
  }
  margin: 1rem 0;

  // grid-column: 1 / span 3;

  justify-content: center;
}

//display of the week -show all events
.rbc-time-column .rbc-timeslot-group {
  display: none;
}

.rbc-day-slot .rbc-events-container {
  position: unset;
}

.rbc-month-view {
  min-height: 900px;
}

//react list view styling
.rbc-list-view {
  table.rbc-list-table {
    margin-top: 0;
    border-collapse: unset;
    overflow: clip;
  }

  .day-header {
    font-size: 1.2rem;
    font-weight: var(--bold-weight);
    padding: 1rem 0;
  }
}

.rbc-today {
  background-color: var(--su-grey-background);
}

.rbc-current-time-indicator {
  display: none;
  // height: 2px;
  // background-color: var(--su-yellow);
}

.rbc-btn-group:nth-child(3) {
  display: none;
}

@include respond-to(medium) {
  .category-filter {
  }
  .rbc-btn-group:nth-child(3) {
    display: unset;
  }
}

@include respond-to(x-large) {
  .category-filter {
  }
  // .rbc-btn-group:nth-child(3) {
  //   display: flex;
  // }
}

.field--name-field-event-owner-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Edit form for events - the IDs change each ajax call
[id^="edit-variations-wrapper"] [id^="variations-add-more-wrapper"] {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  th.field-label {
    padding: 0.5rem;
  }
}
