{#
/**
 * @file election_candidate.html.twig
 * Default theme implementation to present Election candidate data.
 *
 * This template is used when viewing Election candidate pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_election_candidate()
 *
 * @ingroup themeable
 */
#}
{% if content %}
	{{ attach_library('portico_sunset/election-candidate') }}
	<div{{attributes.addClass('election_candidate').addClass(published?'published':'not_published')}}>

		<div class="left">
			{{- content.field_candidate_photo -}}
		</div>
		<div class="right">
			<div class="text_section">
				{{- content|without('field_candidate_photo') -}}
			</div>
			<div class="read_more_link">
				Read more
			</div>
		</div>
	</div>
{% endif %}
