{#
/**
 * @file
 * Default theme implementation to present a skill entity.
 *
 * This template is used when viewing a registered skill's page,
 * e.g., /admin/skills/skills)/123. 123 being the skill's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_skill()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
