// Open an Inskape SVG in https://editor.method.ac/
// Then export from there
// Then copy the clip-path only
// Into https://yoksel.github.io/relative-clip-path/

.clip-path-union-u {
    -webkit-clip-path: url(#clip-path-union-u);
    clip-path: url(#clip-path-union-u);
}
