// Need to update these in:
// - _duotones.scss
// - duotones.html.twig
// - su_views_display_get_random_duotone
// - su_gutenberg_blocks - shared.js

$duotone-names: (
  'yellow-purple',
  'yellow-blue',
  'green-purple',
  'orange-yellow',
  'orange-blue',
  'team-ucl',
  // Disabled -those below are just for historical entries:
    'green-blue',
  'yellow-green',
  'teal-paleyellow'
);

@each $name, $value in $duotone-names {
  .#{$name}-filter {
    filter: url('#' + $name + '-filter');
  }
}

.duotone-yellow-purple-filter,
.duotone-teal-paleyellow-filter // No longer in use - use above filter for any historical uses.
{
  --header-text-colour: var(--su-purple-contrast-text);
  --header-background-colour: var(--su-purple);
}

.duotone-yellow-blue-filter,
.duotone-green-blue-filter // No longer in use - use above filter for any historical uses.
{
  --header-text-colour: var(--su-navy-contrast-text);
  --header-background-colour: var(--su-navy);
}

.duotone-green-purple-filter {
  --header-text-colour: var(--su-purple-contrast-text);
  --header-background-colour: var(--su-purple);
}

.duotone-orange-yellow-filter,
.duotone-yellow-green-filter // No longer in use - use above filter for any historical uses.
{
  --header-text-colour: var(--su-yellow-contrast-text);
  --header-background-colour: var(--su-yellow);
}

.duotone-orange-blue-filter {
  --header-text-colour: var(--su-navy-contrast-text);
  --header-background-colour: var(--su-navy);
}

.duotone-team-ucl-filter {
  --header-text-colour: var(--su-teamucl-purple-contrast-text);
  --header-background-colour: var(--su-teamucl-purple);
}

// // Experiment with https://cssduotone.com/
// // Just need to give a container div 'duotone-pink' class then have an <img> inside
// //

// // Define the duotones based on the brand colours
// // (to be selectable you also need to edit the list select field_duotone on content types and groups)

// $duotone-bg-blend: darken; // NOT multiply, darken, color, color-burn, color-dodge, difference
// $duotone-fg-blend: exclusion;
// $duotone-contrast: 1;

// // Shared properties across all duotones

// $duotone-abstract: (
//     bg-blend: $duotone-bg-blend,
//     blur: 0px,
//     fg-blend: $duotone-fg-blend,
//     opacity: 1,
//     spacing: 0px,
//     bg-filter: null, //contrast(0.7),
//     fg-filter: null, //contrast(0.7)
// );

// // DEFINE THE COMBINATIONS

// $yellow-purple: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-yellow),
//         foreground: var(--su-purple),
//     )
// );
// $yellow-blue: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-yellow),
//         foreground: var(--su-navy),
//     )
// );
// $yellow-teal: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-yellow),
//         foreground: var(--su-teal),
//     )
// );
// $teal-blue: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-teal),
//         foreground: var(--su-navy),
//     )
// );
// $teal-purple: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-teal),
//         foreground: var(--su-purple),
//     )
// );
// $orange-yellow: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-coral),
//         foreground: var(--su-yellow),
//     )
// );
// $orange-blue: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-coral),
//         foreground: var(--su-navy),
//     )
// );
// $teal-paleyellow: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-teal),
//         foreground: $yellow-pale,
//     )
// );
// $team-ucl: map-merge(
//     $duotone-abstract,
//     (
//         base: var(--su-teamucl-blue),
//         foreground: $team-ucl-purple,
//     )
// );
// //
// // Name the duotones
// $duotone-map: (
//     "yellow-purple": $yellow-purple,
//     "yellow-blue": $yellow-blue,
//     "yellow-green": $yellow-teal,
//     "green-blue": $teal-blue,
//     "green-purple": $teal-purple,
//     "orange-yellow": $orange-yellow,
//     "orange-blue": $orange-blue,
//     "teal-paleyellow": $teal-paleyellow,
//     "team-ucl": $team-ucl,
// );
// //
// // Then this creates the class for each one
// @each $name, $map in $duotone-map {
//     .#{$name}-filter {
//         display: flex;
//         flex: 1 1 100%;
//         height: 100%;
//         overflow: hidden;
//         position: relative;
//         padding: map-get($map, spacing);

//         filter: contrast($duotone-contrast) blur(map-get($map, blur));

//         &::after,
//         &::before {
//             content: "";
//             display: block;
//             width: 100%;
//             height: 100%;
//             position: absolute;
//             top: 0;
//             left: 0;
//         }

//         &::after {
//             background-color: map-get($map, base);
//             mix-blend-mode: map-get($map, bg-blend);
//             filter: map-get($map, bg-filter);
//         }
//         &::before {
//             background-color: map-get($map, foreground);
//             mix-blend-mode: map-get($map, fg-blend);
//             filter: map-get($map, fg-filter);
//         }
//     }
// }
