/* DEFINING LINK TYPES */

$link-color: $navy;

@mixin link {
  color: $link-color;

  // padding-left: 0.5rem;
  // padding-right: 0.5rem;
  // background-color: rgba($link-color, 0.08);
  // border-bottom: 2px solid $yellow;

  text-decoration: underline;
  text-decoration-color: $yellow;
  font-weight: var(--bold-weight);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.06rem;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: $link-color !important;
    // text-decoration: none;
    text-decoration-color: $navy;
  }
}

@mixin link-heading {
  padding-left: 0;
  padding-right: 0;
  color: $teal;
  &:hover,
  &:focus,
  &:active {
    // text-decoration: none;
    border-bottom: 2px solid $teal;
  }
}

@mixin link-tag {
  background-color: $teal;
  border: 2px solid $teal;
  color: var(--su-teal-contrast-text);
  font-size: 0.8em;
  padding: 0.5em 1em;
  min-width: 105px;
  font-weight: var(--bold-weight);
  display: inline-block;
  text-align: center;
  margin-top: 0.5em;
  &:hover,
  &:focus,
  &:active {
    color: $teal;
    border: 2px solid $teal;
    background-color: var(--su-teal-contrast-text);
    text-decoration: none;
  }
}

@mixin button-active {
  text-decoration: none;
  background-color: var(--button-color, $purple) !important;
  border: 2px solid var(--button-color, $purple) !important;
  color: var(--button-text-color, var(--su-purple-contrast-text)) !important;
}

@mixin button {
  text-decoration: none !important;

  color: var(--button-color, $purple) !important;
  border: 2px solid var(--button-color, $purple) !important;

  background-color: var(--button-background-color, #ffffff) !important;
  background-image: none;
  /* override fc-button */
  text-shadow: none;
  /* override fc-button */
  font-size: 0.9em;
  font-weight: var(--bold-weight); // was 600
  border-radius: 1px !important;
  box-shadow: none !important;
  padding: 0.4em 1em;
  cursor: pointer;

  margin-left: 0px;
  margin-bottom: 0.5rem;
  margin-right: 0.3rem;
  &:first-child {
    margin-right: 0.3rem;
  }
  &:last-child {
    margin-right: 0rem;
  }

  line-height: 1.5;
  text-transform: none;
  letter-spacing: normal;
  display: inline-block;
  min-width: fit-content;

  // Coloured in
  // (we have to specify for each because e.g. gutenberg default styles define all of these,
  // so to override them they have to specified everywhere)
  &:hover,
  &.active,
  &:focus,
  .is-active,
  .rbc-active,
  &:visited:hover,
  &:visited:active,
  &:visited:focus {
    @include button-active;
  }

  &.fullwidth {
    width: 100%;
    display: block;
  }

  // Not coloured in
  &:visited {
    text-decoration: none;
    background-color: white;
    border: 2px solid var(--button-color, var(--su-purple-contrast-text));
    color: var(--button-color, var(--su-purple-contrast-text)) !important;
  }

  &.is-disabled {
    border: 2px solid var(--su-grey-dark) !important;
    color: var(--su-grey-dark) !important;
    background-color: white !important;

    &:hover,
    &.active,
    &:focus,
    .is-active,
    &:visited:hover,
    &:visited:active,
    &:visited:focus {
      border: 2px solid var(--su-grey-dark) !important;
      color: var(--su-grey-dark) !important;
      background-color: white !important;
    }
  }
}

@mixin tabs {
  border: 2px solid transparent;
  // border-bottom: none;
  background-color: none;
  background-image: none;
  /* override fc-button */
  text-shadow: none;
  /* override fc-button */
  color: var(--tabs-color, $purple);
  font-weight: var(--bold-weight); // was 600
  // z-index: 11;
  margin-bottom: none;
  border-radius: 0px !important;
  text-decoration: none;
  box-shadow: none;
  padding: 0.1rem 0.5rem;
  @include respond-to(medium) {
    padding: 0.2rem 1rem;
  }
  cursor: pointer;
  position: relative;
  z-index: 0;
  &:hover,
  &.is-active:hover {
    text-decoration: none;
    background-color: var(--tabs-color);
    color: var(--tabs-text-color) !important;
  }
  &.is-active {
    background-color: white;
    color: var(--tabs-color);
    z-index: 2;
  }
}

@mixin tabs_vertical {
  @include tabs;
  border: none;

  margin-bottom: none;

  &.is-active,
  &.is-active:hover {
    border: 2px solid var(--tabs-color);
  }
}

$classesNotToLinkify: ".button, .dropbutton a, th a, .feed-icon, .contextual-links a, .vertical-tabs__menu a, .cke_button, .cke_combo_button, .MuiButton-root, .MuiTab-root, .MuiLink-root, .MuiButtonBase-root, .wp-block-button__link, .card, .card a, .more-link a, .ckeditor-accordion-toggler, a.chosen-single, a.flex-next, a.flex-prev";

.region-content a:not(#{$classesNotToLinkify}),
.region-promoted a:not(#{$classesNotToLinkify}),
#sidebar a:not(#{$classesNotToLinkify}) {
  @include link;
}

// @mixin not-link-format {
//   text-decoration: inherit;
//   color: inherit;
// }
// .more-link a {
//   @include not-link-format;
// }

// Colouring things link colour
.vertical-tabs__menu a {
  color: $link-color;
}

.union-button {
  @include button;
}

.more-link {
  display: block;
  text-align: center !important;
}

ul.js-pager__items.pager {
  text-align: center;
  list-style-type: none;
}
