*[class^='pattern-'] {
    background-size: cover;
    background-color: white;
}

.pattern-1 {
    background-image: url("../svg/single/pattern-1.svg");
}

.pattern-2 {
    background-image: url("../svg/single/pattern-2.svg");
}

.pattern-3 {
    background-image: url("../svg/single/pattern-3.svg");
}

.pattern-4 {
    background-image: url("../svg/single/pattern-4.svg");
}

.pattern-5 {
    background-image: url("../svg/single/pattern-5.svg");
}

.pattern-6 {
    background-image: url("../svg/single/pattern-6.svg");
}

.pattern-7 {
    background-image: url("../svg/single/pattern-7.svg");
}

.pattern-8 {
    background-image: url("../svg/single/pattern-8.svg");
}