/**
 * @file
 * Overall specifications for portico_sunset.
 */

html {
  height: 100%;
  font-size: 21px;
}

body {
  color: var(--su-text);
  font-size: 16px;
  // min-width: 400px;
  background-color: var(--su-background);
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

p {
  margin: 0;
  padding: 1em 0 1em 0;
  line-height: 1.5;
}
.field__item > p {
  // padding: 0;
}

p.large {
  font-size: 23px;
  line-height: 1.33;
  font-weight: var(--bold-weight);
  padding-bottom: 20px;
}

a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}

a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

code,
pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre;
  white-space: pre-wrap;
  font-family: 'Source Code Pro', Consolas, Monaco, Courier;
}

pre {
  background: var(--su-background);
  border: none;
  border-left: 10px solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: var(--su-text);
  padding: 20px;
  font-size: 14px;
  max-height: 62px;
  overflow: hidden;
  margin: 40px 0 40px 45px;
}

pre:hover {
  max-height: 10000px;
  -webkit-transition: all ease-in-out 2s;
  -moz-transition: all ease-in-out 2s;
  -o-transition: all ease-in-out 2s;
  -ms-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  font-size: 24px;
  font-style: italic;
  padding: 0 0 0 140px;
  border-left: none;
  position: relative;
  margin: 40px 0 50px;
  line-height: 1.33;
  min-height: 80px;
}

.footer-area blockquote,
.sidebar blockquote {
  padding-left: 80px;
}

ul {
  list-style-type: circle; //list-style-image: url(../images/ring-small_8x8px.png);
  line-height: 2;
}

ol {
  line-height: 2;
}

ul.links {
  list-style: none;
  padding-inline-start: 0px;
}

ul.list li {
  margin-bottom: 5px;
}

.colored-area {
  color: #ffffff;
}

.colored-area legend {
  color: #ffffff;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6,
.heading-a,
.heading-b,
.heading-c,
.heading-d,
.heading-e {
  font-weight: var(--bold-weight);
  line-height: 1.2;
  margin: 20px 0 10px 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.heading-a > a,
.heading-b > a,
.heading-c > a,
.heading-d > a,
.heading-e > a {
  color: #3f3f3f;
}

.title {
  margin-top: 0;
}

.node--view-mode-teaser h2.node__title,
.node--view-mode-teaser h2.node__title {
  font-weight: var(--bold-weight);
}

.sidebar h3.title {
  margin-top: 9px;
}

.footer-area .block > h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

del {
  text-decoration: line-through;
}

.feed-icon {
  display: inline-block;
}

// /* Banner image */
// #header::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
// }
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
