/**
 * @file
 * Styles for portico_sunset's typography.
 */
@charset "UTF-8";

/* Fonts */
@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_italic_300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_italic_400.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_italic_500.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_italic_600.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_italic_700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_italic_900.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'freight-macro-pro';
  src: url('../fonts/fmp_italic_300.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
}

// @font-face {
//   font-family: 'freight-macro-pro';
//   src: url('../fonts/fmp_italic_600.woff2') format('woff2');
//   font-style: italic;
//   font-weight: 600;
// }

@font-face {
  font-family: 'freight-macro-pro';
  src: url('../fonts/fmp_normal_300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

:root {
  --font-family: 'freight-sans-pro', 'Roboto', Helvetica Neue, Arial, Sans-serif;
  --bold-weight: 700;
}

body,
input,
select,
textarea,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
#site-name,
#footer-site-name,
#site-slogan,
#footer-site-slogan {
  font-family: var(
    --font-family,
    'freight-sans-pro',
    'Roboto',
    Helvetica Neue,
    Arial,
    Sans-serif
  );
}

/* FONT SIZES */

@include respond-to(small) {
  html,
  body {
    font-size: 16px;
  }
}

@include respond-to(medium) {
  html,
  body {
    font-size: 17px;
  }
}

@include respond-to(large) {
  html,
  body {
    font-size: 18px;
  }
}
