
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div role="alert">
    <b>Information last updated and accurate as of: </b> {{ finance.lastUpdated | date("F jS \\a\\t g:ia") }}
</div>
<div class="messages messages--info" role="alert">
    <b>Note: </b>This information only includes transactions <i>fully processed</i> via the Union's finance system for this academic year, as of the 'last updated' date. Available funds may be different in practice.
</div>

<h3 class="article-heading">Summary for this academic year</h3>
    {% if finance.count == 0 %}
        <div class="messages messages--error" role="alert">
            No transactions or grant allocations for this group for this academic year. Contact <a
                href="mailto:su.finance-activities@ucl.ac.uk">su.finance-activities@ucl.ac.uk</a> for help.
        </div>
    {% endif %}

    {% if finance.count > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Income</th>
                    <th scope="col">Expenditure</th>
                    <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Grant</th>
                    <td>{{ finance.grant.income | number_format(2, '.', ',') }}</td>
                    <td>{{ finance.grant.expenditure | number_format(2, '.', ',') }}</td>
                    <td>{{ (finance.grant.total) | number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <th scope="col">Non-grant</th>
                    <td>{{ finance.nongrant.income | number_format(2, '.', ',') }}</td>
                    <td>{{ finance.nongrant.expenditure | number_format(2, '.', ',') }}</td>
                    <td>{{ (finance.nongrant.total) | number_format(2, '.', ',') }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col">Total</th>
                    <td>{{ finance.totals.income | number_format(2, '.', ',') }}</td>
                    <td>{{ finance.totals.expenditure | number_format(2, '.', ',') }}</td>
                    <td>{{ (finance.totals.total) | number_format(2, '.', ',') }}</td>
                </tr>
            </tfoot>
        </table>

        <h3 class="article-heading">Grant income/expenditure</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Finance code</th>
                <th scope="col">Grant allocation</th>
                <th scope="col">Expenditure</th>
                <th scope="col">Balance</th>
            </tr></thead>
            <tbody>
            {% for glcode in finance.grant.glcodes %}
            <tr>
                <td scope="col"><b>{{glcode.name}}</b></td>
                <td>{{ glcode.income | number_format(2, '.', ',') }}</td>
                <td>{{ glcode.expenditure | number_format(2, '.', ',') }}</td>
                <td>{{ glcode.total | number_format(2, '.', ',') }}</td>
            </tr>
            {% endfor %}</tbody>
            <tfoot>
            <tr>
                <td scope="col"><b>Total</b></td>
                <td>{{ finance.grant.income | number_format(2, '.', ',') }}</td>
                <td>{{ finance.grant.expenditure | number_format(2, '.', ',') }}</td>
                <td>{{ (finance.grant.total) | number_format(2, '.', ',') }}</td>
            </tr></tfoot>
        </table>
    {% endif %}
</div>

{% if finance.count > 0 %}
    <div class="col-sm-12 col-md-6">

        <h3 class="article-heading">Charts for income and expenditure</h3>

        <h4>Income</h4>

        <div id="chartIncome"></div>

        <h4>Expenditure</h4>

        <div id="chartExpenditure"></div>
    </div>
{% endif %}
        
<script type="text/javascript">
    var defaultOptions = {
        chart: {
            width: 640,
            type: 'pie',
        },
        colors: ['#F26640', '#2AAA9E', '#6C3F99', '#FEC340', '#082244'],
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    incomeOptions = Object.assign({
        labels: {{ descIncome | keys | json_encode | raw }},
        series: [{{ descIncome | join(',') | raw }}]
    }, defaultOptions);

    var chartIncome = new ApexCharts(
        document.querySelector("#chartIncome"),
        incomeOptions
    );
    chartIncome.render();

    expenditureOptions = Object.assign({
        labels: {{ descExpenditure | keys | json_encode | raw }},
        series: [{{ descExpenditure | join(',') | raw }}]
    }, defaultOptions);

    var chartExpenditure = new ApexCharts(
        document.querySelector("#chartExpenditure"),
        expenditureOptions
    );
    chartExpenditure.render();
</script>
{% endblock %}