{% macro card(
rowClassesArray,
cardClasses,
link,
card_title_field,
card_subheading_1,
card_subheading_2,
card_body_text_preview,
body_box,
price,
button_text,
imageUrl,
duotone,
iconUrl,
hostText,
image_box,
clip_path
) %}

	{% set contentFields = [
'card_title_field', 'card_subheading_1',
'card_subheading_2','card_body_text_preview',
'price'
]
%}

	{# {% if card_title_field is empty %} #}

	{# {% else %} #}
		<div
		class="{{ rowClassesArray|join(' ') }}"> {# row card link fields must be a link to content field set to output URL as text only #}
		<div class="card {{ cardClasses }} {{ imageUrl is empty ? " card-no-image" : " " }}">
			{% if link %}
				<a class='card-link' href='{{ link }}'></a>
			{% endif %}
			{% if imageUrl is not empty %}
				<div class='image-fieldset'>
					<div class='image-fields'>
						{% if iconUrl is not empty or hostText|render is not empty %}
							<div class='host-fields'>
								{% if iconUrl is not empty %}
									<div class='card-field host_icon' style="background-image: url({{ iconUrl }});"></div>
								{% endif %}
								{% if hostText|render is not empty %}
									<div class='card-field host_text'>{{ hostText|render }}</div>
								{% endif %}
							</div>
						{% endif %}
						{% if image_box|render is not empty %}
							<div class='card-field image_box'>{{ image_box }}</div>
						{% endif %}
					</div>
					<div class='card-duotone-field {{ clip_path }} {{ duotone }}' style="background-image: url({{ imageUrl }});"></div>
				</div>
			{% endif %}
			<div class='content-fieldset'>
				<div class='content-fields'>
					<div class='fields-text'>
						{% if imageUrl is empty %}
							<div class='host-fields'>
								{% if iconUrl is not empty %}
									<div class='card-field host_icon' style="background-image: url({{ iconUrl }});"></div>
								{% endif %}
								{% if hostText|raw is not empty %}
									<div class='card-field host_text'>{{ hostText|render }}</div>
								{% endif %}
							</div>
						{% endif %}
						{% for fieldName in contentFields %}
							{% set field = attribute(_context, fieldName) %}
							{% if field|raw is not empty %}
								<div class='card-field {{ fieldName }}'>{{ field|raw }}</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class='fields-tags'>
						{% if button_text is not empty %}
							<a class='card-field card_button_text' href='{{ link }}'>
								{{ button_text|striptags }}
							</a>
						{% endif %}
						{% if body_box is not empty %}
							<div class='card-field body_box'>
								{{ body_box }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{# {% endif %} #}
{% endmacro %}
