{#
/**
* @file su-views-display-card-grid.html.twig
* Default simple view template to display Bootstrap Grids.
*
*
* - columns: Contains rows grouped by columns.
* - rows: Contains a nested array of rows. Each row contains an array of
* columns.
* - column_type: Contains a number (default Bootstrap grid system column type).
* - Card fields available from SuViewsDisaplay plugin: card_title_field, card_image_field, card_subheading_1,
* card_subheading_2,card_body_text_preview, host_icon, host_text, duotone,
* price, card_link, card_button_text
*
* @ingroup views_templates
*/
#}

{% from "@su_views_display/card.macro.html" import card %}

{%
set classes = [
'views-view-card-grid',
]
%}

{% if title %}
	<h2>{{ title }}</h2>
{% endif %}
<div id="{{ id }}" {{ attributes.addClass(classes) }}>
	<div class="row h-100 {{ rowClasses }} {{ responsiveCardSize ? '' : 'justify-content-space-evenly mb-3 mt-3' }}">
		{% for row in rows %}
			{% if row.card_image_field|render|remove_html_comments_as_string is not empty %}
				{% set imageUrl = row.card_image_field|remove_html_comments_as_string
		%}
			{% else %}
				{% set imageUrl = null %}
			{% endif %}

			{{ card(
		row_classes,
		cardClasses,
		row.card_link|render|remove_html_comments,
		row.card_title_field ? row.card_title_field|render|remove_html_comments_as_string : '',
		row.card_subheading_1 ? row.card_subheading_1|render|remove_html_comments_as_string : '',
		row.card_subheading_2 ? row.card_subheading_2|render|remove_html_comments_as_string : '',
		row.card_body_text_preview ? row.card_body_text_preview|render|remove_html_comments_as_string : '',
		row.body_box ? row.body_box|render|remove_html_comments : '',
		row.price ? row.price|render|remove_html_comments_as_string : '',
		row.card_button_text ? row.card_button_text|render|remove_html_comments_as_string : '',
		imageUrl,
		row.duotone|render|remove_html_comments_as_string,
		row.host_icon|render|remove_html_comments_as_string,
		row.host_text ? row.host_text|render|remove_html_comments_as_string : '',
		row.image_box ? row.image_box|render|remove_html_comments : '',
		clip_path ? clip_path : '',
		background_contain
		)
		}}
		{% endfor %}
	</div>
</div>
