{% for category, values in categories %}
	<h2>{{ category }}</h2>
	<dl class="ckeditor-accordion">
		{% for dataset in values %}
			<dt>{{ dataset.title }}</dt>
			<dd>
				<p>
					<b>{{ dataset.category }}</b>
				</p>
				{% if dataset.description is not empty %}
					<p>{{ dataset.description }}</p>
				{% endif %}

				{% if dataset.total == 0 %}
					<p>
						{% trans %}
						<b>Error:</b>
						Cannot generate any statistics for
						<i>{{ dataset.title }}</i>
						- all items in list are excluded.
						{% endtrans %}</p>
				{% else %}
					{# Note for multivalue (overlapping) data sets #}
					{% if dataset.multivalue %}
						<p>
							{% trans %}
							<b>Note:</b>
							this dataset overlaps, which means each record can have multiple values; this means totals are not exclusive, and the percentages will indicate the proportion of the population with that data point.
							{% endtrans %}</p>
					{% endif %}

					{% if charts_twig_enabled and dataset.multivalue == false %}
						{% set data = dataset.values %}
						{%
            set series = {
              'series' : {
                'title' : dataset.title|render,
                'data' : data
              }
            }
          %}
						{%
            set xaxis = {
              'title' : 'X-Axis Label',
              'labels' : dataset.values|keys
            }
          %}
						{%
            set yaxis = {
              'title' : 'Y-Axis Label',
            }
          %}
						{{ chart('chart', 'pie', dataset.title|render, series, xaxis, yaxis, []) }}

					{% endif %}

					<table>
						<thead>
							<tr>
								<th>{{ 'Data point' | t }}</th>
								<th>{{ 'Total' | t }}</th>
								<th>%{{ dataset.excludedCount > 0 ? ' of counted items'|t : '' }}{{ dataset.multivalue ? ' (not exclusive)'|t : '' }}</th>
							</tr>
						</thead>
						<tbody>
							{% for key, value in dataset.values %}
								<tr>
									<td>{{ key }}</td>
									<td>{{ value }}</td>
									<td>{{ (dataset.total > 0 ? ((value / dataset.total) * 100)|round(1) : 0)}}%</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td>Total counted</td>
								<td>{{dataset.total}}</td>
								<td>{{ dataset.multivalue ? 'Not cumulative because dataset is multivalue'|t : '100%'|t }}</td>
							</tr>
							{% if dataset.excludedCount > 0 %}
								<tr>
									<td>{{'Excluded'|t}}</td>
									<td>{{dataset.excludedCount}}</td>
									<td>{{ (dataset.total > 0 ? ((dataset.excludedCount / dataset.total) * 100)|round(1) : 0)}}%</td>
								</tr>
								<tr>
									<td>{{'Total in list'|t}}</td>
									<td>{{dataset.total + dataset.excludedCount}}</td>
									<td></td>
								</tr>
							{% endif %}
						</tfoot>
					</table>
				{% endif %}

				{% if dataset.excludedEntitiesReasons|length > 0 %}
					<p>{{ 'Reasons for exclusions:' | t}}
						{{dataset.excludedEntitiesReasons|join(', ', ' & ')}}</p>
				{% endif %}

			</dd>
		{% endfor %}
	</dl>
{% endfor %}

<hr>
{{ error }}
