{%
    set classes = [
      'field',
      'field--name-' ~ field_name|clean_class,
      'field--type-' ~ field_type|clean_class,
      'field--label-' ~ label_display,
      'field--entity-reference-target-type-' ~ entity_reference_target_type|clean_class,
      'clearfix',
    ]
  %}
{%
    set title_classes = [
      'field__label',
      label_display == 'inline' ? 'inline',
    ]
  %}
<div{{attributes.addClass(classes)}}>
	{% if not label_hidden %}
		<h3{{title_attributes.addClass(title_classes)}}>{{ label }}</h3>
	{% endif %}
	<ul class='row links field__items'>
		{% for item in items %}
			<li class="col-md-4" {{item.attributes}}>{{ item.content }}</li>
		{% endfor %}
	</ul>
</div>
