{#
/**
* @file
* Default theme implementation to display a taxonomy term.
*
* Available variables:
* - url: URL of the current term.
* - name: (optional) Name of the current term.
* - content: Items for the content of the term (fields and description).
* Use 'content' to print them all, or print a subset such as
* 'content.description'. Use the following code to exclude the
* printing of a given child element:
* @code
* {{ content|without('description') }}
* @endcode
* - attributes: HTML attributes for the wrapper.
* - page: Flag for the full page state.
* - term: The taxonomy term entity, including:
* - id: The ID of the taxonomy term.
* - bundle: Machine name of the current vocabulary.
* - view_mode: View mode, e.g. 'full', 'teaser', etc.
*
* @see template_preprocess_taxonomy_term()
*
* @ingroup themeable
*/
#}
{% set imageStyle = "background-image: url(" ~ file_url(term.field_image.0.entity.uri.value) ~ ")" %}
<div class="featured_box front_page_featured_box featured_box-{{term.field_box_colour_scheme.0.value}}" {{ attributes
    }}>
    {% if term.field_links|length == 0 %}
    <a class="card-link" href='{{ term.field_link_title.0.url }}'></a>
    {% endif %}
    <div class="slider-elements">
        <div class="row">
            <div class="col-sm featured_box_col_text">
                <div class="top">
                    <h2>{{term.name.0.value}}</h2>
                    {{content.description}}
                </div>
                <div class="bottom">
                    {% if term.field_links|length > 0 %}
                    <div class="slider_buttons">
                        {% for button in term.field_links %}
                        <a href="{{button.uri}}" class="button">{{button.title}}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm order-first order-md-0 featured_box_col_image {{term.field_duotone.0.value}}" style="{{ imageStyle }}">

            </div>
        </div>
    </div>
</div>