<div>
	{# <a href="{{ term.field_badge_link.0.url }}" target="_blank"> #}
	<img
	alt="{{ term.field_badge_image.alt }}" src="{{ file_url(term.field_badge_image.0.entity.uri.value) }}"/>
	{# </a> #}
	{{ content.description }}
</div>
