{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
{% if term.field_banner_video_file.0.entity.uri.value %}
	{% set type = 'video' %}
	{% set imageStyle = "" %}
{% else %}
	{% set type = 'image' %}
	{% set imageStyle = "background-image: url(" ~ file_url(term.field_banner_image.0.entity.uri.value) ~ ")" %}
{% endif %}
<div class="front_page_slider" {{ attributes }} style="{{ imageStyle }}">
	{% if type == 'video' %}
		<video playsinline autoplay muted loop poster="{{file_url(term.field_banner_image.0.entity.uri.value)}}" id="bgvideo" width="x" height="y">
			<source src="{{file_url(term.field_banner_video_file.0.entity.uri.value)}}" type="{{ term.field_banner_video_file.0.entity.filemime.value }}">
		</video>
	{% endif %}
	<div class="slider-elements container">
		{% if term.field_header_colour.0.value != 'hidden' %}
			<div data-array="[{% for key, header in term.field_multiple_headers %}{{header.value|json_encode}}{{loop.last == false ? ',' : ''}}{% endfor %}]" class="page-title colour-{{ term.field_header_colour.0.value }}">{{term.field_multiple_headers.0.value}}</div>

		{% endif %}
		{% if term.field_links|length > 0 %}
			<div class="slider_buttons">
				{% for button in term.field_links %}
					<a href="{{button.uri}}" class="button">{{button.title}}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
