<div class="election__status_summary">
	{% for phase in phases %}
		<p class="election_phase election_phase__status_{{
					  phase.status
					  }} election_phase__eligible_{{
					  phase.eligible
					    ? 'eligible'
					    : 'ineligible'
					  }}">
			<span class="election_phase__label">
				<b>{{ phase.name }}</b>:</span>
			<span class="election_phase__status">
				{{ phase.status_full }}

				{% if phase.open %}
					{% if phase.eligible == true and phase.eligibility_label %}
						-
						<a href="{{ phase.eligibility_link }}">{{
                phase.eligibility_label
              }}</a>
					{% endif %}
				{% endif %}
			</span>

			{% if phase.status == 'open' %}
				{% if phase.eligible == true %}

					{% elseif phase.ineligibility_reasons|length %}
						<ul>
							{% for listItem in phase.ineligibility_reasons %}
								{% if listItem|length %}
									<li>❌
										{{ listItem|trim }}</li>
								{% endif %}
							{% endfor %}
						</ul>
				{% endif %}
			{% endif %}
		</p>
	{% endfor %}
</div>
