{#
/**
 * @file fair_stall.html.twig
 * Default theme implementation to present Fair stall data.
 *
 * This template is used when viewing Fair stall pages.
 *
 *
 * Available variables:
 * - fair_stall: the stall entity
 * - fairs: the fair entities linked with the stall
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fair_stall()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fair_stall') }}>
  <p>Stalls display in the "fair" app, depending on the fair(s) they've been added to.</p>

  <p>Click to view the {{ fair_stall.name.value }} stall in:
    <ul>
      {% for fair in fairs %}
        <li><a target="_blank" href="/fair/{{ fair.id.value }}/stall/{{ fair_stall.id.value }}">{{ fair.name.value }}</a></li>
      {% endfor %}
    </ul>
  </p>

  {% if user.hasPermission('administer nodes') %}
    <hr>
    {% if content %}
      {{- content -}}
    {% endif %}
  {% endif %}

</div>
