{#
/**
 * @file fair.html.twig
 * Default theme implementation to present Fair data.
 *
 * This template is used when viewing Fair pages.
 *
 * Available variables (set in template_preprocess_fair)
 * - id: ID of fair
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - userDetails
 * - fairCategories
 * - fairData
 *
 * @see template_preprocess_fair()
 *
 * @ingroup themeable
 */
#}
<script type="text/javascript">
    window.userDetails = {{ userDetails|json_encode|raw }}; 
    window.fairCategories = {{ fairCategories|json_encode|raw }};
    window.fairData = {{ fairData|json_encode|raw }};
    window.stalls = {{ stalls|json_encode|raw }};
    window.stallsInfo = {{ stallsInfo|json_encode|raw }};
    window.videos = {{ videos|json_encode|raw }};
    window.videosInfo = {{ videosInfo|json_encode|raw }};
    window.adverts = {{ adverts|json_encode|raw }};
    window.clientId = {{ clientId|json_encode|raw }};

    
    window.events = {};
</script>
<div style="display: none;">
    {% for img in imagesToPreload %}
        <img src="{{ img }}">
    {% endfor %}
</div>
{{ attach_library('fair/fair-app') }}
<div id="root" class="fair-container" fair-id="{{ fairId }}" drupal-path="{{ drupalPath }}" {{ attributes.addClass('fair') }}>
    <!--- Loading fair id {{ fairId }}... -->
    <div class="fair-loader">
        <!-- https://loading.io/css/ -->
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
</div>