{#
/**
 * @file fair_advert.html.twig
 * Default theme implementation to present Fair advert data.
 *
 * This template is used when viewing Fair advert pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fair_advert()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fair_advert') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
