{#
/**
 * @file fair_video.html.twig
 * Default theme implementation to present Fair video data.
 *
 * This template is used when viewing Fair video pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fair_video()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fair_video') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
