{#
/**
 * @file fair_event.html.twig
 * Default theme implementation to present Fair event data.
 *
 * This template is used when viewing Fair event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fair_event()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fair_event') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
