{#
/**
 * @file schedule_item.html.twig
 * Default theme implementation to present Fair schedule item data.
 *
 * This template is used when viewing Fair schedule item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_schedule_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('schedule_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
