.vertical-tabs__item {
  overflow: unset !important;
}

.claro-details__wrapper--vertical-tabs-item::before,
.claro-details__wrapper--vertical-tabs-item::after {
  clear: none !important;
}

.views-exposed-form .form-item, #vbo-action-form-wrapper .form-item {
  margin: 0.5rem 0;
}

.views-exposed-form.views-exposed-form {
  gap: 1rem;
}

/* For chosen: */
.views-ui-dialog .form--flex,
.views-ui-dialog .views-offset-top:not(:empty) {
  overflow: visible;
}

#vbo-action-form-wrapper {
  display: flex;
  gap: 1rem;
  align-content: center;
}

.admin-box {
  padding: 1rem;
  background-color: #f2f2f2;
  border-top: 2px solid #fec340;
  border-bottom: 2px solid #fec340;
}

.edit-workflow-workflow-state-title {
  display: none;
}

.feed-icon {
  width: -moz-fit-content;
  width: fit-content !important;
  height: auto;
  background-image: none !important;
  text-indent: initial !important;
  display: inline-block;

  border: 2px solid #082244;
  text-decoration: none;
  padding: 1em;
}
.feed-icon:hover {
  color: white !important;
  background-color: #082244;
}

/* POS */

#edit-pos-debit .details-wrapper input.button {
  margin-left: 200px;
  height: 3em;
}
#scanner-toggle {
  margin-left: 1em;
  margin-top: 2.5em;
}
.layout-region-pos-footer summary {
  padding: 12px 2.5em;
}
.chosen-container {
  min-width: fit-content;
}

[id^="edit-workflow-workflow-fieldset"] {
  border: 2px solid #fec340;
  padding: 1em;
}

/* CKEDitor Accordion style */

.ckeditor-accordion-container > dl {
  border-color: #082244;
}

.ckeditor-accordion-container > dl dt > a {
  background-color: #082244;
  border-color: #082244;
  text-decoration: none;
  font-weight: bold;
}

.ckeditor-accordion-container > dl dt.active > a {
  background: #082244;
}

.ckeditor-accordion-container > dl dt > a:hover {
  background-color: #fff;
  color: #082244;
}

.ckeditor-accordion-container > dl dt > a:hover > .ckeditor-accordion-toggle:before,
.ckeditor-accordion-container > dl dt > a:hover > .ckeditor-accordion-toggle:after {
  background: #082244;
}

table caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
}
