@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_700.woff2') format('woff2');
  font-style: normal;
  font-weight: var(--bold-weight);
}
@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_600.woff2') format('woff2');
  font-style: normal;
  font-weight: var(--bold-weight); // was 600
}
@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'freight-sans-pro';
  src: url('../fonts/fsp_normal_300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

* {
  font-family: 'freight-sans-pro', 'Roboto', Helvetica Neue, Arial, Sans-serif;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: none; */
  border-bottom: 2px solid #fec340;
  border-color: #fec340;
  border-width: 2px;
}

.ticket__overline--large {
  font-size: 11px;
  font-weight: var(--bold-weight);
  color: #3a3a3a;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticket__overline--medium {
  font-size: 10px;
  font-weight: var(--bold-weight);
  color: #3a3a3a;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ticket__overline--small {
  color: #3a3a3a;
  font-weight: var(--bold-weight);
  font-size: 9px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticket__title--large {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticket__title--medium {
  font-size: 10.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticket__title--small {
  font-size: 9px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticket__text--small {
  font-size: 7px;
}
