{#
/**
 * @file
 * Default theme implementation to present an election condition exemption entity.
 *
 * This template is used when viewing a registered election condition exemption's page,
 * e.g., /election/admin/exemptions)/123. 123 being the election condition exemption's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_election_condition_exemption()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
