{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{# Note that any menu named 'Follow us' will be displayed as icons, 
and the content of the menu name must exactly match the FontAwesome icon to display #}

{% macro menu_links(items, attributes, menu_level, parent_title) %}
	{% import _self as menus %}
	{% if items %}
			<ul{{attributes.addClass('menu')}}>
                {% for item in items %}
                    {%
                        set classes = [
                        'menu-item',
                        'menu-item--' ~ loop.index,
                        item.is_collapsed ? 'menu-item--collapsed',
                        item.in_active_trail ? 'menu-item--active-trail',
                        item.title == 'Follow us' ? 'menu-footer-icons' 
                        ]
                    %}
                    <li menu-id="{{loop.index}}" {{item.attributes.addClass(classes)}}>
                        {% if menu_level == 0 %}
                            <h2>{{ item.title }}</h2>
                            {% if item.below %}
                                {{ menus.menu_links(item.below, attributes, menu_level + 1, item.title) }}
                            {% endif %}
                        {% else %}
                            {% set title %}
                                {% if parent_title == 'Follow us' %}
                                    <i class="fab fa-{{item.title | lower}}"></i> {{ item.title }}
                                {% else %}
                                    {{ item.title }}
                                {% endif %}
                            {% endset %}
                            {{ link(title, item.url) }}
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
