:root {
  --border: whitesmoke;
  --card: white;
  --font-family: "Droid Sans Mono", monospace;
  --font-size: 4em;
  --font-size-subtitle: 1em;
  --font-width: lighter;
  --font-color: lighten(black, 20%);
}

.flipClock {
  display: inline-flex;
  justify-content: space-between;
  /* height: 200px; */
  user-select: none;
  margin-top: 3em;
  margin-bottom: 5em;
}

.flipClock .subtitle {
  font-size: var(--font-size-subtitle);
  text-align: center;
}

.flipUnitContainer {
  display: block;
  position: relative;
  /* height: 5em;
  width: 5em; */
  height: 5em;
  margin-left: 8px;
  margin-right: 8px;
  perspective-origin: 50% 50%;
  perspective: 300px;
  background-color: var(--card);
  border-radius: 3px;
  box-shadow: 0px 10px 10px -10px grey;
  user-select: none;
}

.upperCard,
.lowerCard {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
  border: 1px solid var(--border);
}

.upperCard span,
.lowerCard span {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-width);
  color: var(--font-color);
}

.upperCard {
  align-items: flex-end;
  border-bottom: 0.5px solid var(--border);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.upperCard span {
  transform: translateY(50%);
}

.lowerCard {
  align-items: flex-start;
  border-top: 0.5px solid var(--border);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.lowerCard span {
  transform: translateY(-50%);
}

.flipCard {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  backface-visibility: hidden;
  user-select: none;
}

.flipCard span {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-width);
  color: var(--font-color);
}

.flipCard.unfold {
  top: 50%;
  align-items: flex-start;
  transform-origin: 50% 0%;
  transform: rotateX(180deg); /*from 180 to 0; */
  background-color: var(--card);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 0.5px solid var(--border);
  border-top: 0.5px solid var(--border);
}

.flipCard.unfold span {
  transform: translateY(-50%);
}

.flipCard.fold {
  top: 0%;
  align-items: flex-end;
  transform-origin: 50% 100%;
  transform: rotateX(0deg); /* from 0 to -180 */
  background-color: var(--card);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 0.5px solid var(--border);
  border-bottom: 0.5px solid var(--border);
}

.flipCard.fold span {
  transform: translateY(50%);
}

.fold {
  animation: fold cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.6s 0s 1 normal
    forwards;
  transform-style: preserve-3d;
}

.unfold {
  /* @include animate(unfold, $easeInOut, 0.6s) */
  animation: unfold cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.6s 0s 1 normal
    forwards;
  transform-style: preserve-3d;
}

@keyframes fold {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes unfold {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
